{% extends "character_sheet/show.html.twig" %}

{% trans_default_domain 'thaumaturge' %}

{% set thaumaturge = character.lesserTemplate %}

{% block header %}
  {% include "character_sheet_type/thaumaturge/header/show.html.twig" %}
{% endblock %}

{% block subtraits %}
{{ parent() }}
<div class="row p-1">
  <div class="col-6">
    <div class="block user-select-none p-2">
      <h4 class="pt-1">
        {% include "_icon.html.twig" with {icon: 'tradition'} %}
        {{ 'tradition.weaknesses'|trans }}
        {% include "_icon.html.twig" with {icon: 'manacles'} %}
      </h4>
      {{ thaumaturge.tradition.weaknesses|default("")|markdown_to_html }}
    </div>
  </div>
  <div class="col-6">
    <div class="block user-select-none p-2">
      <h4 class="pt-1">
        {% include "_icon.html.twig" with {icon: 'tradition'} %}
        {{ 'tradition.strengths'|trans }}
        {% include "_icon.html.twig" with {icon: 'manacles'} %}
      </h4>
      {{ thaumaturge.tradition.strengths|default("")|markdown_to_html }}
    </div>
  </div>
</div>
{% endblock %}

{% block powers %}
  <div id="thaumaturge" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/thaumaturge/powers/show.html.twig" %}
  </div>
{% endblock %}

{% block specialTab %}
  {% include "_tab.html.twig" with {name: 'thaumaturge', icon: 'type/thaumaturge' , label: 'thaumaturge'|trans({}, 'content-type')} only %}
{% endblock %}