{% extends "base.html.twig" %}

{% block title %}Party - {{ chronicle.name }}{% endblock %}

{% block body %}
<h1>Party {{ chronicle.name }}</h1>
<div class="container">
  <div class="row block">
    <h2>Players</h2>
    {% for player in chronicle.players %}
      {% set character = chronicle.character(player) %}
      {% if character %}
        {% include "character/_card.html.twig" with {'showPlayer' : true, 'showChronicle' : 0} %}
      {% else %}
        <div class="col-6 col-lg-2 mb-3">
          <a class="btn btn-primary w-100 h-100 {% if app.user.id != player.id %} disabled{% endif %}" {% if app.user.id == player.id %}href="{{path('character_new', {'chronicle': chronicle.id })}}"{% endif %} href="#">
            <div class="character-frame character-frame-list position-relative text-center mb-2">
              <img class="p-1" src="{{ asset('default.jpg', 'characters') }}" height="50">
            </div>
            {% if app.user.id == player.id %}
              Create Character
            {% else %}
              {{ player.username }} - No Character
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="row">
    {% if app.user.id == chronicle.storyteller.id|default(0) %}
      <div class="col-6">
        <a class="btn btn-primary w-100 m-2" href="{{path('chronicle_add_player', {'id': chronicle.id })}}">
          <div class="character-frame character-frame-list position-relative text-center mb-2">
            <img class="p-1" src="{{ asset('default.jpg', 'characters') }}" height="50">
          </div>
          <i class="fa-solid fa-user-plus"></i> Add a Player
        </a>
      </div>
      <div class="col-6">
        <a class="btn btn-primary w-100 m-2" href="{{path('chronicle_remove_player', {'id': chronicle.id })}}">
          <div class="character-frame character-frame-list position-relative text-center mb-2">
            <img class="p-1" src="{{ asset('default.jpg', 'characters') }}" height="50">
          </div>
          <i class="fa-solid fa-user-minus"></i> Remove a Player
        </a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}