{% extends "base.html.twig" %}

{% trans_default_domain 'chronicle' %}

{% block title %}Party -
	{{ chronicle.name }}
{% endblock %}

{% block shortcuts %}
  {% include "_back.html.twig" with {link: path('chronicle_show', {id: chronicle.id}) } %}
{% endblock %}

{% block body %}
	<div class="container-fluid container-lg py-3">
		<div class="row">
			<div class="block">
				<h1 class="strong pt-2">
					{% include "_icon_setting.html.twig" with {setting: chronicle.type } only %}
					{{ chronicle.name }}
				</h1>
				<h2 class="pb-5">
					{% include "_icon.html.twig" with {icon: 'party'} only %}
					{{ 'party.label'|trans }}
				</h1>
				<h2 class="py-4 bdr-b">{{ "party.members"|trans }}</h2>
        <div class="row justify-content-center">
          {% for player in chronicle.players %}
            {% set character = chronicle.character(player) %}
            {% if character %}
              {% include "character/_card.html.twig" with {showPlayer : true, 'showChronicle' : 0} %}
            {% else %}
              <div class="col-6 col-lg-2 mb-3">
                <a class="btn btn-primary w-100 h-100 {% if app.user.id != player.id %} disabled{% endif %}" {% if app.user.id == player.id %} href="{{path('character_new', {chronicle: chronicle.id, isAncient: chronicle.isAncient|default(0) }) }}" {% endif %} href="#">
                  <div class="character-frame character-frame-list position-relative text-center mb-2 rounded">
                    <img class="p-1 rounded" src="{{ asset('default.jpg', 'characters') }}" height="50">
                  </div>
                  {% if app.user.id == player.id %}
                    Create Character
                  {% else %}
                    {{ player.username }}
                    - No Character
                  {% endif %}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <h2 class="py-4 bdr-b">{{ "party.not.members"|trans }}</h2>
        <div class="row justify-content-center">
          {% for character in chronicle.otherPlayerCharacters %}
            {% include "character/_card.html.twig" with {showPlayer : true, 'showChronicle' : 0} %}
          {% endfor %}
        </div>
        <div class="row">
          {% if app.user.id == chronicle.storyteller.id|default(0) %}
            <div class="col-6">
              <a class="btn btn-primary w-100 m-2" href="{{ path('chronicle_add_player', {id: chronicle.id }) }}">
                <div class="character-frame character-frame-list position-relative text-center mb-2 rounded">
                  <img class="p-1 rounded" src="{{ asset('default.jpg', 'characters') }}" height="50">
                </div>
                <i class="fa-solid fa-user-plus"></i>
                Add a Player
              </a>
            </div>
            <div class="col-6">
              <a class="btn btn-primary w-100 m-2" href="{{ path('chronicle_remove_player', {id: chronicle.id }) }}">
                <div class="character-frame character-frame-list position-relative text-center mb-2 rounded">
                  <img class="p-1 rounded" src="{{ asset('default.jpg', 'characters') }}" height="50">
                </div>
                <i class="fa-solid fa-user-minus"></i>
                Remove a Player
              </a>
            </div>
          {% endif %}
        </div>
			</div>
		</div>
	</div>
{% endblock %}
