{% trans_default_domain 'arcanum' %}

{% set isInferior = arcanum is same as(character.path.inferiorArcanum) %}
{% set isRuling = character.rulingArcanum(arcanum) %}
{% if character.legacy and character.legacy.arcanum == arcanum %}
  {% set isPrimary = true %}
{% endif %}

<div class="col-12 col-md-6 col-xl-4 justify-content-center py-2 {% if isRuling or isPrimary|default(false) %}order-first{% elseif isInferior %}order-last{% endif %}">
  <div class="{% if customBlock is defined %}{{ customBlock }}{% else %}block text-color p-2{% endif %}">
    <div class="row align-items-center user-select-none">
      <div class="col-12 arcana-header text-center py-2">
        <h2 class="text-color">
          {% include "_icon.html.twig" with { icon: 'arcana/' ~ arcanum.identifier } %}
          {{ arcanum.name }}
        </h2>
        {% if isRuling or isPrimary|default(false) %}
          <span class="text-strong">
            {{ "ruling"|trans }}
            ({{ "max.ruling"|trans }})
          </span>
        {% elseif isInferior %}
          <span class="ko">
            {{ "inferior"|trans }}
            ({{ "max.inferior"|trans }})
          </span>
        {% else %}
          ({{ "max.common"|trans }})
        {% endif %}
      </div>
      <div class="col-12 text-center">
        <div class="my-1" role="group" {% block controller %} {% endblock %} {% block data %} {% endblock %}> {% block input %}{% endblock %}
          <div class="dots">
            {% for value in 1..max %}
              {% if value >= 5 and value % 5 == 1 %}
              </div>
              <div class="dots">
              {% endif %}
              {% block dot %}{% endblock %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% block new_rote %}{% endblock %}
    </div>
  </div>
</div>
