{% trans_default_domain 'app' %}

<div class="{% if currentNote is  defined and currentNote is same as(note) %}show{% endif %} collapse note" id="note-{{ note.id }}" data-bs-parent="#note-list">
  <div class="note-content position-relative">
    <div class="note-header">
      <h5 class="note-title">{% include "_icon.html.twig" with {'icon' : 'note' } %} {{ note.assignedAt|format_datetime('full', 'none') }}</h5>
    </div>
    <div class="note-body p-3">
      {{ note.content|markdown_to_html }}
    </div>
    <div class="note-footer container py-4">
      <div class="row">
        <div class="col-12 pb-3">
          {% if note.character %}
            <a class="btn btn-primary" href="{{ path('character_show', {'id': note.character.id}) }}">
              <img src="{{ asset(note.character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="80">
              {% include "_icon.html.twig" with {'icon' : note.character.type } %} 
              {{ note.character.name }}
              </a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        {% for linkedNote in note.notes %}
          <div class="col-12 col-md-6 col-lg-4">
            {% if linkedNote.category == note.category %}
              <button type="button" class="btn btn-primary w-100" data-bs-toggle="collapse" data-bs-target="#note-{{ linkedNote.id }}">
                {% include "_icon.html.twig" with {'icon' : 'note' } %}
                {{ linkedNote.title }}
              </button>
            {% else %}
              <a type="button" class="btn btn-primary w-100" href="{{ path('chronicle_note_view', {'id': linkedNote.id}) }}">
                {% include "_icon.html.twig" with {'icon' : 'note' } %}
                {{ linkedNote.title }} [ {{ linkedNote.category|default('/') }} ]
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
      <a class="btn btn-primary position-absolute end-0 top-0" href="{{ path('note_edit', {'id': note.id}) }}">{% include "_icon.html.twig" with {'icon': 'edit'} only %}</a>
      <a class="position-absolute bottom-0 end-0" href="{{ path('note_delete', {'id': note.id}) }}" onclick="return confirm('{{ 'note.delete.confirm'|trans }}');">{% include "_icon.html.twig" with {'icon': 'delete'} only %}</a>
  </div>
</div>