{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% set title = 'note.search.label'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row mb-3 justify-content-end">
    <div class="col-2">
      <a href="{{ path('chronicle_notes', {'id': chronicle.id} ) }}" class="btn btn-sm btn-menu btn-primary w-100">
        {% include "icon.html.twig" with {'icon': 'back', 'hasTips': 0} only %}
      </a>
    </div>
  </div>
  <div class="row block">
    <h1 class="text-center mt-3">
      {{ chronicle }}
    </h1>
    <h2 class="text-center mt-3">
      {{ title }}
      {% include "icon.html.twig" with {'icon': 'folder', 'hasTips': 0} only %}
    </h2>
    <div class="col">
      {{ form(form) }}
    </div>
  </div>
  <div id="note-list" class="row block p-5">
    <div class="col-12 my-2 text-center">
      {% if notes is not null and notes is empty %}
        {{ "note.search.nothing"|trans }}
        <img height="80" src="{{ asset('rabbit_idle.gif', 'images') }}">
      {% elseif notes is not null %}
        <div class="">
          {{ "note.search.found"|trans }}
          <img height="80" src="{{ asset('rabbit_idle.gif', 'images') }}">
        </div>
        {% for note in notes %}
          <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#note-{{ note.id }}">
            {% include "icon.html.twig" with {'icon' : 'note', 'hasTips': 0 } %}
            {{ note.title ~ ' - ' ~ note.category|default('/') }}
          </button>
        {% endfor %}
        {% for note in notes %}
          {% include "notes/card.html.twig" %}
        {% endfor %}
      {% else %}
        <img height="80" src="{{ asset('rabbit_idle.gif', 'images') }}">
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
