{% trans_default_domain 'character' %}

{% extends "character/sheet/attribute.html.twig" %}

{% block controller %}data-controller="dot"{% endblock %}

{% block data %}data-dot-base-value="{{ base }}" data-dot-min-value="{{ min }}" data-type="attribute" data-name="{{ ("attribute." ~ attribute)|trans }}"{% endblock %}

{% block input %}
  {{ form_row(attribute(form.attributes, attribute), {'attr': {'value': base, 'data-dot-target': 'input', 'data-character--edit-target': 'dot' }}) }}
{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check" id="{{ attribute ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
  <label class="btn dot {% if value <= min %}dot-locked{% endif %}" for="{{ attribute ~ '-' ~ value }}" 
    data-action="click->dot#activate click->character--edit#pay"
    data-dot-value-param="{{ value }}"
    data-character--edit-value-param="{{ value }}"
    data-character--edit-min-param="{{ min }}"
    data-character--edit-name-param="{{ ("attribute." ~ attribute)|trans }}"
    data-character--edit-type-param="attribute">
  </label>
{% endblock %}
