{% trans_default_domain 'character' %}

{{ form_start(form, {'attr': {'data-controller': 'character--merits character--edit', 'data-action': 'character--edit:change->character--merits#checkPrerequisite', 'data-character--edit-total-value': character.xpTotal, 'data-character--edit-used-value': character.xpUsed}}) }}
  <input class="xpLogs" value="" type="hidden" name="character[xpLogs]" data-character--edit-target="xpLogs">
  <div class="container block py-3 mt-5 g-0">
    {{ include('character/sheet/header.html.twig') }}
    {{ include('character/edit/menu.html.twig') }}
    <div data-controller="tabs" data-tabs-initial-value="general">
      <ul class="nav tabs row g-0 my-2">
        {% include "tab.html.twig" with {'name': 'general', 'domain': 'character'} only %}
        {% include "tab.html.twig" with {'name': 'merits', 'domain': 'character'} only %}
        {% include "tab.html.twig" with {'name': character.type, 'domain': 'character'} only %}
      </ul>
      <div id="general" data-tabs-target="page">
        {{ include('character/edit/attributes.html.twig') }}
        {{ include('character/edit/skills.html.twig') }}
      </div>
      <div id="merits" data-tabs-target="page">
        {{ include('character/edit/merits.html.twig') }}
      </div>
      <div id="{{ character.type }}" data-tabs-target="page">
        {% if character.type != 'human' %}
          {{ include(character.type ~ '/edit/special.html.twig') }}
        {% endif %}
      </div>
    </div>
  </div>
{{ form_end(form) }}
