{% extends "character/sheet/skill.html.twig" %}

{% trans_default_domain 'character' %}

{% block controller %}data-controller="dot"{% endblock %}

{% block data %}data-dot-base-value="{{ base }}" data-dot-min-value="{{ min }}" data-type="skill" data-name="{{ ("skill." ~ skill)|trans }}"{% endblock %}

{% block specialty %}
  <span role="button" data-action="click->character--edit#newSpecialty" data-character--edit-skill-param="{{ skill }}" data-character--edit-trans-param="{{ ("skill." ~ skill)|trans }}">{% include "icon.html.twig" with {'icon': 'add-specialty' } only %}</span>
{% endblock %}

{% block input %}
  {{ form_row(attribute(form.skills, skill), {'attr': {'value': base, 'data-dot-target': 'input', 'data-character--edit-target': 'dot' }}) }}
{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check {{ 'dots-' ~ skill }}" id="{{ skill ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
  <label class="btn dot{% if value <= min %} dot-locked{% endif %}" for="{{ skill ~ '-' ~ value }}"
    data-action="click->dot#activate click->character--edit#pay"
    data-dot-value-param="{{ value }}"
    data-character--edit-value-param="{{ value }}"
    data-character--edit-min-param="{{ min }}"
    data-character--edit-name-param="{{ ("skill." ~ skill)|trans }}"
    data-character--edit-type-param="skill">
  </label>
{% endblock %}

{% block specialties %}
  <div id="{{ skill ~ "specialties" }}" class="row align-items-center px-2">
    <div class="col ps-5">
      {% for specialty in specialties %}
        <li>{{ specialty.name }}</li>
      {% endfor %}
    </div>
  </div>
{% endblock %}