{% trans_default_domain 'character' %}
{% set specialties = attribute(character, 'skillSpecialties', [skill]) %}

<div class="row align-items-center px-2">
  <div class="col">
    {% include "icon.html.twig" with {'icon' : skill, 'hasTips': 0 } only %}
    {{ ("skill." ~ skill)|trans }}
  </div>
  <div class="col-auto">
    <div class="my-1" role="group" data-controller="dot" data-dot-base-value="{{ base }}" data-dot-min-value="{{ min }}" data-type="skill" data-name="{{ ("skill." ~ skill)|trans }}">
      <span role="button" data-action="click->character--edit#newSpecialty" data-character--edit-skill-param="{{ skill }}" data-character--edit-trans-param="{{ ("skill." ~ skill)|trans }}">{% include "icon.html.twig" with {'icon': 'add-specialty' } only %}</span>
      {{ form_row(attribute(form.skills, skill), {'attr': {'value': base, 'data-dot-target': 'input', 'data-character--edit-target': 'dot' }}) }}
      <div class="dots">
        {% for value in 1..max %}
          {% if value > 1 and value % 5 == 1 %}
          </div>
            <div class="dots">
          {% endif %}
          <input type="checkbox" class="btn-check {{ 'dots-' ~ skill }}" id="{{ skill ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
          <label class="btn dot{% if value <= min %} dot-locked{% endif %}" for="{{ skill ~ '-' ~ value }}"
            data-action="click->dot#activate click->character--edit#pay"
            data-dot-value-param="{{ value }}"
            data-character--edit-value-param="{{ value }}"
            data-character--edit-min-param="{{ min }}"
            data-character--edit-name-param="{{ ("skill." ~ skill)|trans }}"
            data-character--edit-type-param="skill">
          </label>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="{{ skill ~ "specialties" }}" class="row align-items-center px-2">
  <div class="col ps-5">
    {% for specialty in specialties %}
      <li>{{ specialty.name }}</li>
    {% endfor %}
  </div>
</div>