{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% set footer = true %}

{% block bodyData %}
{% endblock %}

{% block title %}{{ chronicle.name }} - notes{% endblock %}

{% block body %}
<div class="container py-3 mt-5">
  <div class="row mb-3 justify-content-end block">
    <div class="col-12 my-2 text-center">
        {% if categories is empty %}
          <img height="80" src="{{ asset('rabbit_idle.gif', 'images') }}">
        {% else %}
          {% for category in categories %}
            <a class="btn btn-primary {% if current == category %}active{% endif %}" href={{ path('chronicle_notes', {'id': chronicle.id, 'category': category.id}) }}>{% include "icon.html.twig" with {'icon' : 'folder', 'hasTips': 0 } %} {{ category }}</a>
          {% endfor %}
        {% endif %}
    </div>
  </div>
  {% if current is not null %}
    <h3>{% include "icon.html.twig" with {'icon' : 'folder', 'hasTips': 0 } %}{{ current }}</h3>
    <div class="row block">
      <div class="col-12 my-2 text-center">
        {% if notes is empty %}
          <img height="80" src="{{ asset('rabbit_idle.gif', 'images') }}">
        {% else %}
          {% for note in notes %}
            <a class="btn btn-primary" href="#">{% include "icon.html.twig" with {'icon' : 'note', 'hasTips': 0 } %} {{ note.title }}</a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('chronicle_note_new', {'id': chronicle.id}) }}">
          <span class="d-none d-md-inline">{% include "icon.html.twig" with {'icon' : 'add', 'hasTips': 0 } only %}</span>
          {% include "icon.html.twig" with {'icon' : 'note', 'hasTips': 1 } only %}
        </a>
        <a class="btn btn-primary" href="{{ path('chronicle_note_category_new', {'id': chronicle.id}) }}">
          <span class="d-none d-md-inline">{% include "icon.html.twig" with {'icon' : 'add', 'hasTips': 0 } only %}</span>
          {% include "icon.html.twig" with {'icon' : 'folder', 'hasTips': 1 } only %}
        </a>
      </div>
  </div>
{% endblock %}
