{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% set footer = true %}
{% set title = "label.multi"|trans({}, 'note') %}

{% block bodyData %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container py-3 mt-5">
  <div class="row mb-3 justify-content-end">
    <div class="col-2">
      <a href="{{ path('chronicle_show', {'id': chronicle.id} ) }}" class="btn btn-sm btn-menu btn-primary w-100">
        {% include "_icon.html.twig" with {icon: 'back'} only %}
      </a>
    </div>
  </div>
  <div class="row mb-3 justify-content-end block">
    <h1 class="text-center mt-3">
      {{ chronicle }}
    </h1>
    <h2 class="text-center mt-3">
      {{ title }}
      {% include "_icon.html.twig" with {icon: 'folder'} only %}
    </h2>
    <div class="col-12 my-2 text-center">
      <a class="btn btn-primary {% if current is null %}active{% endif %}" href={{ path('chronicle_notes', {'id': chronicle.id, 'category': null}) }}>{% include "_icon.html.twig" with {icon : 'folder' } %}/</a>
      <a class="btn btn-primary" href={{ path('chronicle_notes_search', {'id': chronicle.id}) }}>{% include "_icon.html.twig" with {icon : 'search' } %} {{ 'action.search'|trans }}</a>
    </div>
    <div class="col-12 my-2 text-center">
        {% if categories is empty %}
          <img height="80" src="{{ asset('rabbit_idle.gif', 'images') }}">
        {% else %}
          {% for category in categories %}
            <a class="btn btn-primary {% if current == category %}active{% endif %}" href={{ path('chronicle_notes', {'id': chronicle.id, 'category': category.id}) }}>{% include "_icon.html.twig" with {icon : 'folder' } %} {{ category }}</a>
          {% endfor %}
        {% endif %}
    </div>
  </div>
  <div id="note-list" class="row block p-5">
    <div class="col-12 my-2">
      {% if notes is empty %}
        <img height="80" src="{{ asset('rabbit_idle.gif', 'images') }}">
      {% else %}
        {% for note in notes %}
          <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#note-{{ note.id }}">
            {% include "_icon.html.twig" with {icon : 'note' } %}
            {{ note.title }}
          </button>
        {% endfor %}
        {% for note in notes %}
          {% include "notes/_card.html.twig" %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
      <a class="btn btn-primary me-1" href="{{ path('chronicle_note_category_new', {'id': chronicle.id}) }}">
        <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'folder.new'|trans({}, 'note') }}">
          {% include "_icon.html.twig" with {icon : 'add' } only %}
          {% include "_icon.html.twig" with {icon : 'folder' } only %}
        </span>
      </a>
      {% if current is not null and notes is not empty %}
        <a class="btn btn-primary" href="{{ path('chronicle_note_category_edit', {'id': chronicle.id, 'category': current.id}) }}">
          <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'folder.edit'|trans({}, 'note') }}">
            {% include "_icon.html.twig" with {icon : 'edit' } only %}
            {% include "_icon.html.twig" with {icon : 'folder' } only %}
          </span>
        </a>
      {% elseif current is not null and notes is empty %}
        <a class="btn btn-primary" href="{{ path('chronicle_note_category_delete', {'id': chronicle.id, 'category': current.id}) }}">
          <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'folder.delete'|trans({}, 'note') }}">
            {% include "_icon.html.twig" with {icon : 'delete' } only %}
            {% include "_icon.html.twig" with {icon : 'folder' } only %}
          </span>
        </a>
      {% endif %}
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('chronicle_note_new', {'id': chronicle.id}) }}">
          <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'new'|trans([], 'note') }}">
            {% include "_icon.html.twig" with {icon : 'add' } only %}
            {% include "_icon.html.twig" with {icon : 'note' } only %}
          </span>
        </a>
      </div>
  </div>
{% endblock %}
