{% trans_default_domain 'character' %}

{% block advantages %}
{% set initiative = character.initiativeDetails %}
{% set defense = character.defenseDetails %}
{% set speed = character.speedDetails %}
<div class="col-4 col-lg-2">
  <span class="d-none d-md-inline">{{ "advantage.size"|trans }}</span>
  {% include "_icon.html.twig" with {'icon': 'size', 'hasTips': true} only %}
  <span id="size">{{ character.size }}</span>
</div>
<div class="col-4 col-lg-2" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "advantage.speed.tooltip"|trans(speed.details) }}">
  <span class="d-none d-md-inline">{{ "advantage.speed.label"|trans }}</span>
  {% include "_icon.html.twig" with {'icon': 'speed'} only %}
  <span id="speed">{{ "advantage.speed.value"|trans({'speed': speed.total }) }}</span>
</div>
<div class="col-4 col-lg-2" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "advantage.initiative.tooltip"|trans(initiative.details) }}">
  <span class="d-none d-md-inline">{{ "advantage.initiative.label"|trans }}</span>
  {% include "_icon.html.twig" with {'icon': 'initiative', 'hasTips' : 0 } only %}
  <span id="initiative">{{ initiative.total }}</span>
</div>
<div class="col-4 col-lg-2" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "advantage.defense.tooltip"|trans(defense.details) }}">
  <span class="d-none d-md-inline">{{ "advantage.defense.label"|trans }}</span>
  {% include "_icon.html.twig" with {'icon': 'defense'} only %}
  <span id="defense">{{ defense.total }}</span>
</div>
<div class="col-4 col-lg-2">
  <span class="d-none d-md-inline">{{ "advantage.armor"|trans }}</span>
  {% include "_icon.html.twig" with {'icon': 'armor', 'hasTips': true} only %}
  <span id="armor">0</span>
</div>
<div class="col-4 col-lg-2 fw-bold">
  {% include "_icon.html.twig" with {'icon': 'xp', 'hasTips': true} only %}<span class="d-none d-md-inline">{{ "xp.label"|trans }}</span>
  <span id="xp-used" data-character--experience-target="used">{{ character.xpTotal - character.xpUsed }}</span>/<span id="xp-total" data-character--experience-target="total">{{ character.xpTotal }}</span>
  <span role="button" data-bs-toggle="modal" data-bs-target="#xpAddModal">{% include "_icon.html.twig" with {'icon': 'add', 'hasTips': true} only %}</span>
</div>
{% endblock %}