{% trans_default_domain 'character' %}

{% block header %}
<div class="row block p-2 pb-4">
  {% block name %}
    <h1 class="text-center text-stylized text-strong">
      {{ character.name }}
    </h1>
    <h2>
      {% if character.player is not null and app.user != character.player %}
        ({{ character.player }})
      {% elseif character.isPremade == true %}
        {% include "_icon.html.twig" with {icon: 'premade', class: 'icon-xl',  label: "premade.label.single"|trans} %}
      {% endif %}
    </h2>
  {% endblock %}
  <div class="order-2 order-md-1 col-6 col-md text-center text-strong">
    {% block leftCol %}
      <div class="row">
        <div class="col-12">
          {% block age %}
            {% if character.lookAge is defined and character.lookAge != character.age %}
              {{ "age.normal"|trans({"%age%": character.age|default(0)}, 'character') }}
              ({{ "age.looks.value"|trans({"%looks%": character.lookAge}, 'character') }})
            {% elseif character.age is defined %}
              {{ "age.normal"|trans({"%age%": character.age}, 'character') }}
            {% endif %}
          {% endblock %}
        </div>
        <div class="col-12">
          {% block virtue %}
            {% include "_icon.html.twig" with {icon: 'virtue'} %}
            {{ "virtue.label.single"|trans }}: {{ character.virtue }} {% if character.virtueDetail %}({{ character.virtueDetail }}){% endif %}
          {% endblock %}
        </div>
        <div class="col-12">
          {% block vice %}
            {% include "_icon.html.twig" with {icon: 'vice'} %}
            {{ "vice.label.single"|trans }}: {{ character.vice }} {% if character.viceDetail %}({{ character.viceDetail }}){% endif %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
  {% block midCol %}
    <div class="order-1 order-md-2 col-12 col-md">
      <div class="row text-center">
        {% block details %}{% endblock %}
        <div class="col-12 d-flex my-2" data-bs-toggle="tooltip" title="{{ 'avatar.change'|trans }}">
          <div role="button" data-bs-toggle="modal" data-bs-target="#avatarModal" class="character-frame character-frame-avatar position-relative rounded">
            <img class="p-1 rounded" data-character--avatar-target="avatar" src="{{ asset(character.avatar , 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="100">
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  {% block right %}
    <div class="order-3 order-md-3 col-6 col-md text-center text-strong">
      <div class="row">
        <div class="col-12">
          {{ "Concept"|trans }}: {{ character.concept }}
        </div>
        <div class="col-12">
          {{ "Chronicle"|trans }}: {{ character.chronicle }}
        </div>
        <div class="col-12">
          {{ "faction"|trans }}: {{ character.faction }}
        </div>
        <div class="col-12">
          {{ "group"|trans }}: {{ character.groupName }}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
{% endblock %}