{% trans_default_domain 'character' %}

<div class="position-relative overflow-y-hidden" data-controller="tabs" data-tabs-initial-value="{{ subTab }}">
  <ul class="nav tabs row g-0">
    {% include "_tab.html.twig" with {'name': 'picture', 'domain': 'character'} only %}
    {% include "_tab.html.twig" with {'name': 'description', 'domain': 'character'} only %}
    {% include "_tab.html.twig" with {'name': 'background', 'domain': 'character'} only %}
    {% include "_tab.html.twig" with {'name': 'informations', 'domain': 'character'} only %}
  </ul>
  <div class="block position-relative overflow-y-hidden">
    <img class="character-background-avatar z-n1 position-absolute top-0 w-100 p-0" src="{{ asset(character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;">
    <div id="picture" class="tab-content d-flex justify-content-center" data-tabs-target="page">
      <img class="vh-50" src="{{ asset(character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;">
    </div>
    <div id="description" class="tab-content" data-tabs-target="page">
      <div class="row justify-content-center">
        <a class="d-block text-end" href="{{ path('character_basic_infos_edit', {'id': character.id, 'type': 'description'}) }}">
          {% include "_icon.html.twig" with {'icon' : "edit", 'hasTips' : 0} only %}
          {{ "infos.description"|trans }}
        </a>
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
          {% if character.description != "" %}
            {{ character.description|markdown_to_html }}
          {% else %}
            <p>{{ "infos.none"|trans }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="background" class="tab-content" data-tabs-target="page">
      <a class="d-block text-end" href="{{ path('character_basic_infos_edit', {'id': character.id, 'type': 'background'}) }}">
        {% include "_icon.html.twig" with {'icon' : "edit", 'hasTips' : 0} only %}
        {{ "infos.background"|trans }}
      </a>
      {% if character.background != "" %}
        {{ character.background|markdown_to_html }}
      {% else %}
        <p>{{ "infos.none"|trans }}</p>
      {% endif %}
    </div>
    <div id="informations" class="tab-content" data-tabs-target="page">
      {% if character.chronicle is not null or character.characterAccesses is not empty %}
        <h3 class="text-light">{{ "infos.access.standard"|trans }}</h3>
        <a class="btn btn-primary w-100 mb-2" href="{{ path('character_access_add', {'id': character.id}) }}">
          {% include "_icon.html.twig" with {'icon' : "password", 'hasTips' : 0} only %}
          {{ "infos.access.add"|trans }}
        </a>
        {% for access in character.characterAccesses %}
          <div class="row my-2">
            <a class="btn btn-primary" href="{{ path('character_access_edit', {'id': character.id, 'accessor': access.accessor.id}) }}">
              <div class="col-12 justify-content-center">
                <img class="d-block m-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ access.accessor.name }}" src="{{ asset(access.accessor.avatar, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="40">
              </div>
              <div class="col">
                {% for right in access.rights %}
                  {% if right != access.rights|first %} | {% endif %}
                  {{ ('right.' ~ right)|trans }}
                {% endfor %}
              </div>
            </a>
          </div>
        {% endfor %}
        <hr>
      {% endif %}
      <h3 class="text-light">{{ "infos.access.other"|trans }}</h3>
      <a class="btn btn-primary w-100 mb-2" href="{{ path('character_infos_edit', {'id': character.id}) }}">
        {% include "_icon.html.twig" with {'icon' : "edit", 'hasTips' : 0} only %}
        {{ "infos.details.edit"|trans }}
      </a>
      {% if character.infos is not empty %}
        <div class="row">
        {% for info in character.infos %}
          <div class="col-12 col-md-6 pt-2">
            <div class="card info-card">
              <div class="card-header"><h4 class="text-light">{{ info.title }}</h4></div>
              <div class="card-body">{{ info.data|markdown_to_html }}</div>
              <div class="card-footer">
                {% for character in info.accessList %}
                  <img data-bs-toggle="tooltip" data-bs-placement="top" title="{{ character.name }}" src="{{ asset(character.avatar, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="40">
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <p>{{ "infos.none"|trans }}</p>
      {% endif %}
    </div>
  </div>
</div>
