{% trans_default_domain 'app' %}

<h3 class="text-center pt-1">{% include "_icon.html.twig" with {'icon': 'dice', 'hasTips': 0, 'class': 'icon-lg'} %}{{ 'rolls'|trans([], 'app') }}</h3>
{% for roll in rolls %}
  {% if roll.type == character.type or roll.type == null %}
    <div class="col-6">
      <div class="row">
        <h5>{{ roll.name }}
          {% if roll.book is not null %}({{ "src"|trans({'book' : roll.book.short, 'page' : roll.page })}})
          {% endif %}
        </h5>
        <div class="col-6 text-center">
          <span class="text-strong">
            {{ roll.actionName|trans }}
            {% if roll.isContested %},
              {{ "roll.action.contested"|trans}}
            {% endif %}
          </span>
        </div>
        <div class="col-6 text-center">
          <span class="">{% include "_dicePool.html.twig" with {'pool': character.detailedDicePool(roll.attributes, roll.skills), 'contested': roll.contestedText } %}</span>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}