{% extends "character_sheet/element/skill.html.twig" %}

{% trans_default_domain 'character' %}

{% block wrapper%}
  {% if specialties|length > 0 %}role="button" data-bs-toggle="collapse" data-bs-target="#{{ skill ~ "specialties" }}"{% endif %}
{% endblock %}

{% block data %}data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'skill.value'|trans({'value': base}) }}"{% endblock %}

{% block specialty %}
  {% if specialties|length > 0 %}
    {% include "_icon.html.twig" with {'icon': 'specialties', 'class': 'icon-sm accent' } only %}
  {% endif %}
{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check" id="{{ skill ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" {% if value <= base %}checked{% endif %} disabled>
  <label class="btn dot" for="{{ skill ~ '-' ~ value }}"></label>
{% endblock %}

{% block specialties %}
  <div id="{{ skill ~ "specialties" }}" class="collapse ps-3">
    <ul class="list-unstyled mb-1">
      {% for specialty in specialties %}
          <li>{% include "_icon.html.twig" with {'icon': 'specialty-item', 'class': 'icon-sm', 'hasTips': 0 } %} {{ specialty.name }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
