{% trans_default_domain 'discipline' %}

{% if devotion.usePotency %}
  {% set extra = {potency: character.potency|default(0)} %}
{% endif %}

{% set powerPool = character.detailedDicePool(devotion.attributes, devotion.skills, devotion.disciplines, extra|default([])) %}

<div class="col-12 col-md-6 col-xl-4 mt-3" data-search-target="item" data-name="{{ devotion.name }}" {% block data %}{% endblock %}>
  <div class="h-100 d-flex flex-column">
    <div class="rounded-top bdr card-content flex-fill"
      role="button"
      data-bs-toggle="modal" data-bs-target="#contentModal"
      data-action="click->content#load"
      data-content-name-param="{{ devotion.name }}"
      data-content-type-param="{{ "devotion.label.single"|trans }}"
      data-content-link-param="{{ link|default(path('vampire_devotion_show', {id: devotion.id})) }}"
    >
      <div class="card-header rounded-top">
        <h4>{{ devotion.name }}{% if devotion.homebrewFor is not null %}{% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent' } only %}{% endif %}</h4>
        <div class="row justify-content-between">
          <div class="col">
            {% if devotion.attributes is not empty or devotion.skills is not empty %}
              {% include "_dice_pool.html.twig" with {pool : powerPool, contested : devotion.contestedText} %}
            {% endif %}
          </div>
          {% if devotion.bloodline is not null %}
            <div class="col-auto text-strong">{{ devotion.bloodline.name }}</div>
          {% endif %}
          <div class="col text-end">
            {% if devotion.costs is not null %}
              {% include "vampire/discipline/powers/_cost.html.twig" with {costs: devotion.costs} only %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body d-flex flex-column p-1">
        <span class="accent text-strong">{% block prerequisites %}{% endblock %}</span>
        <div class="card-text flex-grow-1">
          <br>
          {% block text %}
            <div>
              <p>{{ devotion.short }}</p>
            </div>
          {% endblock %}
        </div>
      </div>
      {% block source %}
        <div class="pe-3 mb-1">
          {% include "_source_block.html.twig" with {element: devotion, 'isShort': 1, 'hasLink': 0, class: 'text-end fst-italic' } only %}
        </div>
      {% endblock %}
    </div>
    {% block input %}{% endblock %}
  </div>
</div>