{% trans_default_domain 'vampire' %}

{% set powerPool = character.detailedDicePool(devotion.attributes, devotion.skills, devotion.disciplines) %}

<div class="col py-2" data-search-target="item" data-name="{{ devotion.name }}">
  <div class="card devotion-card block h-100">
    <div class="card-header">
      <span class="float-start">
        <span {% if devotion.attributes is empty and devotion.skills is empty %}class="d-hide"{% endif %}>{% include "_dice_pool.html.twig" with {'pool' : powerPool, 'contested' : devotion.contestedText} %}</span>
      </span>
      <span class="float-end">
        {% include "vampire/discipline/powers/_cost.html.twig" with {costs: devotion.costs} only %}
      </span>
      <h4>{{ devotion.name }}{% if devotion.homebrewFor is not null %}{% include "_icon.html.twig" with {'icon' : 'homebrew', 'class': 'accent' } only %}{% endif %}</h4>
      <span class="float-end">{% if devotion.bloodline is not null %}<span class="accent">{{ devotion.bloodline.name }}</span>{% endif %}</span>
    </div>
    <div class="card-body d-flex flex-column">
      <span class="accent text-strong">{% block prerequisites %}{% endblock %}</span>
      <div class="card-text flex-grow-1" data-bs-toggle="collapse" data-bs-target=".devotion-{{ devotion.id }}-text" type="button" aria-expanded="false" aria-controls="devotion-{{ devotion.id }}-text">
      <br>
        {% block text %}
          <div class="devotion-{{ devotion.id }}-text show">
            <p>{{ devotion.short }}</p>
            <div class="w-100 text-center">{% include "_icon.html.twig" with {icon: 'caret-down'} only %}</div>
          </div>
          <div class="devotion-{{ devotion.id }}-text collapse">
            {{ devotion.description|default("")|markdown_to_html }}
            <div class="w-100 text-center">{% include "_icon.html.twig" with {icon: 'caret-up'} only %}</div>
          </div>
        {% endblock %}
      </div>
    </div>
    {% block input %}
    {% endblock %}
    <div class="text-end pe-3">
      {% include "_source.html.twig" with {'element': devotion, 'isShort': 1, 'hasTooltip': 1 } only %}
    </div>
  </div>
</div>