{% trans_default_domain 'vampire' %}

{% if devotion.usePotency %}
  {% set extra = {potency: character.potency|default(0)} %}
{% endif %}

{% set powerPool = character.detailedDicePool(devotion.attributes, devotion.skills, devotion.disciplines, extra|default([])) %}

<div class="col py-2" data-search-target="item" data-name="{{ devotion.name }}">
  <div class="card devotion-card block h-100">
    <div class="card-header">
      <span class="float-start">
        <span {% if devotion.attributes is empty and devotion.skills is empty %}class="d-hide"{% endif %}>{% include "_dice_pool.html.twig" with {'pool' : powerPool, 'contested' : devotion.contestedText} %}</span>
      </span>
      <span class="float-end">
        {% include "vampire/discipline/powers/_cost.html.twig" with {costs: devotion.costs} only %}
      </span>
      <h4>{{ devotion.name }}{% if devotion.homebrewFor is not null %}{% include "_icon.html.twig" with {'icon' : 'homebrew', 'class': 'accent' } only %}{% endif %}</h4>
      <span class="float-end">{% if devotion.bloodline is not null %}<span class="accent">{{ devotion.bloodline.name }}</span>{% endif %}</span>
    </div>
    <div class="card-body d-flex flex-column">
      <span class="accent text-strong">{% block prerequisites %}{% endblock %}</span>
      <div type="button" class="card-text flex-grow-1"
        data-bs-toggle="modal" data-bs-target="#devotionShowModal"
        data-action="click->vampire--devotion#show"
        data-vampire--devotion-id-param="{{ devotion.id }}"
        data-vampire--devotion-name-param="{{ devotion.name }}"
        data-vampire--devotion-effect-param="{{ devotion.description|markdown_to_html|e }}"
      >
        <br>
        {% block text %}
          <div>
            <p>{{ devotion.short }}</p>
          </div>
        {% endblock %}
      </div>
    </div>
    {% block input %}
    {% endblock %}
    {% block source %}
      <div class="pe-3 mb-1">
        {% include "_source_block.html.twig" with {'element': devotion, 'isShort': 1, 'class': 'text-end fst-italic' } only %}
      </div>
    {% endblock %}
  </div>
</div>