{% trans_default_domain 'app' %}

<div class="col-6 col-lg-2 mb-3" data-search-target="item" data-name="{{ character.name }}">
  <a class="text-center p-0 {{ character.type }} btn btn-primary d-block w-100 h-100" href="{{ path('character_show', {'id': character.id}) }}">
    <div class="character-card-header">
      {% if character.lesserTemplate %}
        {% include "_icon.html.twig" with {icon : "type/" ~ character.type, class: 'character-icon'} only %}
      {% else %}
        <img class="character-icon" src={% include "character/_icon.html.twig" %} />
      {% endif %}
      <div class="w-100 text-center text-strong">{{ character.type|trans({}, 'content-type') }}</div>
      <img class="character-icon" src={% include "chronicle/_icon.html.twig" with {"chronicle": character.chronicle} only %} />
    </div>
    <div class="character-card-name text-strong">
      {{ character.name }}
    </div>
    <div class="character-card-avatar position-relative text-center">
      <img src="{{ asset(character.avatar, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="80">
    </div>
    <div class="position-relative">
      <div class="d-flex flex-column justify-content-end h-100 text-strong">
        <div>
          {{ character.concept|default(' - ') }}
        </div>
        {% if showPlayer|default(0) %}
          <div>
            {{ character.player }}
        </div>
        {% endif %}
        <div class="accent">
          {% if showChronicle|default(1) and character.isPremade == false %}
            &nbsp; {{ character.chronicle }} &nbsp;
          {% elseif character.isPremade == true %}
            {% include "_source_block.html.twig" with {element: character, isShort: true, class: 'text-center text-muted'} %}
          {% endif %}
        </div>
        <div>
          PR: {{ character.powerRating }}
        </div>
      </div>
    </div>
  </a>
</div>