{% extends 'character/_card.html.twig' %}

{% trans_default_domain 'character' %}

{% set name = character.publicName(access.accessor) %}

{% if access.hasRight('type') %}
  {% set type = character.type %}
{% else %}
  {% set type = "human" %}
{% endif %}

{% block order %}{% if access.importance == 2 %}order-first{% elseif access.importance == 0 %}order-last{% endif %}{% endblock %}

{% block wrapper %}
  <button type="button" class="character-card text-center p-0 btn btn-primary d-block w-100 h-100 {% if access.hasRight('type')|default(false) %}{% if character.lesserTemplate %}lesser-border-accent{% endif %} {{ character.type }}{% else %}human{% endif %}"
    data-bs-toggle="modal" data-bs-target="#contentModal"
    data-action="click->content#load"
    data-content-url-param="{{ link|default(path('fetch_character_peek', {id: character.id, peeker: access.accessor.id})) }}" 
    data-content-name-param="{{ name }}"
    data-content-link-param="{{ link|default(path('character_peek', {id: character.id, peeker: access.accessor.id})) }}"
  >
  {% block content %}
    {{ parent() }}
  {% endblock %}
  </button>
{% endblock %}



{% block header %}
  {% include ["character/peeking/header/" ~ type ~ ".html.twig", "character/peeking/header/subtype.html.twig", "character/peeking/header/human.html.twig"] with {type: type}  %}
{% endblock %}

{% block name %}
  {% if name == "" %}
    <span class="warning">{{ "name.unknown"|trans }}</span>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block avatar %}
  <div class="position-relative">
    <img class="rounded" src={% if access.hasRight('avatar')|default(false) %}"{{ asset(character.avatar, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;"{% else %}"{{ asset('default.jpg', 'characters') }}"{% endif %} height="80">
    {% if access.hasRight('status')|default(false) %}
      {% if character.status == "dead" %}
        <img class="p-1 rounded avatar-overlay avatar-overlay-dead" src={% include "_setting_src.html.twig" with {setting: character.type} %}  />
      {% elseif character.status == "locked" %}
        {% include "_icon.html.twig" with {icon: 'prison', class: 'avatar-overlay avatar-overlay-locked icon-100'} %}
      {% elseif character.status == "unknown" %}
        {% include "_icon.html.twig" with {icon: 'uncertainty', class: 'avatar-overlay avatar-overlay-unknown icon-100'} %}
      {% elseif character.status == "torpor" %}
        {% include "_icon.html.twig" with {icon: 'stake', class: 'avatar-overlay avatar-overlay-torpor icon-100'} %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block details %}{% endblock %}
