{% trans_default_domain 'app' %}

<div class="col-6 col-lg-2 mb-3">
  <a class="text-center p-0 {{ chronicle.type }} btn btn-primary d-block w-100 h-100" href="{{ path('character_peek', {'id': character.id}) }}">
    <div class="character-card-name">
      {% if access.hasRight('firstname')|default(false) %}{{ character.firstname }}{% endif %}
      {% if access.hasRight('surname')|default(false) %}“{{ character.nickname }}”{% endif %}
      {% if access.hasRight('lastname')|default(false) %}{{ character.lastname }}{% endif %}
      {% if not access.hasRight('firstname') and not access.hasRight('surname') and not access.hasRight('lastname') %}<span class="warning">?</span>{% endif %}
      <p class="strong">{% if character.isNpc %}{{ "character.npc"|trans }}{% else %}({{ character.player }}){% endif %}</p>
    </div>
    <div class="character-card-avatar position-relative text-center">
      <img src={% if access.hasRight('avatar')|default(false) %}"{{ asset(character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;"{% else %}"{{ asset('default.jpg', 'characters') }}"{% endif %} height="80">
    </div>
    <div class="position-relative">
      <div class="d-flex flex-column justify-content-end h-100">
        {# <p>{{ character.concept}}</p> #}
        <p class="accent">
          {% if access.hasRight('faction')|default(false) %}{{ character.faction|default("—") }}{% else %}&nbsp;{% endif %}
          <br>
          {% if access.hasRight('group')|default(false) %}{{ character.groupName|default("—") }}{% else %}&nbsp;{% endif %}
        </p>
      </div>
    </div>
  </a>
</div>