{% trans_default_domain 'character' %}

<div class="col-6 col-lg-2 mb-3">
  <a class="text-center p-2 block {{ character.type }} d-block w-100 h-100" href="{{ path('character_show', {'id': character.id}) }}">
    {{ character.name }}
    <div class="character-frame character-frame-list position-relative text-center">
      <img class="p-1" src="{{ asset(character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="50">
    </div>
    {{ character.chronicle }}
  </a>
</div>