{% trans_default_domain 'app' %}

<div class="col-6 col-lg-2 mb-3">
  <a class="text-center p-0 {{ character.type }} btn btn-primary d-block w-100 h-100" href="{{ path('character_show', {'id': character.id}) }}">
    <div class="character-card-header">
      <img class="character-icon" src={% include "character/icon.html.twig" %} />
      <div class="w-100 text-center">{{ ('type.' ~ character.type)|trans }}</div>
    </div>
    <div class="character-card-avatar position-relative text-center">
      <img src="{{ asset(character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="80">
    </div>
    <div>
      <p>{{ character.name }}</p>
      <p>
        {% if showPlayer|default(1) %}
          ({{ character.player }})
        {% endif %}
        {% if showChronicle|default(1) %}
          {{ character.chronicle }}
        {% endif %}
      </p>
    </div>
  </a>
</div>