{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}{{ 'action.duplicate'|trans({}, 'app') }}{{ "premade.label.single"|trans }}{% endblock %}


{% block body %}
  <h1 class="py-3">
    {% include "_icon.html.twig" with {icon: 'clone'} %}
    {{ 'action.duplicate'|trans({}, 'app') }}
    {{ "premade.label.single"|trans }}
  </h1>
  <div class="container block py-3">
    <h2>{{ character.name }}</h2>
    {{ form(form) }}
  </div>
  
{% endblock %}


{% block javascripts %}
  {{ parent() }}

{% endblock %}