{% extends 'base.html.twig' %}

{% block title %}Characters
{% endblock %}

{% block body %}
{% if type == "human" %}
  <h1 class="text-center">Characters</h1>
{% else %}
  <h1 class="text-center">{{ type }}s</h1>
{% endif %}

<div class="block container">
  <div class="row">
    <div class="col"></div>
    <div class="col">Name</div>
    {% if type == "human" %}<div class="col">Race</div>{% endif %}
    <div class="col">Player</div>
    <div class="col">Concept</div>
    <div class="col">Chronicle</div>
  </div>
  <hr>
  {% for character in characters %}
    <div class="row" role="button" onclick='location.href="{{ path('character_show', {'id': character.id}) }}"'>
      <div class="col">
        <div class="character-frame character-frame-list position-relative text-center">
          <img class="p-1" src="{{ asset(character.id ~ '.jpg', 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="50">
        </div>
      </div>
      <div class="col">{{ character.name }}</div>
      {% if type == "human" %}<div class="col">{{ character.type }}</div>{% endif %}
      <div class="col">{{ character.player }}</div>
      <div class="col">{{ character.concept }}</div>
      <div class="col">{{ character.chronicle }}</div>
    </div>
    <hr>
  {% else %}
    <tr>
      <td colspan="11">no records found</td>
    </tr>
  {% endfor %}
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <a class="btn btn-sm btn-primary w-100 text-center" href="{{ path('character_new') }}">Create new</a>
    </div>
  </div>
</div>
{% endblock %}
