{% extends 'base.html.twig' %}

{% block title %}Character index
{% endblock %}

{% block body %}
<h1 class="text-center">Characters</h1>
<div class="block container">
  {% for character in characters %}
    <div class="row" role="button" onclick='location.href="{{ path('character_show', {'id': character.id}) }}"'>
      <div class="col">{{ character.name }}</div>
      <div class="col">{{ character.type }}</div>
      <div class="col">{{ character.player }}</div>
      <div class="col">{{ character.concept }}</div>
      <div class="col">{{ character.chronicle }}</div>
    </div>
  {% else %}
    <tr>
      <td colspan="11">no records found</td>
    </tr>
  {% endfor %}
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <a class="btn btn-sm btn-primary w-100 text-center" href="{{ path('character_new') }}">Create new</a>
    </div>
  </div>
</div>
{% endblock %}
