{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}New Character
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Create new Character</h1>
  {{ form_start(form, {'attr': {'data-controller': 'character--creation'}}) }}
    <a href="{{ path('character_index') }}">back to list</a>
    {{ include('character/sheet.html.twig') }}
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

{% endblock %}