<div class="container block py-3">
  {{ include('character/sheet/header.html.twig') }}
  {{ include('character/sheet/attributes.html.twig') }}
  {{ include('character/sheet/skills.html.twig') }}
  {{ include('character/sheet/advantages.html.twig') }}
  {{ include('character/sheet/merits.html.twig') }}
  {{ form_row(form.merits) }}
  <button class="btn">{{ button_label|default('Save') }}</button>
</div>
