{% extends 'form.html.twig' %}

{% trans_default_domain 'app' %}

{% if form.vars.data.id|default(null) != null %}
  {% set action = 'edit' %}
{% else %}
  {% set action = 'new' %}
{% endif %}
{% set organization = form.vars.data %}

{% block title %}{{  "action.#{action}"|trans }}{% endblock %}
{% block header %}{{  "action.#{action}"|trans }}{% include "_icon.html.twig" with {icon : 'path', class: 'icon-lg'} only %}{% endblock %}

{% block content_start %}
  {% if organization.emblem is not null %}
    <div class="row">
      <div class="col">
          <img class="logo" src="{{ asset(organization.emblem, 'organizations_emblems') }}" alt="{{ organization.name}}" height="200"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>{{ "emblem"|trans }}</h5>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block form %}
{{ parent() }}
{% endblock %}