{% extends "base.html.twig" %}


{% trans_default_domain 'organization' %}

{% set footer = true %}

{% if type != "organization" %}
{% set label = type ~ ".label.multi" %}
{% endif %}

{% block title %}
	{{ label|default("label.multi")|trans }}
{% endblock %}

{% block bodyData %}
	data-controller="search" data-search-type-value="{{ type }}"
{% endblock %}

{% block body %}
	{% include "_back.html.twig" with {'link': path('wiki_index')} %}
	<h1 class="user-select-none pt-3">
		{% include "_icon.html.twig" with {'icon' : 'covenant', 'class' : "icon-lg" } only %}
		{{ label|default("label.multi")|trans }}
	</h1>
	<div class="container">
		<div class="row mb-3">
			<div class="col-12">
				<div class="col-auto">
					<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="true" aria-controls="collapseToc">
						<h4 class="d-inline-block text-start">{{ "toc"|trans({}, 'wiki') }}</h4>
					</a>
					<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="true" aria-controls="collapseDescription">
						<h4 class="d-inline-block text-start">{{ "description"|trans({}, 'wiki') }}</h4>
					</a>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			{# <div id="collapseToc" class="col-auto collapse">
				<ul class="toc block ps-4 pe-2">
					{% if organizations is defined and organizations is not empty %}
						<p class="mt-2">{{ "label.multi"|trans }}</p>
						{% for organization in organizations %}
							<li>
								<a href="#{{ organization.name }}">{{ organization.name }}</a>
							</li>
						{% endfor %}
					{% endif %}
					{% if bloodlines is defined %}
						<p class="mt-2">{{ "bloodline.label.multi" }}</p>
						{% for bloodline in bloodlines %}
							<li>
								<a href="#{{ bloodline.name }}">{{ bloodline.name }}</a>
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div> #}
			<div id="collapseDescription" class="collapse col">
				<div class="block block-wiki p-2">
					{{ description.value|default("")|markdown_to_html }}
				</div>
			</div>
		</div>
		{% if organizations is defined and organizations is not empty %}
			<div class="row">
				{% for organization in organizations %}
					{% include setting ~ "/organization/_card.html.twig" with {'organization' : organization} only %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block footerContent %}
	<div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon">
      {% include "_icon.html.twig" with  {icon: 'search'} %}
    </span>
    <input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
		<div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
			<span class="fa-layers fa-fw">
				<i class="fa-solid fa-circle"></i>
				<span class="ok footer-collapse collapse">
					<i class="fa-solid fa-lg fa-circle-chevron-down"></i>
				</span>
				<span class="ok footer-collapse collapse show ">
					<i class="fa-solid fa-lg fa-circle-chevron-up"></i>
				</span>
			</span>
		</div>
		{% if is_granted('ROLE_ST') %}
			<div class="ms-auto">
				<a class="btn btn-primary" href="{{ path('organization_new', {setting: setting, type: item.filter|default(null), id: item.id|default(null)}) }}">
					{% include "_icon.html.twig" with {icon : 'add' } only %}
					<span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'covenant' } only %}</span>
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
