{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block title %}{{ "register.label"|trans }}{% endblock %}

{% block body %}
  <div class="d-flex align-items-center vh-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-4 block text-center">
          {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
          {% endfor %}

          <h1>
            {% include "_icon.html.twig" with {'icon': 'register', 'class': 'icon-lg'} %}
            {{ "register.label"|trans }}
          </h1>

          {{ form_start(registrationForm) }}
          {{ form_row(registrationForm.email) }}
          {{ form_row(registrationForm.username) }}
          {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
          <div class="row">
            <div class="col-8">
              <button type="submit" class="btn btn-primary w-100 mb-2">
                {% include "_icon.html.twig" with {'icon': 'login'} %}
                {{ "continue"|trans }}
              </button>
            </div>
            <div class="col-4">
              <a href="{{path('index')}}" class="btn btn-primary w-100 mb-2">
                {% include "_icon.html.twig" with {'icon': 'back', 'hasTips': true } %}
                {{ "back"|trans }}
              </a>
            </div>
          </div>
          {{ form_end(registrationForm) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
