{% extends 'character_sheet/peek/header.html.twig' %}

{% trans_default_domain 'vampire' %}

{% block age %}
  {{ parent() }}
  <p>
  {% if access.hasRight('embrace')|default(false) %}
    {{ "death.age"|trans({"%gender%": "male", "%death%": character.deathAge|default(0) }) }}
    {% if access.hasRight('sire')|default(false) %}
      {{ "death.sire"|trans({"%sire%": character.sire|default('unknown') }) }}
    {% else %}
      {{ "death.sire"|trans({"%sire%": 'unknown' }) }}
    {% endif %}
  {% elseif access.hasRight('sire')|default(false)  %}
    {{ "sire"|trans }}: {{ character.sire }}
  {% endif %}
  </p>
{% endblock %}

{% block underAvatar %}
  <div class="col-12 text-strong">
    {% if access.hasRight('covenant')|default(false)  %}
      {{ "covenant.label.single"|trans([], 'organization') }}: {{ character.covenant }}
    {% endif %}
  </div>
  <div class="col-12 pt-3 text-strong">
    {% if access.hasRight('bloodline')|default(false) and character.clan.isBloodline and access.hasRight('clan')|default(false) %}
      <a href="{{ path("vampire_clan_show", {'id': character.clan.id}) }}">
        <span class="icon link-icon"><img src="{{ asset(character.clan.emblem, 'clans_emblems') }}"></span>
          {{ character.clan.name }}
          ({{ character.clan.parentClan.name }})
      </a>
    {% elseif access.hasRight('bloodline')|default(false) %}
      <a href="{{ path("vampire_clan_show", {'id': character.clan.id}) }}">
        <span class="icon link-icon"><img src="{{ asset(character.clan.emblem, 'clans_emblems') }}"></span>
        {{ character.clan.name }}
      </a>
    {% elseif access.hasRight('clan')|default(false) %}
      {% if character.clan.isBloodline %}
        {% set clan = character.clan.parentClan %}
      {% else %}
        {% set clan = character.clan %}
      {% endif %}
      <a href="{{ path("vampire_clan_show", {'id': clan.id}) }}">
        <span class="icon link-icon"><img src="{{ asset(clan.emblem, 'clans_emblems') }}"></span>
        {{ clan.name }}
      </a>
    {% endif %}
  </div>
  <div class="col-12 text-strong">
    {% if access.hasRight('potency')|default(false) and peeker.potency is defined %}
      {% set obfuscateLevel = character.getDiscipline(7).getLevel|default(0) %}
      {% if obfuscateLevel >= 2 %}
        {% include "_icon.html.twig" with {icon: 'potency', label: "potency.label"|trans } %} {{ "potency.hidden"|trans }}
      {% else %}
        {% if character.potency > peeker.potency or peeker.hasDiscipline(8) %}
          <span class ="strong">{% include "_icon.html.twig" with {icon: 'potency', label: "potency.label"|trans } %} {{ "potency.stronger"|trans }}</span>
        {% elseif character.potency <= peeker.potency or character.hasDiscipline(8) %}
          <span class ="warning">{% include "_icon.html.twig" with {icon: 'potency', label: "potency.label"|trans } %} {{ "potency.weaker"|trans }}</span>
        {% else %}
          <span class="accent">{% include "_icon.html.twig" with {icon: 'potency', label: "potency.label"|trans } %} {{ character.potency }}</span>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}