{% extends "character_sheet_type/mage/gnosis/element.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block arcana %}
  <div class="row row-cols-5 text-strong justify-content-center">
    {% for arcanum in character.arcana|sort((a, b) => a.name <=> b.name) %}
      <div class="col d-flex flex-column">
        <div>
          {% include "_icon.html.twig" with { icon: 'arcana/' ~ arcanum.identifier } %}
          {{ arcanum.level }}
        </div>
        {{ arcanum }}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block dot %}
<input type="checkbox" class="btn-check" id="{{ trait ~ '-' ~ index }}" value="{{ index }}" autocomplete="off" {% if index <= current %}checked{% endif %} disabled>
<label class="btn dot" for="{{ trait ~ '-' ~ index }}"></label>
{% endblock %}
