{% trans_default_domain 'character' %}

{% block header %}
<div class="row block p-2 pb-4">
  {% block name %}
    <h1 class="text-center text">
      {% if access.hasRight('type') %}
        {% include "_icon.html.twig" with {icon: 'type/' ~ character.type, class: 'icon-lg' } %}
      {% endif %}
      {% set publicName = character.publicName(peeker) %}
      {% if publicName == "" %}
        <span class="warning">{{ "name.unknown"|trans }}</warning>
      {% else %}
        <span class="accent">{{ publicName }}</span>
      {% endif %}
    </h1>
    <h2 class="text">
      {% if character.player is not null and character.player != character.chronicle.storyteller %}
        ({{ character.player }})
      {% endif %}
    </h2>
  {% endblock %}
  <div class="order-2 order-md-1 col-6 col-md text-center text-strong">
    {% block leftCol %}
      <div class="row">
        <div class="col-12">
          {% block age %}
            <span>
              {% if access.hasRight('age')|default(false) %}
                <span class="strong">{{ "age.normal"|trans({"%age%": character.age|default(0)}) }}</span>
                {% if character.lookAge is defined and character.lookAge != character.age %}
                  ({{ "age.looks.value"|trans({"%looks%": character.lookAge}) }})
                {% endif %}
              {% elseif access.hasRight('avatar')|default(false) and character.lookAge %}
                <span class="accent">({{ "age.looks.value"|trans({"%looks%": character.lookAge}) }})</span>
              {% else %}
                <span class="warning">{{ "age.normal"|trans({"%age%": 0}) }}</span>
              {% endif %}
            </span>
          {% endblock %}
        </div>
        {% block virtue %}
          <div class="col-12">
            {% include "_icon.html.twig" with {icon: 'virtue'} %}
            {% if access.hasRight('virtue')|default(false) %}
              <span class="strong">{{ "virtue.label.single"|trans }}: {{ character.virtue }} {% if character.virtueDetail %}({{ character.virtueDetail }}){% endif %}</span>
            {% else %}
              <span class="warning">{{ "virtue.unknown"|trans }}</span>
            {% endif %}
          </div>
        {% endblock %}
        {% block vice %}
          <div class="col-12">
            {% include "_icon.html.twig" with {icon: 'vice'} %}
            {% if access.hasRight('vice')|default(false) %}
              <span class="strong">{{ "vice.label.single"|trans }}: {{ character.vice }} {% if character.viceDetail %}({{ character.viceDetail }}){% endif %}</span>
            {% else %}
              <span class="warning">{{ "vice.unknown"|trans }}</span>
            {% endif %}
          </div>
        {% endblock %}
        {% block morality %}
          <div class="col-12">
            {% include "_icon.html.twig" with {icon: 'morality'} %}
            {% if access.hasRight('morality')|default(false) %}
              <span class="strong">
                {{ "morality.label"|trans({}, character.type) }}:
                {% set moralDif = character.moral - peeker.moral %}
                {% if character.moral == 0 %}
                  {{ "morality.relative.lowest"|trans }}
                {% elseif character.moral == 10 or  moralDif > 5 %}
                  {{ "morality.relative.highest"|trans }}
                {% elseif moralDif > 3 %}
                  {{ "morality.relative.higher"|trans }}
                {% elseif moralDif > 1 %}
                  {{ "morality.relative.high"|trans }}
                {% elseif moralDif > -2 %}
                  {{ "morality.relative.similar"|trans }}
                {% elseif moralDif > -4 %}
                  {{ "morality.relative.low"|trans }}
                {% elseif moralDif > -6 %}
                  {{ "morality.relative.lower"|trans }}
                {% elseif moralDif > -8 %}
                  {{ "morality.relative.lowest"|trans }}
                {% endif %}
              </span>
            {% else %}
              <span class="warning">{{ "morality.unknown"|trans }}</span>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    {% endblock %}
  </div>
  {% block midCol %}
    <div class="order-1 order-md-2 col-12 col-md">
      <div class="row text-center">
        <div class="col-12 d-flex my-2">
          <div role="button" class="character-frame character-frame-avatar position-relative">
            {% if access.hasRight('avatar')|default(false) %}
              <img class="p-1" src="{{ asset(character.avatar, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="100">
            {% else %}
              <img class="p-1" src="{{ asset('default.jpg', 'characters') }}" height="100">
            {% endif %}
            {% if access.hasRight('status')|default(false) %}
              {% if character.status == "dead" %}
                <img class="p-1 rounded avatar-overlay avatar-overlay-dead" src={% include "_setting_src.html.twig" %}  />
              {% elseif character.status == "unknown" %}
                {% include "_icon.html.twig" with {icon: 'question', class: 'avatar-overlay avatar-overlay-unknown icon-100'} %}
              {% elseif character.status == "locked" %}
                {% include "_icon.html.twig" with {icon: 'prison', class: 'avatar-overlay avatar-overlay-locked icon-100'} %}
              {% elseif character.status == "torpor" %}
                {% include "_icon.html.twig" with {icon: 'stake', class: 'avatar-overlay avatar-overlay-torpor icon-100'} %}
              {% endif %}
            {% endif %}
          </div>
        </div>
        {% block underAvatar %}{% endblock %}
      </div>
    </div>
  {% endblock %}
  {% block right %}
    <div class="order-3 order-md-3 col-6 col-md text-center text-strong">
      <div class="row">
        <div class="col-12">
          {% if access.hasRight('faction')|default(false) and character.faction is not empty %}
            {{ "faction"|trans }}: {{ character.faction }}
          {% endif %}
        </div>
        <div class="col-12">
          {% if access.hasRight('group')|default(false) and character.groupName is not empty %}
            {{ "group"|trans }}: {{ character.groupName }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
{% endblock %}