{% trans_default_domain 'app' %}

{% block body %}
  <div class="row">
    <div class="{% if rule.type is not null %}{{rule.type}}{% endif %} block mt-3 pt-3">
      {% if is_granted('ROLE_ST') %}
        <a class="float-end" href="{{ path('rule_edit', {'id': rule.id }) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
      {% endif %}
      <h1>{{ rule.title }}</h1>
      <div>
        {{ rule.details|markdown_to_html }}
      </div>
    </div>
    {% if rule.subrules is not empty %}
      <div class="block">
        <div class="row g-2 py-3">
          {% for subrule in rule.subrules %}
            <div class="col-6">
              <div class="rounded bdr p-3 h-100 merit merit-btn {% if subrule.type is not null %}{{subrule.type}}{% endif %}"
                role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
                data-action="click->content#load"
                data-content-name-param="{{ subrule.title }}"
                data-content-type-param="{{ "rules"|trans }}"
                data-content-link-param="{{ link|default(path('rule_show', {id: subrule.id})) }}"
                {% if access_decision('edit', rule) %}data-content-edit-param="{{ link|default(path('rule_edit', { id: subrule.id })) }}"{% endif %}
              >
                <h2>
                  {{ subrule.title }}
                  <span class="text-sub fs-6">
                    {% include "_source_block.html.twig" with {element: subrule, isShort:true} %}
                  </span>
                </h2>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
