{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block title %}{{ 'label.multi'|trans({}, 'rules')}}{% endblock %}

{% block bodyData %}
  data-controller="search" data-search-type-value="rule"
{% endblock %}

{% block body %}
  {% include "_back.html.twig" with {'link': path('wiki_index')} %}
  <div class="container block-neutral py-3">
    <div class="row py-3">
      <h1>{% include "_icon.html.twig" with {icon: "rule", 'class': 'icon-lg' } only %}
      <span>{{ 'label.multi'|trans({}, 'rules')}}</span>
      {% include "_icon.html.twig" with {icon: "rule", 'class': 'icon-lg' } only %}</h1>
      <div class="col-auto">
        {% if description is defined and description is not null and description.value is not empty %}
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="true" aria-controls="collapseDescription">
            <h4 class="d-inline-block text-start">{{ "description"|trans({}, 'wiki') }}</h4>
          </a>
        {% endif %}
      </div>
      <div id="collapseDescription" class="col-12 flex-grow block collapse">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>
    {% if is_granted('ROLE_ST') %}
      <a class="btn btn-primary ms-auto w-100" href="{{ path('rule_new') }}">{% include "_icon.html.twig" with {'icon' : 'add' } only %}</a>
    {% endif %}
    <div class="mt-3 p-3">
      <div class="row">
        {% for rule in rules %}
          {% include "rule/_list_item.html.twig" %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}