{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block title %}{{ rule.title }}{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="row">
      <div class="{% if rule.type is not null %}{{rule.type}}{% endif %} block mt-3 pt-3">
        {% if is_granted('ROLE_ST') %}
          <a class="float-end" href="{{ path('rule_edit', {'id': rule.id }) }}">{% include "_icon.html.twig" with {'icon': 'edit'} only %}</a>
        {% endif %}
        <h1>{{ rule.title }}</h1>
        <span>
          <div>
            {{ rule.details|markdown_to_html }}
          </div>
          <div class="row">
            {% for subrule in rule.subrules %}
              <div class="col-6 {% if subrule.type is not null %}{{subrule.type}}{% endif %}">
              {% if is_granted('ROLE_ST') %}
                <a class="float-end" href="{{ path('rule_edit', {'id': subrule.id }) }}">{% include "_icon.html.twig" with {'icon': 'edit'} only %}</a>
              {% endif %}
                <h2>
                  {{ subrule.title }}
                  <span class="text-sub fs-6">
                    ({{ subrule.book.short}} {{ subrule.page }})
                  </span>
                </h2>
                {{ subrule.details|markdown_to_html }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include "_back.html.twig" with {'link': path('rule_index')} %}
  {% endblock %}
