{% extends "base.html.twig" %}

{% trans_default_domain 'blood-bather' %}

{% block title %}{{ "blood_bather"|trans({}, 'content-type') }}{% endblock %}

{% set footer = true %}

{% block body %}
  {% include "_back.html.twig" %}
  <h1 class="pt-1">
    {% include "_icon.html.twig" with {icon: 'type/blood_bather' } only %}
    {{ "blood_bather"|trans({}, 'content-type') }}
  </h1>
  <div class="container-fluid container-lg">
    <div class="row" data-controller="tabs" data-tabs-initial-value="facets">
      <div class="col-12">
        <div class="block">
          {# tabs #}
          <ul class="nav tabs g-0">
            {# {% include "_tab.html.twig" with {name: 'infos', icon: 'info', label: 'infos'|trans(domain: 'app')} only %} #}
            {% include "_tab.html.twig" with {name: 'facets', icon: "pentacle", label: 'bath.facet.label.multi'|trans(domain: 'blood-bather') } only %}
          </ul>
          {# content #}
          {# infos #}
          {# <div id="infos" class="tab-content py-0 d-none" data-tabs-target="page">
          <div class="row">
          </div>
          </div> #}
          {# facets #}
          <div id="facets" class="tab-content g-0 d-none" data-tabs-target="page">
            <div class="row">
                {% for facet in facets|sort((a, b) => a.facet|lower <=> b.facet|lower) %}
                  {% if facetType is not defined or facetType != facet.facet %}
                  <div class="col-12">
                    {% set facetType = facet.facet %}
                    <h3>{{ (facetType ~ ".label")|trans }}</h3>
                  </div>
                  {% endif %}
                  
                  <div class="col-6">
                    <div class="block vampire m-1 p-2 rounded">
                      <h4>{{ facet.label }}</h4>
                      <hr>
                      {{ facet.description|markdown_to_html }}
                      <div class="bdr-t">({{ facet.modifier }})</div>
                    </div>
                  </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    {% if is_granted('ROLE_ST') %}
      {# <a class="btn btn-primary ms-auto" href="{{ path('facet_new', {type: 'type', id: 'blood_bather'}) }}">
        {% include "_icon.html.twig" with {icon : 'add' } only %}
        {% include "_icon.html.twig" with {icon : 'facet' } only %}
      </a> #}
    {% endif %}
  </div>
{% endblock %}