{% trans_default_domain 'item' %}
{% extends "_modal.html.twig" %}


{% set isLarge = true %}
{% set hasFooter = false %}
{% set id = "itemDropModal" %}

{% block header %}
  <h5 class="modal-title" id="{{ id }}Title">
    {% include "_icon.html.twig" with {icon: "down"} %}
    {{ "modal.drop.title"|trans }}
    {% include "_icon.html.twig" with {icon: "delete"} %}
  </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-character--item-target="closeDrop"></button>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-12">
      <div class="form-text mb-0 text-light">{{ "modal.drop.help"|trans|nl2br }}</div>
    </div>
    <div class="col-12">
      <button class="btn btn-warning mt-5" data-action="click->character--item#drop">
        {{ 'action.drop'|trans([], 'app') }}
        {% include "_icon.html.twig" with {icon: 'down'} %}
      </button>
      <button class="btn btn-warning mt-5" data-action="click->character--item#destroy">
        {{ 'action.delete'|trans([], 'app') }}
        {% include "_icon.html.twig" with {icon: 'delete'} %}
      </button>
    </div>
  </div>
{% endblock %}
