{% trans_default_domain 'item' %}

<div class="modal fade" id="itemDropModal" tabindex="-1" role="dialog" aria-labelledby="itemDropModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h4 class="modal-title text-strong" id="itemDropModalLabel">
          {% include "_icon.html.twig" with {icon: "down"} %}
          {{ "modal.drop.title"|trans }}
          {% include "_icon.html.twig" with {icon: "delete"} %}
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mb-3">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-text mb-0 text-light">{{ "modal.drop.help"|trans|nl2br }}</div>
          </div>
          <div class="col-12">
            <button class="btn btn-warning mt-5" data-action="click->character--item#drop">
              {{ 'action.drop'|trans([], 'app') }}
              {% include "_icon.html.twig" with {icon: 'down'} %}
            </button>
            <button class="btn btn-warning mt-5" data-action="click->character--item#destroy">
              {{ 'action.delete'|trans([], 'app') }}
              {% include "_icon.html.twig" with {icon: 'delete'} %}
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-character--item-target="closeDrop">{{ 'action.close'|trans([], 'app') }}</button>
      </div>
    </div>
  </div>
</div>