{% extends "_group_card.html.twig" %}

{% set element = path %}

{% trans_default_domain 'path' %}

{% block data %}
  data-name="{{ path.name }}"
{% endblock %}

{% block name %}
  {{ path.name }}
  {% if path.homebrewFor is not null %}{% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent icon-lg' } only %}{% endif %}
{% endblock %}

{% block subname %}
  <h5>{{ path.title }}</h5>
{% endblock %}

{% block image %}
  {% if path.emblem is not null %}
    <img class="mx-auto d-block" src="{{ asset(path.emblem, 'paths_emblems') }}" alt="{{ path.name}}" height="400"/>
  {% endif %}
{% endblock %}

{% block bonus %}
  <div class="col-12">{% include "_icon.html.twig" with {icon: 'arcanum' } %}</div>
  <div class="row">
    <div class="col pb-2 text-end">
      <div class="text-strong mb-0">{{ "ruling"|trans([], 'arcanum') }}</div>
      {% for arcanum in path.rulingArcana %}
        {% if loop.last %}/{% endif %}
        <div class="d-inline-block text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
          data-action="click->content#load"
          data-content-name-param="{{ arcanum.name }}"
          data-content-type-param="{{ "label.single"|trans({}, 'arcanum') }}"
          data-content-link-param="{{ path('mage_arcanum_show', {id: arcanum.id}) }}"
        >
          {{ arcanum.name }}
        </div>
      {% endfor %}
    </div>
    <div class="col pb-2 text-start">
      <div class="text-strong">{{ "inferior"|trans([], 'arcanum') }}</div>
      <div class="d-inline-block text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
        data-action="click->content#load"
        data-content-name-param="{{ path.inferiorArcanum.name }}"
        data-content-type-param="{{ "label.single"|trans({}, 'arcanum') }}"
        data-content-link-param="{{ path('mage_arcanum_show', {id: path.inferiorArcanum.id}) }}"
      >
        {{ path.inferiorArcanum.name }}
      </div>
    </div>
  </div>
  <div class="col-12 text-center pb-2">
    {% include "_icon.html.twig" with {icon: 'resistance'} only %} {{ path.attribute }}
  </div>
{% endblock %}

{% block action %}
  data-bs-toggle="modal" data-bs-target="#contentModal"
  data-action="click->content#load"
  data-content-name-param="{{ path.name }}"
  data-content-type-param="{{ "label.single"|trans }}"
  data-content-link-param="{{ path('mage_path_show', {id: path.id}) }}"
{% endblock %}

{% block short %}
  {{ path.short|default("")|markdown_to_html }}
{% endblock %}
