{% trans_default_domain 'path' %}

{% if isShown|default(false) == true %}
  {% set collapse = "" %}
{% else %}
  {% set collapse = "collapse" %}
{% endif %}

<div id="{{ path.name }}" class="col-12" data-search-target="item" data-name="{{ path.name }}">
  <div class="path-card position-relative">
    {% if is_granted('ROLE_ST') %}
      <a class="position-absolute end-0" href="{{ path('mage_path_edit', {id: path.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    {# Header #}
    <blockquote class="text-center mb-2 path-card-header">
      <h3>
        {{ path.name }}
        {% if path.homebrewFor is not null %}{% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent icon-lg' } only %}{% endif %}
      </h3>
      <h5>{{ path.title }}</h5>
    </blockquote>
    {# Body #}
    {% if path.emblem is not null %}
      <img class="mx-auto d-block" src="{{ asset(path.emblem, 'paths_emblems') }}" alt="{{ path.name}}" height="400"/>
    {% endif %}
    <div class="row text-strong">
      <div class="col-12 text-center">
        {% include "_icon.html.twig" with {icon: 'arcanum' } %}
      </div>
      <div class="col pb-2 text-end">
        <div class="text-strong mb-0">{{ "ruling"|trans([], 'arcanum') }}</div>
        {% for arcanum in path.rulingArcana %}
          {% if loop.last %}/{% endif %}
          <a href="{{ path('arcanum_show', {id: arcanum.id}) }}">{{ arcanum.name }}</a>
        {% endfor %}
      </div>
      <div class="col pb-2 text-start">
        <div class="text-strong">{{ "inferior"|trans([], 'arcanum') }}</div>
          <a class="warning" href="{{ path('arcanum_show', {id: path.inferiorArcanum.id}) }}">{{ path.inferiorArcanum.name }}</a>
      </div>
      <div class="col-12 text-center pb-2">
        {% include "_icon.html.twig" with {icon: 'resistance'} only %} {{ path.attribute }}
      </div>
    </div>
    <div class="path-{{ path.id }} path-card-body {{ collapse }} p-2" type="button" data-bs-toggle="{{ collapse   }}" data-bs-target=".path-{{ path.id }}" aria-expanded="false" aria-controls="{{ path.id }}">
      <h5>{{ "nimbus"|trans }}</h5>
      {{ path.nimbus|markdown_to_html }}
      <h5>{{ "description"|trans([], 'app') }}</h5>
      <div>{{ path.description|default("")|markdown_to_html }}</div>
    </div>
    {% if isShown|default(false) != true %}
      <div id="expand_btn" class="position-absolute top-100 start-50 translate-middle" data-bs-toggle="{{ collapse  }}" data-bs-target=".path-{{ path.id }}" aria-expanded="false" aria-controls="{{ path.id }}">
        <span class="fa-layers fa-fw">
          <i class="fa-solid fa-circle"></i>
          <span class="ok path-{{ path.id }} {{ collapse  }} show"><i class="fa-solid fa-lg fa-circle-chevron-down"></i></span>
          <span class="ok path-{{ path.id }} {{ collapse  }}"><i class="fa-solid fa-lg fa-circle-chevron-up"></i></span>
        </span>
      </div>
    {% endif %}
    {# Footer #}
    <div class="path-{{ path.id }} {{ collapse }} show" type="button" data-bs-toggle="{{ collapse }}" data-bs-target=".path-{{ path.id }}" aria-expanded="false" aria-controls="{{ path.id }}">
      <div class="back-fluff path-card-footer">{{ path.short|default("")|markdown_to_html }}
        <div class="text-end">
          {% include "_source.html.twig" with {element: path } only %}
        </div>
      </div>
    </div>
  </div>
</div>
