{% extends "_group_show.html.twig" %}

{% trans_default_domain 'path' %}

{% set element = path %}

{% block name %}
  {{ path.name }}
  {% if path.homebrewFor is not null %}{% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent icon-lg' } only %}{% endif %}
{% endblock %}

{% block subname %}
  <h5>{{ path.title }}</h5>
{% endblock %}

{% block image %}
  {% if path.emblem is not null %}
    <img class="logo" src="{{ asset(path.emblem, 'paths_emblems') }}" alt="{{ path.name}}" height="400"/>
  {% endif %}
{% endblock %}

{% block bonus %}
  <div class="col-12 text-center">
    {% include "_icon.html.twig" with {icon: 'arcanum' } %}
  </div>
  <div class="row">
    <div class="col-6 pb-2 text-end">
      <div class="text-strong mb-0">{{ "ruling"|trans([], 'arcanum') }}</div>
      {% for arcanum in path.rulingArcana %}
        {% if not loop.first %}/{% endif %}
        {% if not isModal|default(1) %}
          <span class="text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
            data-action="click->content#load"
            data-content-name-param="{{ arcanum.name }}"
            data-content-type-param="{{ "label.single"|trans({}, "arcanum") }}"
            data-content-link-param="{{ path('mage_arcanum_show', {id: arcanum.id}) }}"
          >
            {{ arcanum.name }}
          </span>
        {% else %}
          <span class="text-glow">
            {{ arcanum.name }}
          </span>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-6 pb-2 text-start">
      <div class="text-strong">{{ "inferior"|trans([], 'arcanum') }}</div>
      {% if not isModal|default(1) %}
        <div class="text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
          data-action="click->content#load"
          data-content-name-param="{{ path.inferiorArcanum.name }}"
          data-content-type-param="{{ "label.single"|trans({}, "arcanum") }}"
          data-content-link-param="{{ path('mage_arcanum_show', {id: path.inferiorArcanum.id}) }}"
        >
          {{ path.inferiorArcanum.name }}
        </div>
      {% else %}
        <span class="text-glow">
          {{ path.inferiorArcanum.name }}
        </span>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block body %}
  <h5>{{ "nimbus"|trans }}</h5>
  {{ path.nimbus|markdown_to_html }}
  <h5>{{ "description"|trans([], 'app') }}</h5>
  <div>{{ path.description|default("")|markdown_to_html }}</div>
{% endblock %}

{% block short %}
  {{ path.short|default("")|markdown_to_html }}
{% endblock %}
