{% extends 'mage/form.html.twig' %}

{% trans_default_domain 'path' %}

{% if form.vars.data.id|default(null) != null %}
  {% set action = 'edit' %}
{% else %}
  {% set action = 'new' %}
{% endif %}


{% block title %}{{ action|trans }}{% endblock %}
{% block header %}{{ action|trans }}{% include "_icon.html.twig" with {icon : 'path', class: 'icon-lg'} only %}{% endblock %}

{% block form %}
{% set path = form.vars.data %}
<div class="row">
  <div class="col">
    {% if path.emblem is not null %}
      <img class="mx-auto d-block" src="{{ asset(path.emblem, 'paths_emblems') }}" alt="{{ path.name}}" height="200"/>
    {% endif %}
  </div>
  <div class="col">
    {% if path.symbol is not null %}
      <img class="mx-auto d-block" src="{{ asset(path.symbol, 'paths_emblems') }}" alt="{{ path.name}}" height="200"/>
    {% endif %}
  </div>
  <div class="col">
    {% if path.rune is not null %}
      <img class="mx-auto d-block" src="{{ asset(path.rune, 'paths_emblems') }}" alt="{{ path.name}}" height="200"/>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>{{ "emblem"|trans }}</h5>
  </div>
  <div class="col">
    <h5>{{ "symbol"|trans }}</h5>
  </div>
  <div class="col">
    <h5>{{ "rune"|trans }}</h5>
  </div>
</div>
{# <pre>
  {{ dump(form) }}
</pre> #}
{{ parent() }}
{% endblock %}