{% extends "base.html.twig" %}

{% trans_default_domain 'path' %}

{% set setting = "mage" %}
{% set footer = false %}

{% block title %}
  {{ "label.multi"|trans }}
{% endblock %}

{% block shortcuts %}
  {{ parent() }}
  {% if is_granted('ROLE_ST') %}
    <a class="btn btn-primary btn-sm mt-1" href="{{ path('mage_path_new', {filter: filter|default(null), id: id|default(null)}) }}">
      <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon: 'add' } only %}</span>
      {% include "_icon.html.twig" with {icon: 'path' } only %}
    </a>
  {% endif %}
{% endblock %}

{% block bodyController %}
  {{ parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="path"
{% endblock %}

{% block body %}
  {% if chronicle|default(false) == false %}
    
  {% else %}
    {% include "_back.html.twig" with {link: path('homebrew_index', {id: chronicle})} %}
  {% endif %}

  {% include "_title.html.twig" with {title: "label.multi" , domain: "path", icon: 'path'} %}

  <div class="container-fluid block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>

    <div class="row g-2 py-2">
      {% for path in paths|sort((a, b) => a.name|lower <=> b.name|lower) %}
        {% include "mage/path/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
