{% trans_default_domain 'chronicle' %}

<div class="row g-2">
{% for character in chronicle.characters %}
  {% if character.isNpc == false %}
    <div class="col-6 col-xl-3">
      <div class="w-100 h-100 py-1">
        <a class="{{ character.type }} btn btn-primary btn-{{ character.type }} human-btn w-100 h-100 back-img" {% include 'character/_back.html.twig' %} href="{{path('character_show', {'id': character.id })}}">
          <div class="character-frame character-frame-list position-relative text-center rounded">
            <img class="p-1 rounded" src="{{ asset(character.avatar, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="50">
          </div>
          {{ character.name }}
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>
<div class="row g-2 pb-1">
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_party_index', {id: chronicle.id })}}">{% include "_icon.html.twig" with {icon: 'party' } only %}
      {{ 'party.manage'|trans }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_notes', {id: chronicle.id })}}">
      {% include "_icon.html.twig" with {icon: 'note' } only %}
      {{ "label.multi"|trans({}, 'note') }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_npc_index', {id: chronicle.id })}}">
      {% include "_icon.html.twig" with {icon: 'characters' } only %}
      {{ chronicle.npc|length }}
      {{ "npc.label.short"|trans({}, 'character') }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_society_index', {id: chronicle.id })}}">
      {% include "_icon.html.twig" with {icon: 'group' } only %}
      {{ chronicle.societies|length }}
      {{ "label.multi"|trans({}, 'society') }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100 text-truncate" href="{{path('homebrew_index', {id: chronicle.id })}}">{% include "_icon.html.twig" with {icon: 'homebrew' } only %}
      {{ "homebrew"|trans }}
    </a>
  </div>
</div>