{% trans_default_domain 'chronicle' %}

<div class="row position-relative g-1">
  <div class="text-end position-absolute w-auto end-0">
    {% if not loop.first %}
      <a class="d-block" href="{{ path('chronicle_reorder', {id: chronicle.id, isStory: true})}}">{% include "_icon.html.twig" with {icon: 'caret-up', class: 'icon-sm accent'} %}</a>
    {% endif %}
    {% if not loop.last %}
      <a class="d-block" href="{{ path('chronicle_reorder', {id: chronicle.id, direction: "down", isStory: true})}}">{% include "_icon.html.twig" with {icon: 'caret-down', class: 'icon-sm accent'} %}</a>
    {% endif %}
  </div>
  <a class="w-100" href="{{path('chronicle_settings', {id: chronicle.id })}}"><h3>
    {% if chronicle.isAncient %}
      {% include "_icon.html.twig" with { icon: 'coliseum' } only %}
    {% endif %}
    {{ chronicle.name }}
    {% include "_icon.html.twig" with { icon: 'gears', class: 'icon-sm' } only %}
  </h3></a>
  {% for character in chronicle.characters %}
    {% if character.isNpc == false %}
      <div class="col-6 col-xl-3">
        <div class="w-100 h-100 py-1">
          <a class="{{ character.type }} btn btn-primary btn-{{ character.type }} {% if character.lesserTemplate %}btn-lesser{% endif %} w-100 h-100 back-img" {% include 'character/_back.html.twig' %} href="{{path('character_show', {'id': character.id })}}">
            <div class="character-frame character-frame-list position-relative text-center rounded">
              <img class="p-1 rounded" src="{{ asset(character.avatar, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="50">
            </div>
            {{ character.name }}
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<div class="row g-2 pb-1 justify-content-center">
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_party_index', {id: chronicle.id })}}">{% include "_icon.html.twig" with {icon: 'party' } only %}
      {{ 'party.manage'|trans }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_notes', {id: chronicle.id })}}">
      {% include "_icon.html.twig" with {icon: 'note' } only %}
      {{ "label.multi"|trans({}, 'note') }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_npc_index', {id: chronicle.id })}}">
      {% include "_icon.html.twig" with {icon: 'characters' } only %}
      <span class="accent">{{ chronicle.npc|length }}</span>
      {{ "npc.label.short"|trans({}, 'character') }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_society_index', {id: chronicle.id })}}">
      {% include "_icon.html.twig" with {icon: 'society' } only %}
      <span class="accent">{{ chronicle.societies|length }}</span>
      {{ "label.multi"|trans({}, 'society') }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100" href="{{path('chronicle_items', {id: chronicle.id })}}">
      {% include "_icon.html.twig" with {icon: 'item' } only %}
      <span class="accent">{{ chronicle.itemsTotal }}</span>
      {{ "label.multi"|trans({}, 'item') }}
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-primary w-100 text-truncate" href="{{path('homebrew_index', {id: chronicle.id })}}">{% include "_icon.html.twig" with {icon: 'homebrew' } only %}
      {{ "homebrew.label"|trans }}
    </a>
  </div>
</div>