{% trans_default_domain 'app' %}

<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('chronicle_party_index', {'id': chronicle.id })}}">{{ "party.manage"|trans }}</a></div>
<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('chronicle_npc_index', {'id': chronicle.id })}}">{{ "characters.non.player"|trans }}</a></div>
<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('merit_index')}}">{{ "characters.groups"|trans }}</a></div>
<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('homebrew_index', {'id': chronicle.id })}}">{{ "homebrew"|trans }}</a></div>
<h4>{{ "party.name"|trans }}</h4>
{% for character in chronicle.characters %}
  {% if character.isNpc == false %}
    <div class="col-6 col-lg-3">
      <div class="w-100 h-100 py-1">
        <a class="{{ character.type }} btn btn-primary w-100 h-100 back-img" {% include character.type ~ '/back.html.twig' %} href="{{path('character_show', {'id': character.id })}}">
          <div class="character-frame character-frame-list position-relative text-center mb-2">
            <img class="p-1" src="{{ asset(character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="50">
          </div>
          {{ character.name }}
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}