{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}{{ "avatar.crop"|trans }}{% endblock %}
{% block header %}{{ "avatar.crop"|trans }}{% endblock %}

{% block body %}

<div class="container">
  <div class="row block">
    <div class="col-12 p-5">
      {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="text-center fixed-bottom">
          <button class="btn btn-primary btn-lg btn-submit" type="submit">
            {% include "_icon.html.twig" with {icon: 'save'} only %}
            {{ 'avatar.crop'|trans }}
          </button>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}