{% trans_default_domain 'app' %}

{% set first = true %}

<div class="container block {{ roll.type }}">
  <div class="row">
    <div id="{{ roll.id }}" class="">
      {% if is_granted('ROLE_ST') %}
        <a class="float-end" href="{{ path('roll_edit', {id: roll.id}) }}">{% include "_icon.html.twig" with {icon: 'edit', class: 'p-1'} only %}</a>
      {% endif %}
      <h1 class="">{{ roll.name }}</h1>
      <hr>
  </div>
  <div class="row">
    <p>
      <strong>Dice Pool:</strong>
      {% for attribute in roll.attributes %}
        {% if not first %}+{% else %}{% set first = false %}{% endif %}
        {{ attribute.name }}
      {% endfor %}
      {% for skill in roll.skills %}
        {% if not first %}+{% else %}{% set first = false %}{% endif %}
        {% include "_icon.html.twig" with {icon : 'skills/' ~ skill.identifier, label: skill } only %}
        {{ skill.name }}
      {% endfor %}
      {% if roll.contestedText is not null %}
        {{ roll.contestedText }}
      {% endif %}
      {% if first %}
        None
      {% endif %}
    </p>
    <p>
      <strong>{{ "action.label.single"|trans }}:</strong>
      {{ roll.actionName|trans }}{% if roll.isContested %}, {{ "roll.action.contested"|trans}}{% endif %}
    </p>
    <hr>
  </div>
  <div class="row">
    <div class="col-12">
      <div>{{ roll.details|markdown_to_html }}</div>
    </div>
  </div>
  <div class="row">
    {% include "_source_block.html.twig" with {element: roll, class: 'text-end' } only %}
  </div>
</div>