{% trans_default_domain 'app' %}

{% set first = true %}
<div class="col-12 col-lg-6"
  role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
  data-action="click->content#load"
  data-search-target="item"
  data-name="{{ "#{roll.name} #{roll.details}"}}"
  data-type="{{ roll.type }}"
  data-content-name-param="{{ roll.name }}"
  data-content-type-param="{{ "label.single"|trans }}"
  data-content-link-param="{{ link|default(path('roll_show', {id: roll.id})) }}"
  {% if access_decision('edit', roll) %}data-content-edit-param="{{ link|default(path('roll_edit', {id: roll.id})) }}"{% endif %}
>
  <div id="{{ roll.id }}" class="rounded bdr p-2 card-content {{ roll.type }} h-100">
    <div class="row">
      <h3>
        {{ roll.name }}
        {% if roll.type %}
          {% include "_icon.html.twig" with {icon: ("type/" ~ roll.type)|default('')} %}
        {% endif %}
      </h3>
      <div class="col-12">
        <strong>Dice Pool:</strong>
        {% for attribute in roll.attributes %}
          {% if not first %}+{% else %}{% set first = false %}{% endif %}
          {{ attribute.name }}
        {% endfor %}
        {% for skill in roll.skills %}
          {% if not first %}+{% else %}{% set first = false %}{% endif %}
          {% include "_icon.html.twig" with {icon : 'skills/' ~ skill.identifier, label: skill } only %}
          {{ skill.name }}
        {% endfor %}
        {% if roll.contestedText is not null %}
          {{ roll.contestedText }}
        {% endif %}
        {% if first %}
          None
        {% endif %}
      </div>
      <div class="col-12">
        <strong>{{ "action.label.single"|trans }}:</strong>
        {{ roll.actionName|trans }}{% if roll.isContested %}, {{ "roll.action.contested"|trans}}{% endif %}
      </div>
    </div>
  </div>
</div>