{% trans_default_domain 'app' %}

{% set first = true %}

<div class="block {{ roll.type }} m-3">
  <div class="row mb-2">
    <h3>{{ roll.name }}</h2>
    <div class="col-5 text-center">
      <strong>Dice Pool:</strong>
    {% for attribute in roll.attributes %}
      {% if not first %}+{% else %}{% set first = false %}{% endif %}
      {{ attribute.name }}
    {% endfor %}
    {% for skill in roll.skills %}
      {% if not first %}+{% else %}{% set first = false %}{% endif %}
      {{ skill.name }}
    {% endfor %}
    {% if roll.contestedText is not null %}
      {{ roll.contestedText }}
    {% endif %}
    {% if first %}
      None
    {% endif %}
    </div>
    <div class="col-5">
      <strong>{{ "action.label.single"|trans }}:</strong>
      {{ roll.actionName|trans }}{% if roll.isContested %}, {{ "roll.action.contested"|trans}}{% endif %}
      
    </div>
    <div class="col-2 text-end pe-3">
      <a type="button" href="{{ path('roll_edit', {'id': roll.id }) }}" class="btn btn-primary">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    </div>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-primary w-100" data-bs-target=".action-{{ roll.id }}" data-bs-toggle="collapse">{% include "_icon.html.twig" with {icon: 'details'} only %} Details</button>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="action-{{ roll.id }} collapse p-5">{{ roll.details|markdown_to_html }}</div>
    </div>
  </div>
</div>