{% extends "base.html.twig" %}

{% trans_default_domain 'character' %}

{% block title %}{{ "template.choose"|trans }}{% endblock %}

{% block body %}
  <div class="container block py-5">
    <h1>{{ "template.choose"|trans }}</h1>
    <div class="row">
      {% for template in templates %}
        <div class="col-6 col-md-4 col-lg-2 py-2 {{template}}">
          <a class="btn btn-primary h-100" href="{{ path("character_new_#{template}", {isAncient: isAncient|default(0), isNpc: isNpc|default(0), chronicle: chronicle.id|default(null) }) }}">
            <span class="fs-4">{{ template|trans([], "content-type") }}</span class="fs-4">
            <img class="w-100 img-outlined" src="{% include "_setting_src.html.twig" with { setting: template } %}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  
{% endblock %}
