{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% set setting = character.setting %}

{% if character.isNpc %}
  {% set type = 'npc' %}
{% elseif character.isPremade %}
  {% set type = "premade" %}
{% else %}
  {% set type = "pc" %}
{% endif %}

{% block title %}
  {{ (type ~ ".new")|trans({}, 'character') }}
{% endblock %}

{% block body %}
  <h2 class="mt-4">
    {{ character.chronicle.name|default('') }}
  </h2>
  <h1>
    {% include "_icon.html.twig" with {icon: "type/#{character.type}", class: 'icon-lg'} %}
    {{ (type ~ ".new")|trans({}, 'character') }}
    {% include "_icon.html.twig" with {icon: type, class: 'icon-lg'} %}
  </h1>
  {# Start Form #}
  <div class="container">
    {{ form_start(form, {'attr': {'data-controller': 'character--merits character--creation', 'data-action': 'character--creation:change->character--merits#checkPrerequisite'}}) }}
    <h2 class="mt-4">{{ "creation.concept"|trans }}</h2>
    <div class="row block py-3">
      {% include "character_sheet/header/edit.html.twig" %}
    </div>
    {# Attributes #}
    <h2 class="mt-4">{{ "creation.attributes"|trans }}</h2>
    <div class="row block py-3">
      {% include "character_sheet/attributes/new/elements.html.twig" %}
    </div>
    {# Skills  #}
    <h2 class="mt-4">{{ "creation.skills"|trans }}</h2>
    <div class="row block py-3">
      {% include "character_sheet/skills/new/elements.html.twig" %}
    </div>
    {# Specialties  #}
    <h2 class="mt-4">{{ "creation.specialities"|trans }}</h2>
    <div class="row block py-3">
      {% include "character_sheet/skills/new/specialties.html.twig" %}
    </div>
    {# Special  #}
    {% include ["character_sheet_type/#{character.type}/new.html.twig", "character_sheet_type/human/new.html.twig"] %}
    {# Merits #}
    <h2 class="mt-4">{{ "creation.merits"|trans }}</h2>
    <div class="row block my-2 py-3">
      {% include "character_sheet/merits/new/elements.html.twig" %}
    </div>
    {# End #}
    {% include "character_sheet/modals/merit_show.html.twig" %}
    <div class="text-center fixed-bottom">
      <button class="btn btn-primary btn-submit btn-lg" type="submit">
        {% include "_icon.html.twig" with {icon: 'save'} %}
        {{ ('action.create')|trans({}, 'app') }}
      </button>
    </div>
  {{ form_end(form) }}
{% endblock %}