{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% if character.isNpc %}
  {% set title = "new.npc"|trans %}
{% elseif character.isPremade %}
  {% set title =  "new.premade"|trans %}
{% else %}
  {% set title =  "new.character"|trans %}
{% endif %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  {% include "_back.html.twig" %}
  {{ form_start(form, {'attr': {'data-controller': 'character--merits character--creation', 'data-action': 'character--creation:change->character--merits#checkPrerequisite'}}) }}
    <div class="container block py-3 g-0">
      <h1>{{ title }} {{ character.chronicle.name|default('') }}</h1>
      {% include "character_sheet/edit/header.html.twig" %}
      <div class="row g-0">
        {% include "character_sheet/new/attributes.html.twig" %}
      </div>
      <div class="row my-2">
        {% include "character_sheet/new/skills.html.twig" %}
      </div>
      {% include "character_sheet/new/specialties.html.twig" %}
      {% include "character_sheet/new/background.html.twig" %}
      {# {% include "character_sheet/new/advantages.html.twig" %} #}
      {% include "character_sheet/new/merits.html.twig" %}
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">
          {% include "_icon.html.twig" with {'icon': 'create', 'hasTips': 0} %}
          {{ "create"|trans([], 'app') }}
        </button>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}