{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% if character.isNpc %}
  {% set type = 'npc' %}
{% elseif character.isPremade %}
  {% set type = "premade" %}
{% else %}
  {% set type = "pc" %}
{% endif %}

{% block title %}
  {{ (type ~ ".new")|trans({}, 'character') }}
{% endblock %}

{% block body %}
  {% include "_back.html.twig" %}
  {{ form_start(form, {'attr': {'data-controller': 'character--merits character--creation', 'data-action': 'character--creation:change->character--merits#checkPrerequisite'}}) }}
    <div class="container block py-3 g-0">
      <h1>{% include "_icon.html.twig" with {icon: type, class: 'icon-lg'} %}{{ (type ~ ".new")|trans({}, 'character') }} {{ character.chronicle.name|default('') }}</h1>
      {% include "character_sheet/header/edit.html.twig" %}
      <hr>
      <div class="row g-0">
        {% include "character_sheet/attributes/new/elements.html.twig" %}
      </div>
      <hr>
      <div class="row my-2">
        {% include "character_sheet/skills/new/elements.html.twig" %}
      </div>
      {% include "character_sheet/skills/new/specialties.html.twig" %}
      <hr>
      {# {% include "character_sheet/new/background.html.twig" %} #}
      <hr>
      {# {% include "character_sheet/new/advantages.html.twig" %} #}
      {% include "character_sheet/merits/new/elements.html.twig" %}
      {% include "character_sheet/modals/merit_show.html.twig" %}
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">
          {% include "_icon.html.twig" with {icon: 'save'} %}
          {{ "action.create"|trans([], 'app') }}
        </button>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}