{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}{{ character.name }}{% endblock %}

{% set tab = "general" %}
{% set subTab = 'description' %}

{% block body %}
  <div
    class="container-fluid container-lg {% block top_margin %}character-sheet{% endblock %}"
    {% block body_attributes %}
      data-controller="{% block data_controllers %}character--experience character--avatar character--merits character--item content{% endblock %}"
      data-character--experience-id-value="{{ character.id }}"
      data-character--avatar-id-value="{{ character.id }}"
      data-character--item-character-value="{{ character.id }}"
    {% endblock %}
  >
    {% block menu %}
      {% include "character_sheet/menu/show.html.twig" %}
    {% endblock %}
    {% block header %}
      {% include "character_sheet/header/show.html.twig" %}
    {% endblock %}
    <div class="row block block-backdrop" data-controller="tabs" data-tabs-initial-value="{{ tab }}">
      {% block background %}{% endblock %}
      <ul class="nav tabs row g-0">
        {% include "_tab.html.twig" with {name: 'general', label: 'general'|trans({}, 'app')} only %}
        {% include "_tab.html.twig" with {name: 'merits', icon: 'merit', label: 'label.multi'|trans({}, 'merit')} only %}
        {% block specialTab %}{% endblock %}
        {% include "_tab.html.twig" with {name: 'inventory', label: 'inventory'|trans, icon: 'equipment'} only %}
        {% include "_tab.html.twig" with {name: 'details', label: 'details'|trans} only %}
        {% include "_tab.html.twig" with {name: 'relation', label: 'relation'|trans} only %}
        {% if app.user == character.player %}
          {% include "_tab.html.twig" with {name: 'notes', icon: 'note', label: 'label.multi'|trans({}, 'note')} only %}
        {% endif %}
      </ul>
      <div id="general" class="tab-content d-none" data-tabs-target="page">
        <div class="row pb-1">
          <div class="col-12 col-md-6">
            {% block health %}
              {% include "character_sheet/traits/health.html.twig" %}
            {% endblock %}
          </div>
          <div class="col-12 col-md-6">
            {% include "character_sheet/traits/show/willpower.html.twig" %}
          </div>
        </div>
        {% block traits %}
        {% endblock %}
        <div class="row mb-3">
          {% include "character_sheet/elements/advantages.html.twig" %}
        </div>
        <div class="row">
          {% include "character_sheet/attributes/show/elements.html.twig" %}
        </div>
        <div class="row my-3">
          {% include "character_sheet/skills/show/elements.html.twig" %}
        </div>
        {% block subtraits %}
          <div class="row justify-content-center">
            {% include "character_sheet/morality/show.html.twig" with { 'morality': character.moral } %}
          </div>
        {% endblock %}
      </div>
      <div id="merits" class="tab-content d-none p-0" data-tabs-target="page">
        {% include "character_sheet/merits/show/elements.html.twig" %}
      </div>
      {% block powers %}
      {% endblock %}
      <div id="inventory" class="tab-content d-none p-0" data-tabs-target="page">
        {% include "character_sheet/items/inventory.html.twig" %}
      </div>
      <div id="details" class="tab-content d-none p-0" data-tabs-target="page">
        {% include "character_sheet/infos/show.html.twig" %}
      </div>
      <div id="relation" class="tab-content d-none p-0" data-tabs-target="page">
        {% include "character_sheet/elements/relations.html.twig" %}
      </div>
      {% if app.user == character.player %}
        <div id="notes" class="tab-content d-none" data-tabs-target="page">
          {% include "character_sheet/elements/notes.html.twig" %}
        </div>
      {% endif %}
    </div>
    <div class="row block mt-3 p-2 user-select-none">
      {% include "character_sheet/elements/rolls.html.twig" %}
    </div>
    {% block modals %}
      {% if is_granted('edit', character) %}
        {% include "character_sheet/modals/avatar_update.html.twig" %}
        {% include "character_sheet/modals/xp_add.html.twig" %}
        {% include "character_sheet/modals/xp_logs.html.twig" with { 'logs': character.experienceLogs } only %}
        {% include "character_sheet/modals/ability_removal.html.twig" %}
        {# Relations #}
        {% include "character_sheet/modals/content.html.twig" %}
        {# Merit #}
        {% include "character_sheet/modals/merit_show.html.twig" %}
        {# Morality #}
        {% include "character_sheet/modals/morality_decrease.html.twig" %}
        {% include "character_sheet/modals/morality_increase.html.twig" %}
        {% include "character_sheet/modals/new_derangement.html.twig" %}
        {# Items #}
        {% include "character_sheet/modals/item/move.html.twig" %}
        {% include "character_sheet/modals/item/drop.html.twig" %}
        {% for item in character.items %}
          {% include "character_sheet/modals/item/infos.html.twig" %}
        {% endfor %}
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
