{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
  <div class="container-fluid container-lg py-3 {% block top_margin %}character-sheet{% endblock %}" data-controller="character--experience character--avatar" data-character--experience-id-value="{{ character.id }}" data-character--avatar-id-value="{{ character.id }}">
    {% block menu %}
      {% include "character_sheet/show/menu.html.twig" %}
    {% endblock %}
    {% block header %}
      {% include "character_sheet/show/header.html.twig" %}
    {% endblock %}
    <div class="row block block-backdrop" data-controller="tabs" data-tabs-initial-value="general">
      {% block background %}{% endblock %}
      <ul class="nav tabs row g-0">
        {% include "_tab.html.twig" with {'name': 'general', 'domain': 'character'} only %}
        {% include "_tab.html.twig" with {'name': 'merits', 'domain': 'character'} only %}
        {% block specialTab %}{% endblock %}
        {# {% include "_tab.html.twig" with {'name': 'relations', 'domain': 'character'} only %} #}
        {% include "_tab.html.twig" with {'name': 'inventory', 'domain': 'character'} only %}
        {% include "_tab.html.twig" with {'name': 'background', 'domain': 'character'} only %}
        {% if app.user == character.player %}
          {% include "_tab.html.twig" with {'name': 'notes', 'domain': 'character'} only %}
        {% endif %}
      </ul>
      <div id="general" class="tab-content" data-tabs-target="page">
        <div class="row pb-3">
          <div class="col-12 col-md-6 mb-3">
            {% block health %}{%include "character_sheet/show/health.html.twig" %}{% endblock %}
          </div>
          <div class="col-12 col-md-6 mb-3">
            {% include "character_sheet/show/willpower.html.twig" %}
          </div>
        </div>
        {% block traits %}
        {% endblock %}
        <div class="row g-0 mb-3">
          {% include "character_sheet/show/attributes.html.twig" %}
        </div>
        <div class="row g-0 my-3">
          {% include "character_sheet/show/skills.html.twig" %}
        </div>
        {% block subtraits %}
          <div class="row justify-content-center">
            {% include "character_sheet/show/morality.html.twig" with { 'morality': character.moral } %}
          </div>
        {% endblock %}
        <div class="row py-2">
          {% include "character_sheet/show/advantages.html.twig" %}
        </div>
      </div>
      <div id="merits" class="tab-content" data-tabs-target="page">
        {% include "character_sheet/show/merits.html.twig" %}
      </div>
      {% block powers %}
      {% endblock %}
      <div id="inventory" class="tab-content" data-tabs-target="page">
        {% include "character_sheet/show/inventory.html.twig" %}
      </div>
      <div id="background" class="tab-content" data-tabs-target="page">
        <div class="col-12 my-2 text-center">
          <img class="block col-12 col-md-6" src="{{ asset(character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;">
            <div class="block mt-1 text-start p-3">
              {% if character.background != "" %}
                {{ character.background|markdown_to_html }}
              {% else %}
                <p>{{ "background.none"|trans }}</p>
              {% endif %}
              <a href="{{ path('character_background', {'id': character.id}) }}">{{ "background.edit"|trans }}</a>
            </div>
        </div>
      </div>
      {% if app.user == character.player %}
        <div id="notes" class="tab-content" data-tabs-target="page">
          {% include "character_sheet/show/notes.html.twig" %}
        </div>
      {% endif %}
    </div>
    <div class="row block mt-3 p-2 user-select-none">
      {% include "character_sheet/show/rolls.html.twig" %}
    </div>
    {% block modals %}
      {% include "character_sheet/modal/avatar_update.html.twig" %}
      {% include "character_sheet/modal/xp_add.html.twig" %}
      {% include "character_sheet/modal/xp_logs.html.twig" with { 'logs': character.experienceLogs } only %}
      {% include "character_sheet/modal/ability_removal.html.twig" %}
      {% include "character_sheet/modal/morality_decrease.html.twig" %}
      {% include "character_sheet/modal/morality_increase.html.twig" %}
      {% include "character_sheet/modal/new_derangement.html.twig" %}
    {% endblock %}
  </div>
{% endblock %}
