{% trans_default_domain 'character' %}

<div id="menu" class="row position-sticky pb-2">
  <div class="row text-center text g-0">
    <div class="col-2 px-0">
      <input id="is_free" type="checkbox" class="btn-check" name="{{ form.vars.name }}[isFree]" data-character--edit-target="isFree" data-action="click->character--edit#displayFree">
      <label class="btn btn-sm btn-warning w-100" for="is_free" role="button">
        {% include "_icon.html.twig" with {icon: 'free'} only %}
        <span class="d-none d-md-inline text-sub">
          {{ "xp.free"|trans }}
          <span id="payIcon">{% include "_icon.html.twig" with { icon: 'button'} %}</span>
          <span id="freeIcon" class="d-none">{% include "_icon.html.twig" with { icon: 'confirmed'} %}</span>
        </span>
      </label>
    </div>
    <div class="col">
      <input value="0" type="hidden" name="{{ form.vars.name }}[xp][spend]" data-character--edit-target="spend">
      <div class="w-100 block">
        <div class="d-flex flex-row justify-content-center btn btn-menu btn-primary btn-sm w-100" data-bs-toggle="collapse" role="button" data-bs-target=".usingInfo">
          <span>
            {% include "_icon.html.twig" with {icon: 'details'} only %}
            &nbsp;
          </span>
          <div class="py-0 d-flex flex-column justify-content-center">
            <span class="usingInfo show">
              {% include "_icon.html.twig" with {icon: 'caret-down'} only %}
            </span>
            <span class="usingInfo collapse">
              {% include "_icon.html.twig" with {icon: 'caret-up'} only %}
            </span>
          </div>
        </div>
        <div class="collapse usingInfo" data-character--edit-target="usingInfo">{{ 'xp.details.none'|trans }}</div>
        {{ character.xpUsed }} + <span data-character--edit-target="using">0</span>/{{ character.xpAvailable }}
      </div>
    </div>
    <div class="col-2">
      <a class="btn btn-sm btn-menu btn-primary w-100" href="{{ path('character_show', {'id': character.id}) }}">
        {% include "_icon.html.twig" with {icon: 'back'} only %}
      </a>
    </div>
  </div>
</div>
