{% trans_default_domain 'vampire' %}

{% if character.clan.favored(discipline) %}
  {% set type = "favoredDiscipline" %}
{% else %}
  {% set type = "discipline" %}
{% endif %}


<div class="col-12 col-md-6 col-xl-4 justify-content-center">
  <div class="{% if customBlock is defined %}{{ customBlock }}{% else %}discipline-block text-color{% endif %} rounded-top w-100">
    <div class="row g-0 align-items-center user-select-none">
      <div class="col-12 discipline-header text-center py-2 rounded-top">
        <h2>
          {{ discipline.name }}
        </h2>
      </div>
      <div class="col-12 text-center">
        <div class="my-1" role="group" {% block controller %} {% endblock %} {% block data %} {% endblock %}> {% block input %}{% endblock %}
          <div class="dots">
            {% for value in 1..max %}
              {% if value >= 5 and value % 5 == 1 %}
              </div>
              <div class="dots">
              {% endif %}
              {% block dot %}{% endblock %}
            {% endfor %}
          </div>
          {% if discipline.singlePower %}
            {% block toggle %}{% endblock %}
          {% endif %}
        </div>
      </div>
      {% if discipline.singlePower %}
        <div class="col-2 text-glow">
          {% set powerPool = discipline.power.detailedDicePool(character) %}
            {% if powerPool != null %}
            {% include "_dice_pool.html.twig" with {pool : powerPool, contested : discipline.power.contestedText} %}
          {% endif %}
        </div>
        <div class="col-8 text-center">
          {{ discipline.short }}
        </div>
        <div class="col-2 text-end text-glow">
          {% include "vampire/discipline/powers/_cost.html.twig" with {costs: discipline.power.costs} only %}
        </div>
      {% else %}
        <div class="col-12 text-center text-dark">
          {{ discipline.short }}
        </div>
      {% endif %}
      <div class="col-12 text-sub">
        {% include "_source_block.html.twig" with {element: discipline } only %}
      </div>
    </div>

    <div class="row g-0 ok bdr-t">
      {% block rules_btn %}
        {% if discipline.rules %}
          <div class="col bdr-e collapsed" data-bs-toggle="collapse" data-bs-target="#discipline-{{ discipline.id }}-rules" type="button">
            <span class="d-flex flex-column justify-content-center text-center">
              <span class="discipline-rules-{{ discipline.id }} text-center show">
                {{ "rules"|trans({}, 'discipline') }}
              </span>
            </span>
          </div>
        {% endif %}
      {% endblock %}
      {% block powers_btn %}
        <div class="col collapsed" data-bs-toggle="collapse" data-bs-target="#discipline-{{ discipline.id }}-powers" type="button">
          <span class="d-flex flex-column justify-content-center text-center">
            {% if discipline.singlePower %}
              <span class="discipline-powers-{{ discipline.id }} text-center"
                data-bs-toggle="modal" data-bs-target="#powerShowModal"
                data-action="click->vampire--power#show"
                data-vampire--power-name-param="{{ discipline.name }}"
                data-vampire--power-description-param="{{ discipline.description|markdown_to_html|e }}"
                data-vampire--power-effect-param="{{ discipline.power.details|markdown_to_html|e }}"
                data-vampire--power-link-param="{{ link|default(path('vampire_discipline_show', {'id': discipline.id})) }}"
              >
                {{ 'power'|trans({'%count%': discipline.powers|length}, 'character') }}
                {% include "_icon.html.twig" with {icon: 'info', class: 'icon-xs icon-neutral'} %}
              </span>
            {% else %}
              <span class="discipline-powers-{{ discipline.id }} text-center">
                {{ 'power'|trans({'%count%': discipline.powers|length}, 'character') }}
              </span>
            {% endif %}
          </span>
        </div>
      {% endblock %}
    </div>

    <div id="discipline-{{ discipline.id }}-body" class="row accordion m-0">
      {% block rules %}
        {% if discipline.rules %}
          <div id="discipline-{{ discipline.id }}-rules" class="col-12 collapse" data-bs-parent="#discipline-{{ discipline.id }}-body">
            {{ discipline.rules|markdown_to_html }}
          </div>
        {% endif %}
      {% endblock %}
      {% if not discipline.singlePower %}
        <div id="discipline-{{ discipline.id }}-powers" class="collapse accordion" data-bs-parent="#discipline-{{ discipline.id }}-body">
          <div class="col-12">
            <div class="fluff m-2">{{ discipline.description|markdown_to_html }}</div>
          </div>
          {% for power in discipline.powers %}
            <div class="row">
              {% if power.level <= maxPower %}
                {% set powerPool = power.detailedDicePool(character) %}
                <div class={% if loop.index % 2 %}"col-12 power-header"{% else %}"col-12 power-header-zebra"{% endif %}>
                  <div class="row pt-3" type="button"
                    data-bs-toggle="modal" data-bs-target="#powerShowModal"
                    data-action="click->vampire--power#show"
                    data-vampire--power-name-param="{{ power.name }}"
                    data-vampire--power-effect-param="{{ power.details|markdown_to_html|e }}"
                    data-vampire--power-link-param="{{ link|default(path('vampire_discipline_show', {'id': discipline.id, '_fragment': discipline.id ~ '-' ~ power.id})) }}"
                  >
                    <div class="col-3">
                      <h5 class="strong">{{ power.levelDots }}</h5>
                    </div>
                    <div class="col-6 text-center">
                      <span class="heading d-inline-block w-100 h-100">
                        {{ power.name }} {% include "_icon.html.twig" with {icon: 'info', class: 'icon-xs icon-neutral'} %}
                        {% block toggleMulti %}{% endblock %}
                      </span>
                    </div>
                    <div class="col-3 text-end text-glow">
                      {% if powerPool != null %}
                        {% include "_dice_pool.html.twig" with {pool : powerPool, contested : power.contestedText} %}
                      {% endif %}
                    </div>
                    <div class="col-8 offset-2 text-sub text-center">
                      <p class="fst-italic">{{ power.short }}</p>
                    </div>
                    <div class="col-2 text-end text-glow">
                      {% include "vampire/discipline/powers/_cost.html.twig" %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
