{% trans_default_domain 'vampire' %}

<div class="col-12 col-lg-6 justify-content-center">
  <div class="{% if customBlock is defined %}{{ customBlock }}{% else %}discipline-block text-color{% endif %} w-100 container g-1">
    <div class="row align-items-center px-2 user-select-none">
      <div class="col-12 discipline-header text-center p-2">
        <h2 class="text-glow text-color">
          {{ discipline.name }}
        </h2>
      </div>
      <div class="col-12 text-center">
        <div class="my-1" role="group" {% block controller %} {% endblock %} {% block data %} {% endblock %}> {% block input %}{% endblock %}
          <div class="dots">
            {% for value in 1..max %}
              {% if value >= 5 and value % 5 == 1 %}
              </div>
              <div class="dots">
              {% endif %}
              {% block dot %}{% endblock %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-12 text-sub text-center">
        <div>{{ discipline.short }}</div>
        {% include "_source_block.html.twig" with {element: discipline, class: 'text-end' } only %}
      </div>
    </div>

    <div class="row g-0 ok bdr-t">
      {% block rules_btn %}
        {% if discipline.rules %}
          <div class="col bdr-e collapsed" data-bs-toggle="collapse" data-bs-target="#discipline-{{ discipline.id }}-rules" type="button">
            <span class="d-flex flex-column justify-content-center text-center">
              <span class="discipline-rules-{{ discipline.id }} text-center show">
                {{ "rules"|trans({}, 'discipline') }}
              </span>
            </span>
          </div>
        {% endif %}
      {% endblock %}
      {% block powers_btn %}
        <div class="col collapsed" data-bs-toggle="collapse" data-bs-target="#discipline-{{ discipline.id }}-powers" type="button">
          <span class="d-flex flex-column justify-content-center text-center">
            <span class="discipline-powers-{{ discipline.id }} text-center">
              {{ 'power'|trans({'%count%': discipline.powers|length}, 'character') }}
            </span>
          </span>
        </div>
      {% endblock %}
    </div>

    <div id="discipline-{{ discipline.id }}-body" class="row accordion m-0">
      {% block rules %}
        {% if discipline.rules %}
          <div id="discipline-{{ discipline.id }}-rules" class="col-12 collapse" data-bs-parent="#discipline-{{ discipline.id }}-body">
            {{ discipline.rules|markdown_to_html }}
          </div>
        {% endif %}
      {% endblock %}
      {% if discipline.singlePower %}
        <div id="discipline-{{ discipline.id }}-powers" class="col-12 collapse">
          <div class="fluff m-2">{{ discipline.description|markdown_to_html }}</div>
          {{ discipline.power.details|markdown_to_html }}
        </div>
      {% else %}
        <div id="discipline-{{ discipline.id }}-powers" class="collapse accordion" data-bs-parent="#discipline-{{ discipline.id }}-body">
          <div class="col-12">
            <div class="fluff m-2">{{ discipline.description|markdown_to_html }}</div>
          </div>
          {% for power in discipline.powers %}
            <div class="row">
              {% if power.level <= maxPower %}
                {% set powerPool = power.detailedDicePool(character) %}
                <div class="col-12 power-header">
                  <div class="row collapsed pt-3" type="button" data-bs-toggle="collapse" data-bs-target="#discipline-{{ discipline.id }}-power-{{ power.id }}">
                    <div class="col-3">
                      <h5 class="strong">{{ power.levelDots }}</h5>
                    </div>
                    <div class="col-6 text-center">
                      <h3>{{ power.name }}</h3>
                    </div>
                    <div class="col-3 text-end">
                      {% if powerPool != null %}
                        {% include "_dice_pool.html.twig" with {pool : powerPool, contested : power.contestedText} %}
                      {% endif %}
                    </div>
                    <div class="col-12 text-sub text-center">
                      <p>{{ power.short }}</p>
                    </div>
                  </div>
                </div>
                <div id="discipline-{{ discipline.id }}-power-{{ power.id }}" class="accordion-collapse collapse py-2" data-bs-parent="#discipline-{{ discipline.id }}-powers">
                  {% include "_source_child.html.twig" with {element: power, parent: discipline, class: 'text-end' } only %}
                  {{ power.details|markdown_to_html }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
