{% trans_default_domain 'discipline' %}

{% if sorcery.powers|length > 0 and (sorcery.powers|first).level == 0 %}
  {% set ritual = sorcery.powers|first %}
{% endif %}

<div class="col-12 justify-content-center mt-2">
  <div class="{% if customBlock is defined %}{{ customBlock }}{% else %}discipline-block {% endif %} text-dark w-100 container g-1">
    <div class="row align-items-center px-2 user-select-none">
      <div class="col-12 discipline-header text-center p-2">
        <h3>
          {{ sorcery.name }}
          {% if sorcery.homebrewFor is not null %}
            {% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent' } only %}
          {% endif %}
        </h3>
      </div>
      <div class="col-12 text-center">
        <div class="my-1" role="group" {% block controller %} {% endblock %} {% block data %} {% endblock %}> {% block input %}{% endblock %}
          <div class="dots">
            {% for value in 1..max %}
              {% if value >= 5 and value % 5 == 1 %}
              </div>
              <div class="dots">
              {% endif %}
              {% block dot %}{% endblock %}
            {% endfor %}
          </div>
          {% block pool %}
            {% set powerPool = ritual.detailedDicePool(character) %}
            {% if powerPool is not null %}
              <div class="float-end text-glow">{% include "_dice_pool.html.twig" with {pool : powerPool, contested : ritual.contestedText } %}</div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
      <div class="col-12 text-sub text-center">
        <div>{{ sorcery.short }}</div>
        {% include "_source_block.html.twig" with {element: sorcery } only %}
      </div>
    </div>

    <div class="row g-0 ok bdr-t">
      {% block rules_btn %}
        {% if sorcery.rules %}
          <div class="col bdr-e collapsed" data-bs-toggle="collapse" data-bs-target="#sorcery-{{ sorcery.id }}-rules" type="button">
            <span class="d-flex flex-column justify-content-center text-center">
              <span class="discipline-rules-{{ sorcery.id }} text-center show">
                {{ "rules"|trans }}
              </span>
            </span>
          </div>
        {% endif %}
      {% endblock %}
      {% block powers_btn %}
        <div class="col collapsed" data-bs-toggle="collapse" data-bs-target="#sorcery-{{ sorcery.id }}-powers" type="button">
          <span class="d-flex flex-column justify-content-center text-center">
            <span class="sorcery-powers-{{ sorcery.id }} text-center">
              {{ 'sorcery.power.label.single'|trans }}
            </span>
          </span>
        </div>
      {% endblock %}
    </div>

    <div id="sorcery-{{ sorcery.id }}-body" class="row m-0 accordion">
      {% block rules %}
        {% if sorcery.rules %}
          <div id="sorcery-{{ sorcery.id }}-rules" class="col-12 collapse" data-bs-parent="#sorcery-{{ sorcery.id }}-body">
            {{ sorcery.rules|markdown_to_html }}
          </div>
        {% endif %}
      {% endblock %}
      <div id="sorcery-{{ sorcery.id }}-powers" class="powers-{{ sorcery.id }}-block collapse" data-bs-parent="#sorcery-{{ sorcery.id }}-body">
        <div class="col-12">
          <div class="fluff m-2">{{ sorcery.description|markdown_to_html }}</div>
        </div>
        {% block ritual %}
          {% if ritual %}
              <div class="row">
                <div class="col-12 power-header">
                  <div class="row collapsed mt-3" type="button" data-bs-toggle="collapse" data-bs-target=".sorcery-{{ sorcery.id }}-power-{{ ritual.id }}">
                    <div class="col-3 text-end">
                    </div>
                  </div>
                </div>
                <div class="sorcery-{{ sorcery.id }}-power-{{ ritual.id }} py-2" data-bs-parent=".powers-{{ sorcery.id }}-block">{{ ritual.details|markdown_to_html }}</div>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% block rituals %}{% endblock %}
