{% trans_default_domain 'derangement' %}

{% set first = true %}

<div class="row my-3" data-search-target="item" data-name="{{ derangement.name }} {% for degeneration in derangement.degenerations %}{{degeneration.name}}{% endfor %}">

{% if derangement.degenerations is empty %}
  <div class="col-12">
{% else %}
  <div class="col-6">
{% endif %}
    <div class="block {{ derangement.type }} h-100">
      {% if is_granted('ROLE_ST') %}<a type="button" href="{{ path('derangement_edit', {'id': derangement.id }) }}" class="float-end">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>{% endif %}
      <h2 class="user-select-none text-strong">
        {% if derangement.type %}{% include "_icon.html.twig" with {icon: ("type/" ~ derangement.type)|default('')} %}{% endif %}
        {{ derangement.name }}{% if not derangement.isMild %} ({{ derangement.previousAilment.name }} - {{ "severe"|trans }}){% endif %}
        {% if derangement.isExtreme %}{% include "_icon.html.twig" with {icon: 'extreme', class: 'accent', label: "help.extreme"|trans } %}{% endif %}
      </h2>
      <button type="button" class="btn btn-primary w-100" data-bs-target="#derangement-{{ derangement.id }}" data-bs-toggle="collapse">
        {% include "_icon.html.twig" with {icon: 'details'} only %}
        <span class="text-strong">{{ 'details'|trans }}</span>
      </button>
      <div id="derangement-{{ derangement.id }}" class="collapse p-2">{{ derangement.details|markdown_to_html }}</div>
    </div>
  </div>

  {% if derangement.degenerations is not empty %}
    <div class="col-6">
      <div class="row">
        {% for degeneration in derangement.degenerations %}
          <div class="col-12">
            <div class="block {{ degeneration.type }} my-2">
              {% if is_granted('ROLE_ST') %}<a type="button" href="{{ path('derangement_edit', {'id': degeneration.id }) }}" class="float-end">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>{% endif %}
              <h2 class="user-select-none text-strong">
                {% if degeneration.type %}{% include "_icon.html.twig" with {icon: ("type/" ~ degeneration.type)|default('')} %}{% endif %}
                {{ degeneration.name }}
                {% if degeneration.isExtreme %}{% include "_icon.html.twig" with {icon: 'extreme', class: 'accent', label: "help.extreme"|trans } %}{% endif %}
              </h2>
              <button type="button" class="btn btn-primary w-100" data-bs-target=".derangement-{{ degeneration.id }}" data-bs-toggle="collapse">
                {% include "_icon.html.twig" with {icon: 'details'} only %}
                <span class="text-strong">{{ 'details'|trans }}</span>
              </button>
              <div class="derangement-{{ degeneration.id }} collapse p-2">{{ degeneration.details|markdown_to_html }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %} 
</div>
