{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% set footer = true %}

{% block title %}{{ "derangements.label"|trans }}{% endblock %}

{% block bodyData %}
  data-controller="search" data-search-type-value="derangement"
{% endblock %}

{% block body %}
  {% include "back.html.twig" with {'link': path('wiki_index')} %}
  <div class="container block py-3">
    <div class="row py-3">
      <h1>
        {% include "icon.html.twig" with {'icon': "derangement", 'hasTips': 0, 'class': 'icon-lg' } only %}
        <span>{{ "derangements.label"|trans }}</span>
        {% include "icon.html.twig" with {'icon': "derangement", 'hasTips': 0, 'class': 'icon-lg' } only %}
      </h1>
      <div class="col-auto">
        {% if description is defined and description is not null and description.value is not empty %}
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="true" aria-controls="collapseDescription"><h4 class="d-inline-block text-start">{{ "description"|trans({}, 'wiki') }}</h4></a>
        {% endif %}
      </div>
      <div id="collapseDescription" class="col-12 flex-grow block collapse">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>
    <div class="row mt-2 text-center">
      <div class="col-6">
        <h2>{{ "derangement.mild"|trans }}</h2>
      </div>
      <div class="col-6">
        <h2>{{ "derangement.severe"|trans }}</h2>
      </div>
    </div>
    {% for derangement in derangements %}
      {% include "derangement/list_item.html.twig" %}
    {% endfor %}
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon"><i class="fa-solid fa-magnifying-glass fa-fw"></i></span>
    <input class="search-field" type="text" data-search-target="query" data-action="search#getResults">
    {% if is_granted('ROLE_ST') %}
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('derangement_new') }}">
          <span class="d-none d-md-inline">{% include "icon.html.twig" with {'icon' : 'add', 'hasTips': 0 } only %}</span>
          {% include "icon.html.twig" with {'icon' : 'derangement', 'hasTips': 0 } only %}
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}