{% extends 'base.html.twig' %}

{% trans_default_domain 'derangement' %}

{% set footer = true %}

{% block title %}{{ "label.multi"|trans }}{% endblock %}

{% block bodyController %}
  {{parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="derangement"
{% endblock %}

{% block shortcuts %}
  {% include "_top.html.twig" %}
  {% include "_back.html.twig" with {link: path('wiki_index')} %}
  {% if is_granted('ROLE_ST') %}
    <div class="ms-auto mt-2">
      <a class="btn btn-primary" href="{{ path('derangement_new') }}">
        <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'add' } only %}</span>
        {% include "_icon.html.twig" with {icon : 'derangement' } only %}
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block body %}
  {% include "_title.html.twig" with {title: label|default('label.multi') , domain: "derangement", icon: 'derangement'} %}

  <div class="container block py-3">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>
    <div class="row mt-2 text-center">
      <div class="col-6">
        <h2>{{ "mild"|trans }}</h2>
      </div>
      <div class="col-6">
        <h2>{{ "severe"|trans }}</h2>
      </div>
    </div>
    {% for derangement in derangements %}
      {% include "derangement/_list_item.html.twig" %}
    {% endfor %}
  </div>
{% endblock %}

{% block footerContent %}
  {% include "_search.html.twig" with { type: "derangement" } %}
{% endblock %}