{% trans_default_domain 'vampire' %}

<a {% if book.clans|length > 0 or book.bloodlines|length > 0 %} href="{{ path('clan_list', {'type': 'book', 'id': book.id}) }}"{% endif %}>
  {{ "clan.count"|trans({'%count%': book.clans|length}) }}
  <br>
  {{ "clan.bloodline.count"|trans({'%count%': book.bloodlines|length}) }}
</a>
<a {% if book.disciplines|length > 0 %} href="{{ path('discipline_list', {'type': 'book', 'id': book.id}) }}"{% endif %}>{{ "discipline.count"|trans({'%count%': book.disciplines|length}) }}</a>
