{% extends "character_sheet/vampire/element/discipline.html.twig" %}

{% trans_default_domain 'character' %}

{% block controller %}data-controller="dot" role="group"{% endblock %}

{% block data %}data-name="{{ discipline.name }}" data-id="{{ discipline.id }}" data-type="{% if character.clan.favored(discipline) %}favoredDiscipline{% else %}discipline{% endif %}" data-dot-base-value="{{ chDiscipline.level|default(0) }}" data-dot-min-value="{{ chDiscipline.level|default(0) }}"{% endblock %}

{% block input %}
  <input class="discipline-value" value="{{ chDiscipline.level|default(0) }}" type="hidden" name="character{% if chDiscipline is defined %}[disciplinesUp][{{ discipline.id }}]{% else %}[disciplines][{{ discipline.id }}]{% endif %}" data-id="{{ discipline.id }}" data-dot-target="input" data-character--edit-target="dot">
{% endblock %}

{% block dot %}
<input type="checkbox" {% if chDiscipline is defined and value <= chDiscipline.level %}checked{% endif %} class="btn-check" id="{{ discipline.id ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
<label class="btn dot {% if chDiscipline is defined and value <= chDiscipline.level %} dot-locked{% else %}dot-selectable{% endif %}" for="{{ discipline.id ~ '-' ~ value }}"
  data-action="click->dot#activate click->character--edit#pay"
  data-dot-value-param="{{ value }}"
  data-character--edit-type-param="{% if character.clan.favored(discipline) %}favoredDiscipline{% else %}discipline{% endif %}"
  data-character--edit-id-param="{{ discipline.id }}"
  data-character--edit-name-param="{{ discipline.name }}"
  data-character--edit-value-param="{{ value }}"
  data-character--edit-min-param="{{ chDiscipline.level|default(0) }}"
>
</label>
{% endblock %}