{% extends "character_sheet/vampire/element/sorcery.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block controller %}data-controller="dot" role="group"{% endblock %}

{% block data %}data-name="{{ sorcery.name }}" data-id="{{ sorcery.id }}" data-type="{% if clan.favored(sorcery) %}favoredDiscipline{% else %}discipline{% endif %}" data-dot-base-value="{{ characterDiscipline.level|default(0) }}" data-dot-min-value="{{ characterDiscipline.level|default(0) }}"{% endblock %}

{% block input %}
  <input class="discipline-value" value="{{ characterDiscipline.level|default(0) }}" type="hidden" name="character{% if characterDiscipline is defined %}[disciplinesUp][{{ sorcery.id }}]{% else %}[disciplines][{{ sorcery.id }}]{% endif %}" 
  data-id="{{ sorcery.id }}" data-dot-target="input" data-character--edit-target="dot">
{% endblock %}

{% block dot %}
<input type="checkbox" {% if characterDiscipline is defined and value <= characterDiscipline.level %}checked{% endif %} class="btn-check" id="{{ sorcery.id ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
<label class="btn dot {% if characterDiscipline is defined and value <= characterDiscipline.level %} dot-locked{% else %}dot-selectable{% endif %}" for="{{ sorcery.id ~ '-' ~ value }}"
  data-action="click->dot#activate click->character--edit#pay click->character--edit#showRituals"
  data-dot-value-param="{{ value }}"
  data-character--edit-id-param="{{ sorcery.id }}"
  data-character--edit-type-param="{% if clan.favored(sorcery) %}favoredDiscipline{% else %}discipline{% endif %}"
  data-character--edit-name-param="{{ sorcery.name }}"
  data-character--edit-value-param="{{ value }}"
  data-character--edit-base-param="{{ characterDiscipline.level|default(0) }}"
>
</label>
{% endblock %}

{% block rituals %}
  <div id="ritual-{{ sorcery.id }}" class="row accordion">
    {% for ritual in sorcery.powers[1:] %}
      {% if ritual not in character.rituals and ritual.level > 0 %}
        {% if ritual.level != level|default(0) %}
          {% set level = ritual.level %}
          <h3 id="ritual-{{ sorcery.id}}-{{ level }}" class="mt-3 py-2 bdr-t ritual-element-{{ sorcery.id}}{% if characterDiscipline.level|default(0) < level %} collapse{% else %} show{% endif %}" 
          data-level="{{ level }}" {% if character.hasRitualAtLevel(sorcery, level) %}data-first-free="0"{% else %}data-first-free="1"{% endif %}>
            {{ 'sorcery.powers.level'|trans({'%level%': level|format_number(style='spellout')|capitalize, '%sorcery%': sorcery.name}) }}
          </h3>
        {% endif %}
        <div class="col-12 col-md-6 my-2 ritual-element-{{ sorcery.id}}{% if characterDiscipline.level|default(0) < level %} collapse{% else %} show{% endif %}" data-level="{{ level }}">
          <div class="block d-flex flex-column justify-content-between p-3 my-3 h-100">
            <div class="flex-1" data-bs-toggle="collapse" data-bs-target=".ritual-text--{{ sorcery.id }}-{{ ritual.id }}" type="button" aria-expanded="false" aria-controls="ritual-text--{{ sorcery.id }}-{{ ritual.id }}">
              <h4>{{ ritual.name }}</h4>
              <div class="text-sub fst-italic">{{ ritual.short|markdown_to_html }}</div>
              <div class="ritual-text--{{ sorcery.id }}-{{ ritual.id }} collapse bdr-t" data-bs-parent="#ritual-{{ sorcery.id }}">
                {{ ritual.details|markdown_to_html }}
                {% include "_source.html.twig" with {'element': ritual } only %}
              </div>
            </div>
            <div class="btn btn-primary w-100" data-bs-toggle="button" aria-pressed="true"
            data-action="click->character--edit#payRitual"
            data-character--edit-id-param="{{ ritual.id }}"
            data-character--edit-sorcery-id-param="{{ sorcery.id }}"
            data-character--edit-type-param="ritual"
            data-character--edit-name-param="{{ ritual.name }}"
            data-character--edit-value-param="{{ 2 * ritual.level }}">
              {% include "_icon.html.twig" with {'icon': 'xp', 'hasTips': true} %}
              <input data-character--edit-target="ritualInput" id="ritual-{{ ritual.id }}" data-value="{{ 2 * ritual.level }}" data-name="{{ ritual.name }}" data-sorcery-id="{{ sorcery.id }}" class="ritual-value" value="0" type="hidden" name="character[rituals][{{ ritual.id }}]">
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
