{% extends "_modal.html.twig" %}

{% trans_default_domain 'app' %}

{% set isLarge = false %}
{% set id = "deleteModal-#{element}-#{entity.id}" %}

{% block title %}{{ "action.delete"|trans }} {{ entity.name|default(entity.id) }}{% endblock %}

{% block body %}
  <p>{{ "help.delete"|trans}}</p>
  <form method="post" action="{{ path(element ~ '_delete', {'id': entity.id}) }}">
    <button class="btn btn-warning btn-lg p-5 w-100">{% include "_icon.html.twig" with {icon: 'delete' } %} {{ "action.delete"|trans }}</button>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
  </form>
{% endblock %}
