{% trans_default_domain 'possessed' %}

<div class="block user-select-none h-100 p-3" data-controller="trait" data-trait-id-value="{{ character.id }}" data-trait-type-value="infernalWill" data-trait-current-value="{{ possessed.currentInfernalWill }}" data-trait-is-lesser-value="true">
  <h3 class="text-center pt-1">{% include "_icon.html.twig" with {icon : 'extreme', class: 'icon-lg' } only %} {{ 'infernal.will.label'|trans }}</h3>
  <div class="d-flex flex-column align-items-center">
    <div class="text-start">
      {% for index in 1..possessed.infernalWill %}
        {% if index <= possessed.currentInfernalWill %}
          {% set value = 1 %}
        {% else %}
          {% set value = 0 %}
        {% endif %}
        <svg class="trait-box" viewBox="0 0 100 100" role="button" 
          data-trait-target="input"
          data-action="click->trait#switch"
          data-count="{{ index }}"
          data-value="{{ value }}"
        >
          <rect class="trait-fill d-none on" x="10" y="10" width="85" height="85"/>
        </svg>
      {% endfor %}
    </div>
  </div>
</div>