<div class="col">
  <div class="card card-merit block" name="{{ "merit-" ~ merit.id }}" data-unique="{{ merit.isUnique|number_format }}">
    <div class="card-header">
      <div class="row align-items-center px-2">
        <div class="col" data-bs-toggle="collapse" data-bs-target=".merit-text-{{ merit.id }}" type="button" aria-expanded="false" aria-controls="meritText{{ merit.id }}">
          {% include "icon.html.twig" with {'icon' : merit.category } only %}
          <span class="merit-name">{{ merit.name }}</span>
        </div>
        <div class="col-auto">
          <div class="my-1" role="group" {% block controller %}{% endblock %} {% block data %}{% endblock %}>
            {% if merit.isFighting %}{% include "icon.html.twig" with {'icon' : 'style' } only %}{% endif %}
            {% if merit.isCreationOnly %}{% include "icon.html.twig" with {'icon' : 'creation' } only %}{% endif %}
              {% block input %}{% endblock %}
              <div class="dots">
              {% for value in 1..merit.max %}
                {% if value % 5 == 1 %}
                  <span class="ms-1"></span>
                {% endif %}
                {% block dot %}{% endblock %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body text-center text py-0">
      <div class="merit-text-{{ merit.id }} card-text show" data-bs-toggle="collapse" data-bs-target=".merit-text-{{ merit.id }}" type="button">
        {{ merit.description }}
      </div>
      {% if merit.isExpanded %}
        {% block expanded %}{% endblock %}
      {% endif %}
      <div class="merit-text-{{ merit.id }} card-text collapse" data-bs-toggle="collapse" data-bs-target=".merit-text-{{ merit.id }}" type="button">
        {{ merit.effect|markdown_to_html }}
        <p class="text-end">{{ merit.book }}</p>
      </div>
    </div>
    <div class="card-footer text py-0" data-bs-toggle="collapse" data-bs-target=".merit-text-{{ merit.id }}" type="button">
      {% include "character/sheet/meritPrerequisites.html.twig" %}
    </div>
    <div class="card-footer text py-0 d-flex flex-column justify-content-center" data-bs-toggle="collapse" data-bs-target=".merit-text-{{ merit.id }}" type="button">
      <span class="merit-text-{{ merit.id }} text-center show"><i class="fas fa-caret-down"></i></span>
      <span class="merit-text-{{ merit.id }} text-center collapse"><i class="fas fa-caret-up"></i></span>
    </div>
  </div>
</div>