{% extends "character_sheet/merits/element.html.twig" %}

{% block controller %}data-controller="dot"{% endblock %} 

{% block data %}data-dot-base-value="{{ 0 }}" data-dot-min-value="{{ 0 }}"{% endblock %}

{% block input %}
  <input
    class="merit-value" type="hidden" name="character_form[merits][{{ merit.id }}][level]" 
    data-id="{{ merit.id }}"
    data-name="{{ merit.name }}"
    data-category="{{ merit.category }}"
    data-fighting="{{ merit.isFighting }}"
    data-creation="{{ merit.isCreationOnly }}"
    data-race="{{ merit.type }}"
    data-dot-target="input"
    data-character--creation-target="merit"
    data-character--merits-target="merit"
  >
{% endblock %}

{% block dot %}
<input type="checkbox" {% if chMerit is defined and value <= chMerit.level %}checked{% endif %} class="btn-check" id="{{ merit.id ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
<label class="btn dot {% if value < merit.min %}dot-disabled disabled{% else %}dot-selectable{% endif %}" for="{{ merit.id ~ '-' ~ value }}"
  data-action="click->dot#activate click->character--merits#add click->character--creation#meritUpdate"
  data-dot-value-param="{{ value }}">
</label>
{% endblock %}

{% block expanded %}
<div class="card-text"><input name="character_form[merits][{{ merit.id }}][details]" type="text" class="form-control merit-detail"/></div>
{% endblock %}