{% block choice_widget_expanded -%}
  <div {{ block('widget_container_attributes') }}>
    {% if form.vars.choices|length != form.children|length %}
      {% if form.children['placeholder'] is defined %}
        {{- form_widget(form.children['placeholder'], {
          parent_label_class: label_attr.class|default(''),
          translation_domain: choice_translation_domain,
          valid: valid,
        }) -}}
      {% endif %}
      {% for name, choices in form.vars.choices %}
        <div class='choice_category'>
          <strong>{{name}}</strong>
        </div>
        <div class="my-radio-group">
          {% for key,choice in choices %}
            {{- form_widget(form[key],{parent_label_class: 'ko text'} ) -}}
            {{- form_label(form[key]) -}}
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}
      {%- for child in form %}
        {{- form_widget(child, {
          parent_label_class: label_attr.class|default(''),
          translation_domain: choice_translation_domain,
          valid: valid,
        }) -}}
      {% endfor -%}
    {% endif %}
  </div>
{%- endblock choice_widget_expanded %}