{% block choice_widget_expanded -%}
  <div {{ block('widget_container_attributes') }}>
    {% if (form.vars.choices|length != form.children|length and form.vars.multiple == true) %}
      {% if form.children['placeholder'] is defined %}
        {{- form_widget(form.children['placeholder'], {
          parent_label_class: label_attr.class|default(''),
          translation_domain: choice_translation_domain,
          valid: valid,
        }) -}}
      {% endif %}
      <div class="row">
        {% for name, choices in form.vars.choices %}
          <div class="col-12 col-md-4 col-xl-3">
              <div class='choice_category'>
                <strong class="accent">{{ name }}</strong>
              </div>
            <div class="radio-group">
              {% for key,choice in choices %}
                {{- form_widget(form[key],{parent_label_class: 'text text-option'} ) -}}
                {{- form_label(form[key]) -}}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      {%- for child in form %}
        {{- form_widget(child, {
          parent_label_class: label_attr.class|default(''),
          translation_domain: choice_translation_domain,
          valid: valid,
        }) -}}
      {% endfor -%}
    {% endif %}
  </div>
{%- endblock choice_widget_expanded %}