{% extends "base.html.twig" %}

{% trans_default_domain 'app' %}

{% block title %}{{ chronicle.name }}{% endblock %}

{% block shortcuts %}
  {% include "_back.html.twig" with {link: path('chronicle_show', {id: chronicle.id}) } %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <h1 class="pt-5">
      {% include "_icon_setting.html.twig" with {setting: chronicle.type } only %}
      {% include "_icon.html.twig" with {icon: 'homebrew'} only %} {{ "homebrew"|trans }} - {{ chronicle.name }}
    </h1>

    {# Human #}
    <div class="block row my-2">
      <h2 class="py-2">{% include "_icon_setting.html.twig" with {setting: 'human' } %} {{ "human.label"|trans({}, 'setting') }}</h2>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary human-btn w-100 m-2" href="{{path('merit_list', {filter: 'chronicle', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'merit' } only %}
          <span class="accent">{{ chronicle.merits|length }}</span>
          <span>{{ 'label.multi'|trans({}, 'merit') }}</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary human-btn w-100 m-2" href="{{path('organization_list', {filter: 'chronicle', setting: 'human' , id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'covenant' } only %}
          <span class="accent">{{ chronicle.organizations(app.user, "organization")|length }}</span>
          <span>{{ "label.multi"|trans([], "organization") }}</span>
        </a>
      </div>
      {# <div class="col-6 col-lg">
        <a class="btn btn-primary w-100 m-2" href="{{path('homebrew_index', {id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'rule' } only %} {{ "label.multi"|trans({}, 'rules') }}
        </a>
      </div> #}
    </div>

    {# Vampire #}
    <div class="block vampire row my-2">
      <h2 class="py-2">{% include "_icon_setting.html.twig" with {setting: 'vampire' } %} {{ "vampire.label"|trans({}, 'setting') }}</h2>
      <div class="col-12">
        <a class="btn btn-primary w-100 m-2" href="{{path('chronicle_rules_set', {type: 'vampire', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'type/vampire' } only %}
          <span>{{ "homebrew.vampire"|trans({}, 'chronicle')}}</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary w-100 m-2" href="{{path('organization_list', {filter: 'chronicle', setting: 'vampire' , id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'covenant' } only %}
          <span class="accent">{{ chronicle.organizations(app.user, "covenant")|length }}</span>
          <span>{{ "covenant.label.multi"|trans([], "organization") }}</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary w-100 m-2" href="{{path('vampire_clan_list', { filter: 'chronicle', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'clan' } only %}
          <span class="accent">{{ chronicle.clans|length }}</span>
          <span>{{ "label.multi"|trans({}, 'clan')}}</span><span class="d-none d-sm-inline">, {{ "bloodline.label.multi"|trans({}, 'clan')}}</span>
          <span class="accent">{{ chronicle.bloodlines|length }}</span>
          {% include "_icon.html.twig" with {icon: 'bloodline' } only %}
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary w-100 m-2" href="{{path('vampire_discipline_list', {type: 'discipline', filter: 'chronicle', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'discipline' } only %}
          <span class="accent">{{ chronicle.disciplinesFromCategory|length }}</span>
          <span>{{ "label.multi"|trans([], "discipline") }}</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary w-100 m-2" href="{{path('vampire_discipline_list', {type: 'sorcery', filter: 'chronicle', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'pentacle' } only %}
          <span class="accent">{{ chronicle.disciplinesFromCategory('sorcery')|length }}</span>
          {{ "sorcery.label.multi"|trans([], "discipline") }}
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary w-100 m-2" href="{{path('vampire_discipline_list', {type: 'coils', filter: 'chronicle', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'coils' } only %}
          <span class="accent">{{ chronicle.disciplinesFromCategory('coil')|length }}</span>
          <span>{{ "coil.label.multi"|trans([], "discipline") }}</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary w-100 m-2" href="{{path('vampire_discipline_list', {type: 'thaumaturgy', filter: 'chronicle', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'thaumaturgy' } only %}
          <span class="accent">{{ chronicle.disciplinesFromCategory('thaumaturgy')|length }}</span>
          <span>{{ "thaumaturgy.label"|trans([], "discipline") }}</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary w-100 m-2" href="{{path('vampire_devotion_list', { filter: 'chronicle', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'devotion' } only %}
          <span class="accent">{{ chronicle.devotions|length }}</span>
          <span>{{ "devotion.label.multi"|trans([], "discipline") }}</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <a class="btn btn-primary w-100 m-2" href="{{path('ghoul_family_list', { filter: 'chronicle', id: chronicle.id })}}">
          {% include "_icon.html.twig" with {icon: 'ghoul_family' } only %}
          <span class="accent">{{ chronicle.ghoulFamilies|length }}</span>
          <span>{{ "family.label.multi"|trans([], "ghoul") }}</span>
        </a>
      </div>
    </div>
  </div>

  {# Mage #}
  <div class="block mage row my-2">
    <h2 class="py-2">{% include "_icon_setting.html.twig" with {setting: 'mage' } %} {{ "mage.label"|trans({}, 'setting') }}</h2>
    <div class="col-12">
      <a class="btn btn-primary w-100 m-2" href="{{path('chronicle_rules_set', {type: 'mage', id: chronicle.id })}}">
        {% include "_icon.html.twig" with {icon: 'type/mage' } only %}
        <span>{{ "homebrew.mage"|trans({}, 'chronicle')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 m-2" href="{{path('organization_list', {filter: 'chronicle', setting: 'mage' , id: chronicle.id })}}">
        {% include "_icon.html.twig" with {icon: 'order' } only %}
        <span class="accent">{{ chronicle.organizations(app.user, "order")|length }}</span>
        <span>{{ "order.label.multi"|trans({}, 'organization')}}</span><span class="d-none d-sm-inline"></span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 m-2" href="{{path('mage_path_list', {filter: 'chronicle', id: chronicle.id })}}">
        {% include "_icon.html.twig" with {icon: 'path' } only %}
        <span class="accent">{{ chronicle.paths|length }}</span>
        <span>{{ "label.multi"|trans({}, 'path')}}</span><span class="d-none d-sm-inline"></span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 m-2" href="{{path('mage_legacy_list', {filter: 'chronicle', id: chronicle.id })}}">
        {% include "_icon.html.twig" with {icon: 'legacy' } only %}
        <span class="accent">{{ chronicle.legacies|length }}</span>
        <span>{{ "legacy.label.multi"|trans({}, 'path')}}</span><span class="d-none d-sm-inline"></span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 m-2" href="{{path('mage_spell_list', {filter: 'chronicle', id: chronicle.id })}}">
        {% include "_icon.html.twig" with {icon: 'spell' } only %}
        <span class="accent">{{ chronicle.spells|length }}</span>
        <span>{{ "label.multi"|trans([], "spell") }}</span>
      </a>
    </div>
  

  </div>
</div>

{% endblock %}