{% extends "base.html.twig" %}

{% trans_default_domain 'app' %}

{% block title %}{{ chronicle.name }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <h1 class="pt-5">
      {% include "_icon_setting.html.twig" with {'setting': chronicle.type} only %}
      {% include "_icon.html.twig" with {'icon': 'homebrew', 'hasTips': 0, 'class': 'icon-xl' } only %} {{ "homebrew"|trans }} - {{ chronicle.name }}
    </h1>
    <div class="block row mt-5">
      <h2 class="py-2"> {{ "type.universal"|trans }}</h2>
      <div class="col-6 col-lg-4">
        <a class="btn btn-primary w-100 m-2" href="{{path('merit_list', {'type': 'chronicle', 'id': chronicle.id })}}">
          {% include "_icon.html.twig" with {'icon': 'merits', 'hasTips': 0 } only %} {{ "merits"|trans }}
        </a>
      </div>
      {# <div class="col-6 col-lg">
        <a class="btn btn-primary w-100 m-2" href="{{path('homebrew_index', {'id': chronicle.id })}}">
          {% include "_icon.html.twig" with {'icon': 'rules', 'hasTips': 0 } only %} {{ "rules"|trans }}
        </a>
      </div> #}
    </div>
    <div class="block vampire row">
      <h2 class="py-2"> {{ "type.vampire"|trans }}</h2>
      <div class="col-6 col-lg-4">
        <a class="btn btn-primary w-100 m-2" href="{{path('clan_list', {'filter': 'chronicle', 'id': chronicle.id })}}">
          {% include "_icon.html.twig" with {'icon': 'clan', 'hasTips': 0 } only %}{{ "clans.label"|trans({}, 'vampire')}} <span class="d-none d-sm-inline">& {{ "clan.bloodlines.label"|trans({}, 'vampire')}}</span>{% include "_icon.html.twig" with {'icon': 'bloodline', 'hasTips': 0 } only %}
        </a>
      </div>
      <div class="col-6 col-lg-4">
        <a class="btn btn-primary w-100 m-2" href="{{path('discipline_filter', {'type': 'discipline','filter': 'chronicle', 'id': chronicle.id })}}">
          {% include "_icon.html.twig" with {'icon': 'disciplines', 'hasTips': 0 } only %} {{ "disciplines.label"|trans([], "vampire") }}
        </a>
      </div>
      <div class="col-6 col-lg-4">
        <a class="btn btn-primary w-100 m-2" href="{{path('discipline_filter', {'type': 'sorcery','filter': 'chronicle', 'id': chronicle.id })}}">
          {% include "_icon.html.twig" with {'icon': 'sorcery', 'hasTips': 0 } only %} {{ "sorcery.label"|trans([], "vampire") }}
        </a>
      </div>
      <div class="col-6 col-lg-4">
        <a class="btn btn-primary w-100 m-2" href="{{path('discipline_filter', {'type': 'coils','filter': 'chronicle', 'id': chronicle.id })}}">
          {% include "_icon.html.twig" with {'icon': 'coils', 'hasTips': 0 } only %} {{ "coils.label"|trans([], "vampire") }}
        </a>
      </div>
      <div class="col-6 col-lg-4">
        <a class="btn btn-primary w-100 m-2" href="{{path('discipline_filter', {'type': 'thaumaturgy','filter': 'chronicle', 'id': chronicle.id })}}">
          {% include "_icon.html.twig" with {'icon': 'thaumaturgy', 'hasTips': 0 } only %} {{ "thaumaturgy.label"|trans([], "vampire") }}
        </a>
      </div>
      <div class="col-6 col-lg-4">
        <a class="btn btn-primary w-100 m-2" href="{{path('devotion_list', {'filter': 'chronicle', 'id': chronicle.id })}}">{% include "_icon.html.twig" with {'icon': 'devotions', 'hasTips': 0 } only %} {{ "devotions.label"|trans([], "vampire") }}
          </a>
      </div>
    </div>
  </div>
</div>

{% include "_back.html.twig" with {'link': path('chronicle_show', {'id': chronicle.id}) } %}

{% endblock %}