{% trans_default_domain 'derangement' %}

<label class="accent" for="derangement">{{ "label.single"|trans }}</label>
<select class="form-control" name="derangement" autocomplete="off" {% if required|default(false) %}required{% endif %}
>
  <option value=""></option>
  {% for derangement in derangements %}
    <option value="{{ derangement.id }}" class="collapsed" data-bs-toggle="collapse" data-bs-target="#derangement-{{ derangement.id }}-{{ tag|default('new') }}">
      {{ derangement.name }}
      —
      {% if derangement.isExtreme %}[{{ "extreme"|trans }}]{% endif %}
      ({% if derangement.isMild %}{{ "mild"|trans }}{% else %}{{ "severe"|trans }}{% endif %})
      {% if derangement.type %} — {{ derangement.type|trans({}, 'content-type') }}{% endif %}
    </option>
  {% endfor %}
</select>
