{% trans_default_domain 'character' %}

<div class="d-inline-block text-center">
  <div>
    <input type="checkbox" class="btn-check" id="{{ 'health-' ~ current }}" value="{{ current }}" autocomplete="off" {% if current <= health %}checked{% endif %} disabled>
    <label class="btn dot" for="{{ 'health-' ~ current }}"></label>
  </div>
  <div>
    <svg class="health-box {% if current > health %}disabled{% endif %}" viewBox="0 0 100 100" role="button" data-controller="character--damage" data-character--damage-target="input" data-character--damage-id-value="{{ character.id }}" data-character--damage-current-value="{{ value }}" data-action="click->character--damage#take contextmenu->character--damage#heal" class="text-center">
      <line class="health-fill d-none bashing lethal aggravated" x1="10" y1="90" x2="90" y2="10"/>
      <line class="health-fill d-none lethal aggravated" x1="10" y1="10" x2="90" y2="90"/>
      <path class="health-fill d-none aggravated" d="M5 50 H95 H50 V5 V95 V50"/>
    </svg>
  </div>
  <div class="malus-box">
    <span class="text-sub">
      {% if current > floor and current <= health %}
        <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'wound.penalty'|trans }}">{{ health - current - character.woundMalus }}</span>
      {% else %}
        &nbsp;
      {% endif %}
    </span>
  </div>
</div>