{% trans_default_domain 'character' %}

<div class="d-inline-block text-center">
  <div>
    <span role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ (trait ~ '.value')|trans({'%value%': current}) }}">
      <input type="checkbox" class="btn-check" id="{{ trait ~ '-' ~ current }}" value="{{ current }}" autocomplete="off" {% if current <= max %}checked{% endif %} disabled>
      <label class="btn dot {% if current > limit|default(max) %}dot-disabled{% endif %}" for="{{ trait ~ '-' ~ current }}"></label>
    </span>
  </div>
  <div>
    <svg class="trait-box{% if current > max %} disabled{% endif %}" viewBox="0 0 100 100" role="button" class="text-center"
    data-trait-target="input" data-action="click->trait#switch"
    data-count="{{ index }}"
    data-value="{{ value }}"
    >
      {# <line class="trait-fill d-none on" x1="10" y1="90" x2="90" y2="10"/>
      <line class="trait-fill d-none on" x1="10" y1="10" x2="90" y2="90"/> #}
      <rect class="trait-fill d-none on" x="10" y="10" width="85" height="85"/>
    </svg>
  </div>
  <div class="malus-box">
    &nbsp;
  </div>
</div>