{% trans_default_domain 'organization' %}

<h2>{{ 'covenant.label.single'|trans }}</h2>
{{form_row(form.covenant)}}
{% for covenant in covenants %}
  <div class="block block-solid covenant-{{ covenant.id }} text-dark d-none p-2 mb-3" data-character--embrace-target="covenantDescription">
    {% if covenant.emblem is not null %}
      <img class="mx-auto d-block p-2" src="{{ asset(covenant.emblem, 'organizations_emblems') }}" alt="{{ covenant.name}}" height="200"/>
      {{ covenant.description|markdown_to_html }}
      {% if covenant.devotions is not empty %}
        <h3>{% include "_icon.html.twig" with {icon: 'devotion'} only %} {{ 'covenant.devotion.limited'|trans }}</h3>
        <div class="row">
          {% for devotion in covenant.devotions %}
            <div class="col-auto">{{ devotion.name }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% if covenant.discountMerits is not empty %}
        <h3>{% include "_icon.html.twig" with {icon: 'cost'} only %}{% include "_icon.html.twig" with {icon: 'merit'} only %} {{ 'covenant.merit.discount'|trans }}</h3>
        <div class="row">
          {% for discountedMerit in covenant.discountMerits %}
            <div class="col-auto">{{ discountedMerit.name }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% if covenant.merits is not empty %}
        <h3>{% include "_icon.html.twig" with {icon: 'merit'} only %} {{ 'covenant.merit.limited'|trans }}</h3>
        <div class="row">
          {% for merit in covenant.merits %}
            <div class="col-auto">{{ merit.name }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endfor %}