{% trans_default_domain 'character' %}

{% block header %}
<div class="d-none">
  {{ form_row(form.player) }}
</div>
<div class="row p-5">
  <div class="col-12 col-lg-4">
    <div class="row">
      <div class="col-12">
        {{ form_row(form.name) }}
      </div>
      <div class="col-12">
        {{ form_row(form.age) }}
      </div>
      <div class="col-12">
        <div class="mb-3 row">
          <label class="col-form-label col-sm-auto">Player</label>
          <div class="col-sm">
            <input class="form-control" value="{{ character.player|default(app.user) }}" readonly>
          </div>
        </div>
      </div>
      <div class="col-12">
        {{ form_row(form.concept) }}
      </div>
    </div>
  </div>
  <hr class="d-block d-lg-none">
  <div class="col-12 col-lg-4">
    <div class="row">
      <div class="col-12">
        {{ form_row(form.virtue) }}
        {{ form_row(form.virtueDetail) }}
      </div>
      <div class="col-12">
        {{ form_row(form.vice) }}
        {{ form_row(form.viceDetail) }}
      </div>
    </div>
  </div>
  <hr class="d-block d-lg-none">
  <div class="col-12 col-lg-4">
    <div class="row">
      <div class="col-12">
        {{ form_row(form.chronicle) }}
      </div>
      <div class="col-12">
        {{ form_row(form.faction) }}
      </div>
      <div class="col-12">
        {{ form_row(form.groupName) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}