{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block body %}
	{% include "_back.html.twig" with {'link': path('character_show', {'id': character.id}) } %}
	<div class="container-fluid container-lg py-3">
		<div class="row justify-content-center">
			<h1 class="text-center mt-5">{{ ('infos.details.edit')|trans }}</h1>
			<div class="col block p-5">
				{{ form_start(form) }}
          <div {{ stimulus_controller('form-collection') }} 
            data-form-collection-index-value="{{ form.infos|length > 0 ? form.infos|last.vars.name + 1 : 0 }}"
            data-form-collection-prototype-value="{{ form_widget(form.infos.vars.prototype)|e('html_attr') }}"
          >
            <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
              {% for infos in form.infos %}
                <div class="row mb-3">
                  {{ form_widget(infos)}}
                </div>
              {% endfor %}
            </ul>
            <div class="d-flex flex-row-reverse">
              <button type="button" class="btn btn-primary w-25 btn-lg mb-2" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                {% include "_icon.html.twig" with {'icon': 'details'} %}
                {{ "infos.details.add"|trans }}
              </button>
            </div>
          </div>
          <div class="text-center fixed-bottom">
            <button class="btn btn-primary btn-lg w-100">
              {% include "_icon.html.twig" with {'icon': 'save'} %}
              {{ ('action.save')|trans({}, 'app') }}
            </button>
          </div>
          {{ form_rest(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
