{% trans_default_domain 'character' %}

<div id="menu" class="container">
  <div class="row text-center text g-0">
    <div class="col-3 ps-1 pe-0">
      <button class="btn btn-sm btn-menu btn-primary w-100" type="button" data-action="click->character--edit#clean">
        {% include "_icon.html.twig" with {'icon': 'save', 'hasTips': 0} only %}
        {# {{ "save"|trans({}, 'app' ) }} #}
      </button>
    </div>
    <div class="col-2 px-0">
      <div class="btn-sm btn-menu w-100 form-control" readonly>
        <input id="is_free" type="checkbox" name="character[isFree]">
        <label for="is_free" role="button">
          {% include "_icon.html.twig" with {'icon': 'free'} only %}
          <span class="d-none d-md-inline text-sub">{{ "xp.free"|trans }}</span>
        </label>
      </div>
    </div>
    <div class="col-5">
      <input value="0" type="hidden" name="character[xp][spend]" data-character--edit-target="spend">
      <div class="w-100 block">
        <div class="d-flex flex-row justify-content-center btn btn-menu btn-primary btn-sm w-100" data-bs-toggle="collapse" role="button" data-bs-target=".usingInfo">
          <span>
            {% include "_icon.html.twig" with {'icon': 'details', 'hasTips': 0} only %}
            &nbsp;
          </span>
          <div class="py-0 d-flex flex-column justify-content-center">
            <span class="usingInfo show">
              {% include "_icon.html.twig" with {'icon': 'caret-down', 'hasTips': 0} only %}
            </span>
            <span class="usingInfo collapse">
              {% include "_icon.html.twig" with {'icon': 'caret-up', 'hasTips': 0} only %}
            </span>
          </div>
        </div>
        <div class="collapse usingInfo" data-character--edit-target="usingInfo">{{ 'xp.details.none'|trans }}</div>
        {{ character.xpUsed }} + <span data-character--edit-target="using">0</span>/{{ character.xpAvailable }}
      </div>
    </div>
    <div class="col-2">
      <a class="btn btn-sm btn-menu btn-primary w-100" href="{{ path('character_show', {'id': character.id}) }}">
        {% include "_icon.html.twig" with {'icon': 'back', 'hasTips': 0} only %}
        {# {{ "back"|trans }} #}
      </a>
    </div>
  </div>
</div>
