{% extends "character_sheet/element/merit.html.twig" %}

{% block controller %}data-controller="dot"{% endblock %}

{% block data %}data-name="{{ merit.name }}" data-type="merit" data-dot-base-value="{{ chMerit.level|default(0) }}" data-dot-min-value="{{ chMerit.level|default(0) }}"{% endblock %}

{% block input %}
  <input class="merit-value" id="merit-{{ chMerit.id|default(merit.id) }}" value="{{ chMerit.level|default(0) }}" type="hidden" name="character{% if chMerit is defined %}[meritsUp][{{ chMerit.id }}]{% else %}[merits][{{ merit.id }}]{% endif %}[level]" data-id="{{ chMerit.id|default(merit.id) }}" data-category="{{ merit.category }}" data-dot-target="input" data-character--merits-target="merit" data-character--edit-target="dot">
{% endblock %}

{% block dot %}
  <input type="checkbox" {% if chMerit is defined and value <= chMerit.level %}checked{% endif %} class="btn-check" id="{{ merit.id ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
  <label class="btn dot{% if value < merit.min %} dot-disabled disabled{% else %} dot-selectable{% endif %}{% if chMerit is defined and value <= chMerit.level %} dot-locked{% endif %}" for="{{ merit.id ~ '-' ~ value }}"
    data-action="click->dot#activate click->character--edit#pay {% if isImproving is not defined %}click->character--merits#add{% endif %}"
    data-dot-value-param="{{ value }}"
    data-character--edit-type-param="merit"
    data-character--edit-id-param="{{ chMerit.id|default(merit.id) }}"
    data-character--edit-name-param="{{ merit.name }}"
    data-character--edit-value-param="{{ value }}"
    data-character--edit-min-param="{{ chMerit.level|default(0) }}"
  >
  </label>
{% endblock %}

{% block expanded %}
  {% if chMerit is defined %}
    <div class="card-text"><input name="character[meritsUp][{{ chMerit.id }}][details]" type="text" class="form-control merit-detail" value="{{ chMerit.choice }}"/></div>
  {% else %}
    <div class="card-text"><input name="character[merits][{{ merit.id }}][details]" type="text" class="form-control merit-detail"/></div>
  {% endif %}
{% endblock %}