{% trans_default_domain 'vampire' %}

<h2 class="mt-4">Add Vampire Template</h2>
<div class="row block my-2 py-3" data-controller="character--embrace">
  <div class="col-12 col-sm-6 text-center">
    {{ form_row(form.deathAge) }}
  </div>
  <div class="col-12 col-sm-6 text-center">
    {{ form_row(form.sire) }}
  </div>
  <div class="col-12">
    {% include "character_sheet_type/vampire/embrace/_clans.html.twig" %}
    <h4>{{ 'creation.attribute'|trans }}</h4>
    {{ form_row(form.attribute, {'attr': {class: 'btn-check'}}) }}
    {% include "character_sheet_type/vampire/embrace/_covenants.html.twig" %}
    {% include "character_sheet_type/vampire/embrace/_disciplines.html.twig" with {formName: "character_form"}%}
    <h2>{{ 'morality.label'|trans }}</h4>
    <h4>{{ 'creation.humanity.title'|trans }}</h4>
    <div class="col-12 text-center text-strong mt-2">{{ 'creation.humanity.text'|trans }}</div>
    {{ form_row(form.moral) }}
    <h2>{{ 'potency.label'|trans }}</h4>
    <div class="col-12 text-center text-strong mt-2">{{ 'creation.potency'|trans }}</div>
    {{ form_row(form.potency) }}
  </div>
</div>