{% trans_default_domain 'discipline' %}

<div class="container collapse discipline-{{ discipline.id }} p-2" data-bs-parent="#disciplinesTable">
  <div class="row">
    <div class="col-2 col-md-2 offset-md-1"><span class="text-strong">{{ ("level")|trans({}, 'app') }}</span></div>
    <div class="col-4 text-center"><span class="text-strong">{{ ("name")|trans({}, 'app') }}</span></div>
    <div class="col-6 col-md-5"><span class="text-strong">{{ ("effect")|trans }}</span></div>
  </div>
  {% for power in discipline.powers %}
    <div class="row">
      <div class="col-2 col-md-2 offset-md-1">{{ power.getLevelDots }}</div>
      <div class="col-4 text-center"><h5>{{ power.name }}</h5></div>
      <div class="col-6 col-md-5">{{ power.short }}</div>
    </div>
  {% endfor %}
</div>