{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block title %}Wiki{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ (entity ~ ".label")|trans }}</h1>
    <div class="row mt-5 mb-2">
      {% if is_granted('ROLE_ST') %}
        <a class="btn btn-primary w-100" href="{{ path('vampire_discipline_new') }}">{{ 'discipline.new'|trans }}</a>
      {% endif %}
    </div>
    <div class="row block p-2">
      <table id="disciplinesTable" class="table table-dark table-hover accordion">
        <thead>
          <tr>
            <th scope="col">{{ ("name")|trans({}, "app") }}</th>
            <th scope="col" colspan="2">{{ ("short")|trans({}, "app") }}</th>
            <th scope="col">{{ ("actions")|trans({}, "app") }}</th>
          </tr>
        </thead>
        <tbody>
          {% for discipline in elements %}
            <tr>
              <th scope="row" data-bs-toggle="collapse" data-bs-target=".discipline-{{ discipline.id }}">
                <a href="{{ path(entity ~ '_show', {'id': discipline.id}) }}">{{ discipline.name }}</a>
              </th>
              <td colspan="2" data-bs-toggle="collapse" data-bs-target=".discipline-{{ discipline.id }}">
                {{ discipline.short }}
              </td>
              <td class="border-start">
                <a href="{{ path(entity ~ '_show', {'id': discipline.id}) }}">{% include "icon.html.twig" with {'icon' : 'view' } only %}</a>
                {% if is_granted('ROLE_ST') %}
                  <a href="{{ path('discipline_edit', {'id': discipline.id}) }}">{% include "icon.html.twig" with {'icon' : 'edit' } only %}</a>
                  <a href="{{ path('discipline_power_add', {'id': discipline.id}) }}">{% include "icon.html.twig" with {'icon' : 'add' } only %}</a>
                {% endif %}
              </td>
            </tr>
            {% if discipline.maxLevel > 1 %}
              {% include "vampire/discipline/table.multi.html.twig" %}
            {% else %}
              {% include "vampire/discipline/table.single.html.twig" %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}