{% extends 'vampire/form.html.twig' %}

{% trans_default_domain 'discipline' %}

{% block title %}{{ "power.edit"|trans({'%power%': power.name, '%discipline%': power.discipline.name}) }}{% endblock %}
{% block header %}{{ "power.edit"|trans({'%power%': power.name, '%discipline%': power.discipline.name}) }}{% endblock %}

{% block form %}
  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.short) }}
  {{ form_row(form.details) }}
  {{ form_row(form.level) }}
  {{ form_row(form.source) }}
  {{ form_row(form.attributes) }}
  {{ form_row(form.skills) }}
  {{ form_row(form.usePotency) }}
  {{ form_row(form.contestedText) }}
  {{ form_row(form.canToggle) }}
  {% include "forms/_statuseffect_field.html.twig" %}
  {{ form_end(form)}}
{% endblock %}

{% block actions %}
  <a class="btn btn-primary ms-4" href="{{ path('discipline_show', {'id': power.discipline.id}) }}">{{ 'action.back'|trans({}, "app") }}</a>
{% endblock %}