{% extends 'vampire/form.html.twig' %}

{% trans_default_domain 'discipline' %}

{% block title %}{{ "power.new"|trans({'%discipline%': power.discipline.name}) }}{% endblock %}

{% block header %}{{ "power.new"|trans({'%discipline%': power.discipline.name}) }}{% endblock %}

{% block form %}
  {{ form_start(form) }}
      {% include "forms/_statuseffect_field.html.twig" %}
      {{ form_rest(form) }}
      <div class="text-center fixed-bottom">
        <button class="btn btn-primary btn-lg w-100 rounded-0 rounded-top" type="submit">
          {% include "_icon.html.twig" with {icon: 'save'} %}
          {{ ('action.save')|trans({}, 'app') }}
        </button>
      </div>
  {{ form_end(form ) }}

{% endblock %}

{% block actions %}
{% endblock %}
