{% extends 'base.html.twig' %}

{% trans_default_domain 'vampire' %}

{% block title %}{{ discipline.name }}{% endblock %}

{% block body %}
  <div class="container block py-3 mt-5">
    <a class="float-end" href="{{ path('discipline_edit', {'id': discipline.id}) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} only %}</a>
    <h1 class="py-4">{{ discipline.name }}</h1>
    <div class="row">
      <div class="col">
        <p class="fluff">{{ discipline.description }}</p>
        <p>{{ discipline.rules|markdown_to_html }}</p>
        {% if discipline.book is not null %}
          <p>{{ "source"|trans({"%book%": discipline.book, "%page%": discipline.page}, "app") }}</p>
        {% endif %}
        <div>
          <h2 class="pb-2">{{ 'power'|trans({'%count%': discipline.powers|length}, "character") }}</h2>
          <div class="block p-2">
            {% for power in discipline.powers %}
                <a class="float-end" href="{{ path('discipline_power_edit', {'id': power.id}) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} only %}</a>
                <h3>{{ power.levelDots }} {{ power.name }}{% if is_granted('ROLE_ST') %}{% endif %}</h3>
                <p>{{ power.details|markdown_to_html }}</p>
            {% endfor %}
          </div>
          {% if is_granted('ROLE_ST') %}
            <a class="btn btn-primary w-100" href="{{ path('discipline_power_add', {'id': discipline.id}) }}">{{ 'discipline.power.add'|trans }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary position-sticky bottom-0" href="{{ path('discipline_index') }}">{% include "icon.html.twig" with {'icon': 'back'} only %}{{ 'disciplines.list.back'|trans }}</a>
{% endblock %}