{% extends 'base.html.twig' %}

{% trans_default_domain 'vampire' %}

{% block title %}{{ discipline.name }}{% endblock %}

{% block body %}
  <div class="container block py-3 mt-5">
    <a class="float-end" href="{{ path('discipline_edit', {'id': discipline.id}) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} only %}</a>
    <h1 class="py-4">{{ discipline.name }}</h1>
    <div class="row">
      <div class="col">
        <p class="fluff">{{ discipline.description }}</p>
        <p>{{ discipline.rules|markdown_to_html }}</p>
        {% if discipline.book is not null %}
          <p>{{ "source"|trans({"%book%": discipline.book, "%page%": discipline.page}, "app") }}</p>
        {% endif %}
        {% if discipline.isSorcery %}
          {% include "vampire/discipline/powers/sorcery.html.twig" with {'rituals': discipline.powers} %}
        {% elseif discipline.isCoil %}
          {% include "vampire/discipline/powers/coil.html.twig" with {'tiers': discipline.powers} %}
        {% elseif discipline.isThaumaturgy %}
          {% include "vampire/discipline/powers/default.html.twig" with {'powers': discipline.powers} %}
          {# {% include "vampire/discipline/powers/thaumaturgy.html.twig" with {'powers': discipline.powers} %} #}
        {% else %}
          {% include "vampire/discipline/powers/default.html.twig" with {'powers': discipline.powers} %}
        {% endif %}
      </div>
    </div>
  </div>
  <a class="btn btn-primary position-sticky bottom-0" href="{{ path('vampire_discipline_index') }}">{% include "icon.html.twig" with {'icon': 'back'} only %}{{ 'disciplines.list.back'|trans }}</a>
{% endblock %}