{% extends 'base.html.twig' %}

{% trans_default_domain 'vampire' %}

{% set setting = 'vampire' %}

{% block title %}{{ discipline.name }}{% endblock %}

{% block body %}
  <div class="container block-light py-2 mt-2 rounded">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('discipline_edit', {id: discipline.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    <h1 class="text-stylized py-4">{{ discipline.name }}</h1>
    <div class="row">
      <div class="col">
        <p class="fluff">{{ discipline.description }}</p>
        <span class="text-dark">{{ discipline.rules|markdown_to_html }}</span>
        {% include "_source_block.html.twig" with {element: discipline, class: 'text-end fst-italic text-strong' } only %}
        {% if discipline.isSorcery %}
          {% include "vampire/discipline/powers/_sorcery.html.twig" with {'rituals': discipline.powers} %}
          {% include "_back.html.twig" with {link: path('vampire_sorcery_index')} %}
        {% elseif discipline.isCoil %}
          {% include "vampire/discipline/powers/_coil.html.twig" with {'tiers': discipline.powers} %}
          {% include "_back.html.twig" with {link: path('vampire_coils_index')} %}
        {% elseif discipline.isThaumaturgy %}
          {% include "vampire/discipline/powers/_default.html.twig" with {'powers': discipline.powers} %}
          {% include "_back.html.twig" with {link: path('vampire_thaumaturgy_index')} %}
          {# {% include "vampire/discipline/powers/thaumaturgy.html.twig" with {'powers': discipline.powers} %} #}
        {% else %}
          {% include "vampire/discipline/powers/_default.html.twig" with {'powers': discipline.powers} %}
          {% include "_back.html.twig" with {link: path('vampire_discipline_index')} %}
          {% include "_top.html.twig" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}