{% trans_default_domain 'vampire' %}

<thead class="collapse discipline-{{ discipline.id }}">
  <tr>
    <th scope="col">{{ ("level")|trans({}, 'app') }}</th>
    <th scope="col" colspan="2">{{ ("short")|trans({}, 'app') }}</th>
    <th scope="col">{{ ("actions")|trans({}, 'app') }}</th>
  </tr>
</thead>
<tbody class="collapse discipline-{{ discipline.id }}" data-bs-parent="#disciplinesTable">
  <tr class="table-secondary">
    <td>{{ "discipline.level.single"|trans }}</td>
    <td colspan="2">{{ discipline.power.short|default("") }}</td>
    <td class="border-start">
      {% if is_granted('ROLE_ST') and discipline.power is not null %}
        <a href="{{ path('discipline_power_edit', {'id': discipline.power.id}) }}">{% include "icon.html.twig" with {'icon' : 'edit' } only %}</a>
      {% endif %}
    </td>
  </tr>
</tbody>