{% trans_default_domain 'vampire' %}

{% set power = discipline.power %}

<div class="container collapse discipline-{{ discipline.id }} p-2" data-bs-parent="#disciplinesTable">
  <div class="row">
    <div class="col-2 offset-md-2"><span class="text-strong">{{ ("level")|trans({}, 'app') }}</span></div>
    <div class="col-10 col-md-8"><span class="text-strong">{{ ("short")|trans({}, 'app') }}</span></div>
  </div>
  <div class="row">
    <div class="col-2 offset-md-2">{{ power.getLevelDots }}</div>
    <div class="col-10 col-md-8">{{ power.short }}</div>
  </div>
</div>