{% extends "character_sheet_type/vampire/devotions/element.html.twig" %}

{% trans_default_domain 'character' %}

{% block controller %}data-controller="dot" role="group"{% endblock %}

{% block data %}data-name="{{ devotion.name }}" data-id="{{ devotion.id }}" data-type="devotion" data-controller-base-value="{{ devotion.cost }}" {% endblock %}

{% block input %}
  <div class="card-footer">
    <div class="btn btn-primary w-100" data-bs-toggle="button" aria-pressed="true"
      data-action="click->character--edit#payDevotion"
      data-character--edit-id-param="{{ devotion.id }}"
      data-character--edit-type-param="devotion"
      data-character--edit-name-param="{{ devotion.name }}"
      data-character--edit-value-param="{{ devotion.cost }}">
      {{ devotion.cost }} {% include "_icon.html.twig" with {icon: 'xp', label: 'xp'} %}
      <input data-character--edit-target="devotionInput" data-value="{{ devotion.cost }}" data-name="{{ devotion.name }}" id ="devotion-{{ devotion.id }}" class="devotion-value" value="0" type="hidden" name="character[devotions][{{ devotion.id }}]">
    </div>
  </div>
{% endblock %}

{% block prerequisites %}
{% if devotion.prerequisites %}
  <div class="d-flex flex-row justify-content-evenly">
    {% for prerequisite in devotion.prerequisites %}
      {% if prerequisite.value > 0 %}
        <div class="d-inline-block">{% include "vampire/devotion/_prerequisite.html.twig" %}</div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
{% endblock %}
