{% trans_default_domain 'character' %}


{% set trait = "willpower" %}
{% set max = character.willpower %}
{% set limit = character.attributes.composure + character.attributes.resolve %}
{% set current = character.currentWillpower %}
{% set value = 0 %}
<div class="block user-select-none h-100" data-controller="trait" data-trait-id-value="{{ character.id }}" data-trait-type-value="willpower" data-trait-current-value="{{ current }}">
  <h3 class="text-center pt-1">{% include "_icon.html.twig" with {'icon' : trait, 'class': 'icon-lg'} only %} {{ 'willpower.label'|trans }} (<span class="accent" data-trait-target="value">{{ current }}</span>/{{ max }})</h3>
  <div class="col-12 text-center">
    <div class="pb-2">
      <div class="my-1" role="group" {% block controller %}{% endblock %} {% block data %}{% endblock %}>
        {% block input %}{% endblock %}
          {% for index in 1..(character.limit * 2) %}
            <div class="d-inline-block text-center">
              {% block dot %}{% endblock %}
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
