{% trans_default_domain 'character' %}

{% set current = current|default(character.currentWillpower) %}
{% set max = max|default(character.willpower) %}

{% set trait = "willpower" %}
{% set limit = character.attributes.composure + character.attributes.resolve %}
{% set value = 0 %}

<div class="block user-select-none" data-controller="trait" data-trait-id-value="{{ character.id }}" data-trait-type-value="willpower" data-trait-current-value="{{ current }}">
  <h3 class="text-center pt-1">
    {% include "_icon.html.twig" with {'icon' : trait, 'class': 'icon-lg'} only %} {{ 'willpower.label'|trans }}
    (<span class="accent" data-trait-target="value">{{ current }}</span>/{{ max }})
  </h3>
  <div class="col-12 text-center">
    <div role="group" {% block controller %}{% endblock %} {% block data %}{% endblock %}>
      {% block input %}{% endblock %}
        {% for index in 1..(character.limit * 2) %}
          <div class="d-inline-block text-center">
            {% block dot %}{% endblock %}
          </div>
        {% endfor %}
    </div>
  </div>
  <div class="col-12">
    <div class="row mb-1">
      <div class="col text-center">
        <button class="btn btn-primary d-inline-block">
          1{% include "_icon.html.twig" with {icon: 'willpower'} %}
          {% include "_icon.html.twig" with {icon: 'right'} %}
          +3{% include "_icon.html.twig" with {icon: 'd10'} %}
        </button>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary d-inline-block">
          1{% include "_icon.html.twig" with {icon: 'willpower'} %}
          {% include "_icon.html.twig" with {icon: 'right'} %}
          +2{% include "_icon.html.twig" with {icon: 'resistance'} %}
        </button>
      </div>
    </div>
  </div>
</div>
