{% trans_default_domain 'app' %}

<div id="{{ book.id }}" class="col-6 col-md-4 col-xxl-3 h-100"
  data-search-target="item"
  data-name="{{ book.name }}"
  data-type="{{ book.type|default('other') }}"
  data-setting-="{{ book.setting }}"
>

  <div class="rounded outline h-100">
    <div class="card-header p-1">
      <h4 class="text-truncate">
        {% if book.type %}
          {% include "_icon.html.twig" with {icon: book.type} only %}
        {% else %}
          {% include "_icon.html.twig" with {icon: "type/" ~ book.setting} only %}
        {% endif %}
        {{ book.name }}
      </h4>
      <div class="text-center text-strong">{{ book.releasedAt|format_date(pattern="MMM y") }}</div>
    </div>
    <div class="d-flex bdr-t">
      {% if book.cover is not null %}
        <img class="logo" src="{{ asset(book.cover, 'books') }}" alt="{{ book.name}}" height="200"/>
      {% endif %}
      <div class="flex-grow-1 ps-1">
        <div class="text-strong d-flex flex-column h-100 justify-content-center">
          {% include "book/details/_human.html.twig" %}
          {% include "book/details/_vampire.html.twig" %}
          {% include "book/details/_mage.html.twig" %}
          {% include "book/details/_werewolf.html.twig" %}
        </div>
      </div>
    </div>
    <div class="btn btn-primary w-100 rounded-top-0"
      role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
      data-action="click->content#load"
      data-content-name-param="{{ book.name }}"
      data-content-type-param="{{ "label.single"|trans({}, 'book') }}"
      data-content-link-param="{{ path('book_show', {id: book.id}) }}"
      {% if access_decision('edit', book) %}data-content-edit-param="{{ link|default(path('book_edit', {id: book.id})) }}"{% endif %}
    >
      {% include "_icon.html.twig" with {icon: "wiki"} %}
    </div>
  </div>

</div>
