{% trans_default_domain 'app' %}

<div id="{{ book.id }}" data-search-target="item" data-name="{{ book.name }}" data-type="{{ book.type|default('other') }}" data-setting-="{{ book.setting }}">
  <div class="book rounded h-100">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('book_edit', {'id': book.id}) }}">{% include "_icon.html.twig" with {icon: 'edit', class: 'p-1'} only %}</a>
    {% endif %}
    {% if book.type %}{% include "_icon.html.twig" with {icon: book.type, class: 'p-1'} only %}{% endif %}
    <h3>{{ book.name }}</h3>
    <div class="row">
      <div class="col-12 col-md-6 left-panel">
        {% if book.cover is not null %}
          <img class="logo" src="{{ asset(book.cover, 'books') }}" alt="{{ book.name}}" height="200"/>
        {% endif %}
        <h5 class="">{{ book.releasedAt|format_date(pattern="MMM y") }}</h5>
        <div class="book-content text-strong row">
          {% include "book/details/_human.html.twig" %}
          {% include "book/details/_vampire.html.twig" %}
          {% include "book/details/_mage.html.twig" %}
          {% if book.characters|length > 0 %}
            <div class="col-4 text-end">
              {% include "_icon.html.twig" with {icon: 'character'} %}
            </div>
            <div class="col-8">
                <a href="{{ path('character_list', {filter: 'book', id: book.id}) }}">
                {{ "count"|trans({'count': book.characters|length}, 'character') }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="small text-strong" style="overflow-y:auto;height:450px;">{{ book.description|markdown_to_html }}</div>
      </div>
    </div>
  </div>
</div>
