{% trans_default_domain 'app' %}

<div id="{{ book.name }}" class="col-12 col-lg-6 py-2" data-search-target="item" data-name="{{ book.name }}" data-type="{{ book.type|default('other') }}" data-setting-="{{ book.setting }}">
  <div class="block">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('book_edit', {'id': book.id}) }}">{% include "_icon.html.twig" with {icon: 'edit', class: 'p-1'} only %}</a>
    {% endif %}
    {% if book.type %}{% include "_icon.html.twig" with {icon: book.type, class: 'p-1'} only %}{% endif %}
    <h3 class="text-strong">{{ book.name }}</h3>
    <div class="row">
      <div class="col-12 col-md-6 left-panel">
        {% if book.cover is not null %}
          <img class="mx-auto d-block" src="{{ asset(book.cover, 'books') }}" alt="{{ book.name}}" height="200"/>
        {% endif %}
        <h5 class="">{{ book.releasedAt|date('M Y') }}</h5>
        <div class="book-content text-strong row">
          {% include "book/details/_details_human.html.twig" %}
          {% include "book/details/_details_vampire.html.twig" %}
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="small text-strong" style="overflow-y:auto;height:450px;">{{ book.description|markdown_to_html }}</div>
      </div>
    </div>
  </div>
</div>
