{% extends "base.html.twig" %}

{% trans_default_domain 'book' %}

{% set footer = true %}
{% set hasExtraContent = true %}

{% block title %}
  {{ "label.multi"|trans }}
{% endblock %}

{% block bodyController %}
  {{ parent() }} search
{% endblock %}

{% block shortcuts %}
  {{ parent() }}
  {% if is_granted('ROLE_ST') %}
    <a class="btn btn-primary btn-sm mt-1" href="{{ path('book_new', {filter: filter|default(null), id: id|default(null)}) }}">
      <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon: 'add' } only %}</span>
      {% include "_icon.html.twig" with {icon: 'book' } only %}
    </a>
  {% endif %}
{% endblock %}

{% block bodyData %}
  data-search-type-value="path"
{% endblock %}

{% block body %}
  {% include "_title.html.twig" with {title: "label.multi" , domain: "path", icon: 'path'} %}

  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>

    <div class="row g-2 pb-2">
      {% for book in books %}
        {% include "book/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  {% include "_search.html.twig" with { type: "book" } %}
  <div class="col-auto py-3 w-100 text-center footer-collapse collapse">
    {% for key, elements in search|default(null) %}
      <h5 class="pe-none">{{ (key ~ ".label")|trans({}, 'book') }}</h5>
      {% for element in elements %}
        <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
          <span class="d-none d-md-inline">{{ (key ~ "." ~ element)|trans({}, "book") }}</span>
          {% include "_icon.html.twig" with {icon : element } only %}
        </a>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
