{% extends "_group_card.html.twig" %}

{% set element = legacy %}
{% set route = "mage_legacy" %}

{% trans_default_domain 'path' %}

{% block data %}
  data-name="{{ legacy.name ~ " " ~ legacy.nickname }}"
  data-arcanum="{{ legacy.arcanum }}"
  data-order="{{ legacy.parentOrder }}"
  data-path="{{ legacy.path }}"
{% endblock %}

{% block name %}
  {% if legacy.path %}
    <img data-bs-toggle="tooltip" data-bs-placement="top" title="{{ legacy.path }}" class="no-filter pe-2" src="{{ asset(legacy.path.symbol|default(legacy.path.emblem), 'paths_emblems') }}" style="height:2em;"/>
  {% endif %}
  {{ legacy.name }}
  {% if legacy.isLeftHanded %}
    ({{"legacy.left-handed"|trans }})
  {% endif %}
  {% if legacy.parentOrder %}
    <img data-bs-toggle="tooltip" data-bs-placement="top" title="{{ legacy.parentOrder }}" class="no-filter pe-2" src="{{ asset(legacy.parentOrder.symbol|default(legacy.parentOrder.emblem), 'organizations_emblems') }}" style="height:2em;"/>
  {% endif %}

  {% if legacy.homebrewFor is not null %}{% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent icon-lg' } only %}{% endif %}
{% endblock %}

{% block subname %}
  <h2>{{ legacy.nickname }}</h2>
  {{ legacy.quote }}
{% endblock %}

{% block image %}
  {% if legacy.emblem is not null %}
    <img class="logo" src="{{ asset(legacy.emblem, 'paths_emblems') }}" alt="{{ legacy.name}}" height="400"/>
  {% endif %}
{% endblock %}

{% block bonus %}
  <div class="row g-0">
    <div class="col-12 text-center">
      {% include "_icon.html.twig" with {icon: 'arcanum' } %}
    </div>
    <div class="col-12 pb-2 text-center">
      <div class="text-strong mb-0">{{ "primary"|trans([], 'arcanum') }}</div>
        <div class="text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
          data-action="click->content#load"
          data-content-name-param="{{ legacy.arcanum.name }}"
          data-content-type-param="{{ "label.single"|trans({}, "arcanum") }}"
          data-content-link-param="{{ path('mage_arcanum_show', {id: legacy.arcanum.id}) }}"
        >
          {{ legacy.arcanum.name }}
        </div>
    </div>
    <div class="col-12 pb-2 text-center text-strong">{{ "legacy.attainment.label.multi"|trans([], 'path') }}</div>
      {% for attainment in legacy.attainments %}
        <div class="col text-center">
          <div class="text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
            data-action="click->content#load"
            data-content-name-param="{{ attainment.name }}"
            data-content-type-param="{{ "legacy.attainment.label.single"|trans }}"
            data-content-link-param="{{ path('mage_attainment_show', {id: attainment.id}) }}"
          >{{ attainment.name }}</div>
        </div>
      {% endfor %}
  </div>
{% endblock %}

{% block action %}
  data-action="click->content#load"
  data-content-name-param="{{ legacy.name }}"
  data-content-type-param="{{ "legacy.label.single"|trans }}"
  data-content-link-param="{{ path('mage_legacy_show', {id: legacy.id}) }}"
{% endblock %}

{% block short %}
  {{ legacy.short|default("")|markdown_to_html }}
{% endblock %}
