{% trans_default_domain 'path' %}

{% if isShown|default(false) == true %}
  {% set collapse = "" %}
{% else %}
  {% set collapse = "collapse" %}
{% endif %}

<div id="{{ legacy.name }}" class="col-12" data-search-target="item" data-name="{{ legacy.name }}">
  <div class="group-card position-relative">
    {# Header #}
    <blockquote class="text-center mb-2 legacy-card-header rounded-bottom-0">
      <h3>
        {{ legacy.name }}
        {% if legacy.isLeftHanded %}
          ({{"legacy.left-handed"|trans }})
        {% endif %}
        
        {% if legacy.path %}
          {# {{ legacy.path }} #}
          <img class="no-filter pe-2" src="{{ asset(legacy.path.symbol|default(legacy.path.emblem), 'paths_emblems') }}" style="height:2em;"/>
        {% endif %}
        {% if legacy.parentOrder %}
          {# {{ legacy.parentOrder }} #}
          <img class="no-filter pe-2" src="{{ asset(legacy.parentOrder.symbol|default(legacy.parentOrder.emblem), 'paths_emblems') }}" style="height:2em;"/>
        {% else %}
        {% endif %}

        {% if legacy.homebrewFor is not null %}{% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent icon-lg' } only %}{% endif %}
      </h3>
      <h5>{{ legacy.nickname }}</h5>
      {{ legacy.quote }}
    </blockquote>
    {# Body #}
    {% if legacy.emblem is not null %}
      <img class="mx-auto d-block" src="{{ asset(legacy.emblem, 'paths_emblems') }}" alt="{{ legacy.name}}" height="400"/>
    {% endif %}
    <div class="row g-0">
      <div class="col-12 text-center">
        {% include "_icon.html.twig" with {icon: 'arcanum' } %}
      </div>
      <div class="col-12 pb-2 text-center">
        <div class="text-strong mb-0">{{ "primary"|trans([], 'arcanum') }}</div>
        {% if not isModal|default(1) %}
          <div class="text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
            data-action="click->content#load"
            data-content-name-param="{{ legacy.arcanum.name }}"
            data-content-type-param="{{ "label.single"|trans({}, "arcanum") }}"
            data-content-link-param="{{ path('mage_arcanum_show', {id: legacy.arcanum.id}) }}"
          >
            {{ legacy.arcanum.name }}
          </div>
        {% else %}
          <div class="text-glow">
            {{ legacy.arcanum.name }}
          </div>
        {% endif %}
      </div>
      <div class="col-12 pb-2 text-center text-strong">{{ "legacy.attainment.label.multi"|trans([], 'path') }}</div>
      {% for attainment in legacy.attainments %}
        <div class="col-12 col-xl-4 p-1">
          {% include "mage/legacy/attainment/_card.html.twig" %}
        </div>
      {% endfor %}
    </div>
    <div class="group-card-body p-2">
      <h5>{{ "description"|trans([], 'app') }}</h5>
      <div>{{ legacy.description|default("")|markdown_to_html }}</div>
    </div>
    {# Footer #}
    <div>
      <div class="back-fluff legacy-card-footer">
        {{ legacy.short|default("")|markdown_to_html }}
        <div class="text-end">
          {% include "_source.html.twig" with {element: legacy } only %}
        </div>
      </div>
    </div>
  </div>
</div>
