{% extends 'base.html.twig' %}

{% trans_default_domain 'path' %}

{% set setting = "mage" %}

{% block title %}
  {{ "legacy.join"|trans }}
{% endblock %}

{% block body %}
  <div class="container block py-5">
    <h1>{{ mage.name }}</h1>
    {# <h2>Your blood thicken...</h2> #}
    <form method="post">
      <div class="row">
        {% for legacy in legacies %}
          <div class="col-12 col-md-6 col-lg-4 py-2" data-bs-toggle="collapse" data-bs-target=".description-{{ legacy.id }}" aria-expanded="false" aria-controls="description-{{ legacy.id }}">
            <input type="radio" class="btn-check" name="legacy" id="{{ legacy.id }}" autocomplete="off" value="{{ legacy.id }}">
            <label class="btn btn-primary h-100 w-100" for="{{ legacy.id }}">
              {% if legacy.emblem is not null %}
                <img class="logo" src="{{ asset(legacy.emblem, 'paths_emblems') }}" alt="{{ legacy.name}}" height="200"/>
              {% endif %}
              {{ legacy.name }}
              <div class="text p-3">{{ legacy.short|markdown_to_html }}</div>
            </label>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <h2 class="py-3">{{ "description"|trans({}, 'app')}}</h2>
        <div id="accordionLegacies" class="accordion">
          {% for legacy in legacies %}
            <div class="description-{{ legacy.id }} collapse" data-bs-parent="#accordionLegacies">
              {% include "mage/legacy/_card.html.twig" with {legacy : legacy, 'isShown': false} %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-submit" type="submit">{{ "legacy.join"|trans }}</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}