{% extends "base.html.twig" %}

{% trans_default_domain 'path' %}

{% set setting = "mage" %}
{% set footer = true %}
{% set hasExtraContent = true %}

{% block title %}
  {{ "legacy.label.multi"|trans([], 'path') }}
{% endblock %}

{% block bodyController %}
  {{parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="legacy"
{% endblock %}

{% block body %}
  {% if chronicle|default(false) == false %}
    
  {% else %}
    {% include "_back.html.twig" with {link: path('homebrew_index', {id: chronicle})} %}
  {% endif %}

  {% include "_title.html.twig" with {title: "legacy.label.multi" , domain: "path", icon: 'legacy'} %}

  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>

    <div class="row g-2 pb-2">
      {% for legacy in legacies|sort((a, b) => a.name|lower <=> b.name|lower) %}
        {% include "mage/legacy/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    {% include "_search.html.twig" %}

    {% if is_granted('ROLE_ST') %}
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('mage_legacy_new', {filter: filter|default(null), id: id|default(null)}) }}">
          <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon: 'add' } only %}</span>
          {% include "_icon.html.twig" with {icon: 'legacy' } only %}
        </a>
      </div>
    {% endif %}
  </div>

  {# filters #}
  <div class="col-auto py-3 text-center w-100 footer-collapse collapse">
    <h5 class="pe-none">
      {{ ("label.multi")|trans }}
      {% include "_icon.html.twig" with {icon: "path"} %}
    </h5>
    {% for path in search['paths'] %}
      {% if path %}
        <div class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="path" data-search-filter-param="{{ path }}">
          <span class="d-none d-md-inline">
            {{ path }}
          </span>
          <img class="no-filter pe-2" src="{{ asset(path.symbol|default(path.emblem), 'paths_emblems') }}" style="height:1em;"/>
        </div>
      {% endif %}
    {% endfor %}
    <h5 class="pe-none">
      {{ ("label.multi")|trans({}, domain: 'order') }}
      {% include "_icon.html.twig" with {icon: "order"} %}
    </h5>
    {% for order in search['orders'] %}
      {% if order %}
        <div class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="order" data-search-filter-param="{{ order }}">
          <span class="d-none d-md-inline">
            {{ order }}
          </span>
          <img class="no-filter pe-2" src="{{ asset(order.symbol|default(order.emblem), 'organizations_emblems') }}" style="height:1em;"/>
        </div>
      {% endif %}
    {% endfor %}
    <h5 class="pe-none">
      {{ ("label.single")|trans({}, domain: 'arcanum') }}
      {% include "_icon.html.twig" with {icon: "arcanum"} %}
    </h5>
    {% for arcanum in search['arcana'] %}
      {% if arcanum %}
        <div class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="arcanum" data-search-filter-param="{{ arcanum }}">
          <span class="d-none d-md-inline">
            {{ arcanum }}
          </span>
          {% include "_icon.html.twig" with {icon: "arcana/#{arcanum.identifier}"} %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
