{% trans_default_domain 'vampire' %}

{% extends "character_sheet/header/show.html.twig" %}

{% block name %}
  <div class="col-12">
    <h1 class="py-2 text-stylized d-flex justify-content-center">
      <div class="flex-grow-1 flex-basis-0 text-end">
        {% if character.clan.emblem %}
          <img class="no-filter pe-2" src="{{ asset(character.clan.emblem, 'clans_emblems') }}" style="max-height:10rem;max-width:100%;"/>
        {% endif %}
      </div>
      <span class="text-strong m-auto">
        {{ character.name }}
      </span>
      <div class="flex-grow-1 flex-basis-0 text-start">
        {% if character.clan.isBloodline and character.clan.parentClan.emblem %}
          <img class="no-filter ps-4" src="{{ asset(character.clan.parentClan.emblem, 'clans_emblems') }}" style="max-height:10rem;max-width:100%;"/>
        {% elseif not character.clan.isBloodline and character.clan.emblem %}
          <img class="no-filter ps-4" src="{{ asset(character.clan.emblem, 'clans_emblems') }}" style="max-height:10rem;max-width:100%;"/>
        {% endif %}
      </div>
    </h1>
    {% block premade %}{{ parent() }}{% endblock %}
  </div>
{% endblock %}

{% block leftCol %}
  <div class="row">
    <div class="col-12">
      <a class="d-inline-block" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
        data-action="click->content#load"
        data-content-url-param="{{ link|default(path('vampire_clan_fetch', {id: character.clan.id})) }}" 
        data-content-name-param="{{ character.covenant }}"
        data-content-link-param="{{ link|default(path("vampire_clan_show", {'id': character.clan.id})) }}"
      >
        {% if character.clan.isBloodline %}
          {{ character.clan.name }}
          ({{ character.clan.parentClan.name }})
        {% else %}
          {{ character.clan.name }}
        {% endif %}
      </a>
    </div>
    <div class="col-12">
      {% block age %}{{ parent() }}{% endblock %}
    </div>
    <div class="col-12">
      {{ "death.age"|trans({"%gender%": "male", "%death%": character.deathAge|default(0) }) }}
      {{ "death.sire"|trans({"%sire%": character.sire|default('unknown') }) }}
    </div>
    <div class="col-12">
      {% block virtue %}{{ parent() }}{% endblock %}
    </div>
    <div class="col-12">
      {% block vice %}{{ parent() }}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block organization %}
  {{ "covenant.label.single"|trans([], 'organization') }}:
  {% if character.covenant %}
    <a class="d-inline-block" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
      data-action="click->content#load"
      data-content-name-param="{{ character.covenant }}"
      data-content-link-param="{{ link|default(path("organization_show", {'id': character.covenant.id})) }}"
    >
      {{ character.covenant }}
      {% if character.covenant.emblem %}
        <span class="icon link-icon"><img src="{{ asset(character.covenant.emblem, 'organizations_emblems') }}"></span>
      {% endif %}
    </a>
  {% endif %}
{% endblock %}