{% trans_default_domain 'app' %}

{% set type = merit.type|default('universal') %}
<div class="row justify-content-md-center merit merit-{{ type }} merit-{{ merit.category }}" type="button" {% block data %}{% endblock %}>
  <div class="col-12 col-md-3 text-center text-md-start fw-bold">
    {% include "_icon.html.twig" with {'icon': type} only %}
    {{ merit.name }}
  </div>
  <div class="col-3 col-md-2">
    {% include "_icon.html.twig" with {'icon': merit.category} only %}
    {% if merit.homebrewFor is not null %}{% include "_icon.html.twig" with {'icon' : 'homebrew', 'class': 'accent' } only %}{% endif %}
    {% if not merit.isUnique %}{% include "_icon.html.twig" with {'icon': 'merit.not.unique'} %}{% else %}{% include "_icon.html.twig" with {'icon': 'merit.unique'} %}{% endif %}
    {% if merit.isCreationOnly %}{% include "_icon.html.twig" with {'icon' : 'creation' } only %}{% endif %}
    {% if merit.isExpanded %}{% include "_icon.html.twig" with {'icon': 'expanded'} %}{% endif %}
    {% if merit.isFighting %}{% include "_icon.html.twig" with {'icon' : 'style' } only %}{% endif %}
  </div>
  <div class="col-3 col-md-1">
    {% for i in 1..merit.min %}{{ "•"|spaceless }}{% endfor %}
    {% if merit.min != merit.max %}
      - {% for i in 1..merit.max %}{{ "•"|spaceless }}{% endfor %}
    {% endif %}
  </div>
  <div class="col">
    {% if merit.prerequisites is not empty %}
      {% for prerequisite in merit.prerequisites %}
        {% if group is defined and prerequisite.choiceGroup is not null and prerequisite.choiceGroup == group %}
          or
        {% else %}
          {% if not loop.first %}&{% endif %}
        {% endif %}
        {% if prerequisite.type == 'App\\Entity\\Merit' %}
          <a href="{{ path('merit_show', {'id': prerequisite.entityId}) }}">
            <span>{{ prerequisite.entity.name }}</span> <span>{{ prerequisite.value }}</span>
          </a>
        {% elseif prerequisite.type == 'App\\Entity\\Clan' %}
          <a href="{{ path('clan_show', {'id': prerequisite.entityId}) }}">
            <span>{{ prerequisite.entity.name }}</span> <span>{{ prerequisite.value }}</span>
          </a>
        {% elseif prerequisite.type == 'App\\Entity\\Discipline' %}
          <a href="{{ path('discipline_show', {'id': prerequisite.entityId}) }}">
            <span>{{ prerequisite.entity.name }}</span> <span>{{ prerequisite.value }}</span>
          </a>
        {% else %}
          <span>{{ prerequisite.entity.name }}</span> <span>{{ prerequisite.value }}</span>
        {% endif %}
        {% set group = prerequisite.choiceGroup %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="col-3 col-md-2">
    {% if merit.book is not null %}
      {{ "source"|trans({'%book%': merit.book.short, '%page%': merit.page }) }}
      {% elseif merit.homebrewFor is not null %}
        Chronicle: {{ merit.homebrewFor.name }} {# TEMP #}
    {% endif %}
  </div>
  <div class="col-12 text">{{ merit.description }}</div>
  <div class="col-12 col-lg-8">
    <div class="merit_{{ merit.id }} rule {% block collapse %}{% endblock %}">
      {{ merit.effect|markdown_to_html }}
    </div>
  </div>
  {% block actions%}{% endblock %}
</div>
