{% trans_default_domain 'app' %}

{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.type) }}
  {{ form_row(form.category) }}
  {{ form_row(form.description) }}
  {{ form_row(form.effect) }}
  {{ form_row(form.min) }}
  {{ form_row(form.max) }}
  {{ form_row(form.isCreationOnly) }}
  {{ form_row(form.isExpanded) }}
  {{ form_row(form.isUnique) }}
  {{ form_row(form.isFighting) }}
  {% include "forms/_prerequisite_field.html.twig" %}
  {{ form_row(form.book) }}
  {{ form_row(form.page) }}
  {{ form_row(form.homebrewFor) }}
  <button class="btn btn-primary">
    {% include "_icon.html.twig" with {'icon': 'save', 'hasTips': 0} only %}
    {{ button_label|default('save')|trans }}
  </button>
  {% if merit.id is not null %}
    <button type="button" class="float-end btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModal-merit-{{ merit.id }}">{% include "_icon.html.twig" with {'icon': 'delete', 'hasTips': 0} only %}</button>
    {% include "element/_delete.html.twig" with {'element': 'merit', 'entity': merit} %}
  {% endif %}
{{ form_end(form) }}
