{% trans_default_domain 'prerequisite' %}

{% if group is defined and prerequisite.choiceGroup is not null and prerequisite.choiceGroup == group %}
  {{ "or"|trans }}
{% else %}
  {% if not loop.first %}&{% endif %}
{% endif %}
{% if prerequisite.type == 'App\\Entity\\Merit' %}
  <a href="{{ path('merit_show', {'id': prerequisite.entityId}) }}">
    {% include "_icon.html.twig" with {icon: 'merit'} %}
    {{ prerequisite.entity.name }}
  </a>
{% elseif prerequisite.type == 'App\\Entity\\Clan' %}
  <a href="{{ path('clan_show', {'id': prerequisite.entityId}) }}">
    {% include "_icon.html.twig" with {icon: 'clan'} %}
    {{ prerequisite.entity.name }}
  </a>
{% elseif prerequisite.type == 'App\\Entity\\Discipline' %}
  <a href="{{ path('discipline_show', {'id': prerequisite.entityId}) }}">
    {% include "_icon.html.twig" with {icon: 'discipline'} %}
    {{ prerequisite.entity.name }}
  </a>
{% else %}
  {% if prerequisite.entity is not null %}
    {{ prerequisite.entity.name }}
  {% else %}
    {% if prerequisite.type == "special" %}
      {{ prerequisite.special}}
    {% else %}
      {{ prerequisite.type|trans }}
    {% endif %}
    {# {{ prerequisite.entity.name|default(prerequisite.type) }} {{ prerequisite.value }} #}
  {% endif %}
{% endif %}
{% include "merit/_prerequisite_value.html.twig" %}
{% if prerequisite.choiceGroup is not null %}
  {% set group = prerequisite.choiceGroup %}
{% endif %}