{% trans_default_domain 'app' %}

{% extends "merit/_card.html.twig" %}

{% set type = merit.type|default('universal') %}

{% block data %}
  data-bs-target=".merit_{{ merit.id }}"
  data-bs-toggle="collapse" 
  data-search-target="item"
  data-name="{{ merit.name }}"
  data-type="{{ type }}"
  data-category="{{ merit.category }}"
  data-style="{{ merit.isFighting|default(0) }}"
{% endblock %}

{% block collapse %}collapse{% endblock %}

{% block actions %}
<div class="row merit_{{ merit.id }} collapse">
  <div class="col-12 text-center py-2 d-flex justify-content-around">
    <a class="btn btn-primary" href="{{ path('merit_show', {'id': merit.id}) }}">{% include "_icon.html.twig" with {'icon': 'view', 'hasTips': 1} %}</a>
    {% if is_granted('ROLE_ST') %}
      <a class="btn btn-primary" href="{{ path('merit_edit', {'id': merit.id}) }}">{% include "_icon.html.twig" with {'icon': 'edit', 'hasTips': 1} %}</a>
      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModal-merit-{{merit.id}}">{% include "_icon.html.twig" with {'icon': 'delete', 'hasTips': 1} only %}</button>
    {% endif %}
  </div>
</div>
{% if is_granted('ROLE_ST') %}
  {% include "element/_delete.html.twig" with {'element': 'merit', 'entity': merit} %}
{% endif %}
{% endblock %}