{% extends 'base.html.twig' %}

{% set footer = true %}

{% trans_default_domain 'app' %}

{% block title %}Merit index{% endblock %}

{% block bodyData %}
  data-controller="search" data-search-type-value="merit"
{% endblock %}

{% block body %}
  {% if chronicle == false %}
    {% include "back.html.twig" with {'link': path('wiki_index')} %}
  {% else %}
    {% include "back.html.twig" with {'link': path('homebrew_index', {'id': chronicle})} %}
  {% endif %}
  
  <div class="container block py-3">
    <div class="row py-3">
      <h1>{% include "icon.html.twig" with {'icon': "merits", 'hasTips': 0, 'class': 'icon-lg' } only %} {{ "merits"|trans }}</h1>
      <div class="col-auto">
        {% if description is defined and description is not null and description.value is not empty %}
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="true" aria-controls="collapseDescription"><h4 class="d-inline-block text-start">{{ "description"|trans({}, 'wiki') }}</h4></a>
        {% endif %}
      </div>
      <div id="collapseDescription" class="col-12 flex-grow block collapse">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>
    {% for merit in merits %}
      {% include "merit/list_item.html.twig" %}
    {% endfor %}
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon"><i class="fa-solid fa-magnifying-glass fa-fw"></i></span>
    <input class="search-field" type="text" data-search-target="query" data-action="search#getResults">
    <div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
      <span class="fa-layers fa-fw">
        <i class="fa-solid fa-circle"></i>
        <span class="ok footer-collapse collapse"><i class="fa-solid fa-lg fa-circle-chevron-down"></i></span>
        <span class="ok footer-collapse show "><i class="fa-solid fa-lg fa-circle-chevron-up"></i></span>
      </span>
    </div>
    {% if is_granted('ROLE_ST') %}
      <a class="btn btn-primary ms-auto" href="{{ path('merit_new') }}">{% include "icon.html.twig" with {'icon' : 'add', 'hasTips': 1 } only %}</a>
    {% endif %}
  </div>
  <div class="col-auto py-3 footer-collapse collapse">
    {% for key, elements in search %}
      <h5 class="text-center pe-none">{{ (key ~ ".label")|trans }}</h5>
      {% for element in elements %}
        <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
          <span class="d-none d-md-inline">{{ (key ~ "." ~ element)|trans }}</span>{% include "icon.html.twig" with {'icon' : element, 'hasTips': 1 } only %}
        </a>
      {% endfor %}
    {% endfor %}
    <div class="col-auto py-3 footer-collapse collapse">
      <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="style" data-search-filter-param="1">
        <span class="d-none d-md-inline">{{ "merit.style"|trans([], 'character') }}</span>{% include "icon.html.twig" with {'icon' : "style", 'hasTips': 0 } only %}
      </a>
    </div>
  </div>
{% endblock %}