{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block title %}{{ 'label.multi'|trans({}, 'merit') }}{% endblock %}

{% set footer = true %}

{% block bodyController %}
  {{parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="merit"
{% endblock %}

{% block body %}
  {% if chronicle == false %}
    {% include "_back.html.twig" %}
  {% else %}
    {% include "_back.html.twig" with { link: path('homebrew_index', {id: chronicle}) } %}
  {% endif %}


  {% include "_title.html.twig" with { domain: "merit" } %}

  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>
    <div class="row g-2 pb-2">
      {% for merit in merits|sort((a, b) => a.name|lower <=> b.name|lower) %}
        {% include "merit/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    {% include "_search.html.twig" %}
    <div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
      <span class="fa-layers fa-fw">
        <i class="fa-solid fa-circle"></i>
        <span class="ok footer-collapse collapse"><i class="fa-solid fa-lg fa-circle-chevron-down"></i></span>
        <span class="ok footer-collapse show "><i class="fa-solid fa-lg fa-circle-chevron-up"></i></span>
      </span>
    </div>
    {% if is_granted('ROLE_ST') %}
      <a class="btn btn-primary ms-auto" href="{{ path('merit_new', {type: type, id: id}) }}">{% include "_icon.html.twig" with {icon : 'add' } only %}</a>
    {% endif %}
  </div>
  <div class="col-12 footer-collapse collapse">
    {% for key, elements in search %}
      {% if key == 'type' %}
        <h5 class="text-strong">{{ ("label.multi")|trans({}, 'content-type') }}</h5>
      {% else %}
        <h5 class="text-strong">{{ (key ~ ".label.multi")|trans }}</h5>
      {% endif %}
      <div class="text-center pb-2">
        {% for element in elements %}
          <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
            {% if key == 'type' %}
              <span class="d-none d-md-inline">{{ (element)|trans({}, 'content-type') }}</span>
              {% include "_icon.html.twig" with {icon : "type/" ~ element, label: element|trans({}, 'content-type') } only %}
            {% else %}
              <span class="d-none d-md-inline">{{ (key ~ "." ~ element)|trans }}</span>
              {% include "_icon.html.twig" with {icon : element } only %}
            {% endif %}
          </a>
        {% endfor %}
        {% if key == "category" %}
          <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="style" data-search-filter-param="1">
            <span class="d-none d-md-inline">{{ "fighting"|trans([], 'merit') }}</span>{% include "_icon.html.twig" with {icon : 'fighting-style' } only %}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}