{% extends 'base.html.twig' %}

{% block title %}Merit{% endblock %}

{% block body %}
<div class="container block py-3">
    <h1>Merit</h1>

    <table class="table" style="color:white;">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ merit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ merit.name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ merit.category }}</td>
            </tr>
            <tr>
                <th>IsFighting</th>
                <td>{{ merit.isFighting ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsExpanded</th>
                <td>{{ merit.isExpanded ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Min</th>
                <td>{{ merit.min }}</td>
            </tr>
            <tr>
                <th>Max</th>
                <td>{{ merit.max }}</td>
            </tr>
            <tr>
                <th>IsUnique</th>
                <td>{{ merit.isUnique ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsCreationOnly</th>
                <td>{{ merit.isCreationOnly ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Prerequisites</th>
                <td>{{ merit.prerequisites ? merit.prerequisites|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Effect</th>
                <td>{{ merit.effect ? merit.effect }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('merit_index') }}">back to list</a>

    <a href="{{ path('merit_edit', {'id': merit.id}) }}">edit</a>

    {{ include('merit/_delete_form.html.twig') }}
</div>
{% endblock %}
