{% trans_default_domain 'character' %}

{% block header %}
  <div class="d-none">
    {{ form_row(form.player) }}
  </div>
  <div class="row p-2 pt-4">
    <h2>{{ "name.label"|trans }}</h2>
    <div class="col-12">
      {{ form_row(form.title) }}
    </div>   
    <div class="col-4">
      {{ form_row(form.firstName) }}
    </div>
    <div class="col-4">
      {{ form_row(form.nickname) }}
    </div>
    <div class="col-4">
      {{ form_row(form.lastName) }}
    </div>
  </div>
  <div class="row px-2">
    <hr>
    <h2>{{ "details"|trans }}</h2>
    <div class="col-12 col-lg-4">
      <div class="row g-0">
        {% block header_left_col %}
          {% block age %}
            {{ form_row(form.birthday) }}
            <div class="col-5">
              {{ form_row(form.age) }}
            </div>
            <div class="col-7">
              <div class="ps-2">{{ form_row(form.lookAge) }}</div>
            </div>
          {% endblock %}
          <div class="col-12">
            {{ form_row(form.concept) }}
          </div>
        {% endblock %}
      </div>
    </div>
    <hr class="d-block d-lg-none">
    <div class="col-12 col-lg-4">
      <div class="row">
        {% block header_middle_col %}
          <div class="col-12">
            {{ form_row(form.virtue) }}
            {{ form_row(form.virtueDetail) }}
          </div>
          <div class="col-12">
            {{ form_row(form.vice) }}
            {{ form_row(form.viceDetail) }}
          </div>
          {% endblock %}
      </div>
    </div>
    <hr class="d-block d-lg-none">
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-12">
          {% if character.isPremade %}
            {{ form_row(form.source) }}
          {% else %}
            {{ form_row(form.chronicle) }}
          {% endif %}
        </div>
        <div class="col-12">
          {{ form_row(form.organization) }}
        </div>
        <div class="col-12">
          {% block organization %}
          {% endblock %}
        </div>
        <div class="col-12">
          {{ form_row(form.faction) }}
        </div>
        <div class="col-12">
          {{ form_row(form.groupName) }}
        </div>
      </div>
    </div>
  </div>
  {% if app.user.id == character.chronicle.storyteller.id|default(0) %}
    <div class="row px-2">
      <hr>
      <h2>{{ "ROLE_ST"|trans({}, 'user') }}</h2>
      {{ form_row(form.size) }}
    </div>
  {% endif %}
{% endblock %}
