{% extends "character_sheet_type/vampire/potency/element.html.twig" %}

{% trans_default_domain 'vampire' %}

{% set current = character.potency %}

{% block feeding %}
{% for index in 1..10 %}
  <div class="d-inline-block text-center">
    <div>
      {% if index < 3 %}
        <div style="width:20px;" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'feeding.animal'|trans }}">
          <i class="fa-solid fa-xs fa-paw"></i>
        </div>
      {% elseif index < 7 %}
        <div style="width:20px;" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'feeding.human'|trans }}">
          <i class="fa-solid fa-person"></i>
        </div>
      {% else %}
        <div style="width:20px;" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'feeding.vampire'|trans }}">
          {% include "_icon.html.twig" with {icon : 'type/vampire' } only %}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endblock %}

{% block controller %}data-controller="dot" role="group"{% endblock %}

{% block data %}data-name="{{ 'potency.label'|trans }}" data-id="{{ trait }}" data-type="{{ trait }}" data-dot-base-value="{{ current }}" data-dot-min-value="{{ current }}"{% endblock %}

{% block input %}
  <input class="{{ trait }}-value" value="{{ current }}" type="hidden" name="character_form[{{ trait }}]" data-dot-target="input" data-character--edit-target="dot">
{% endblock %}

{% block dot %}
<input type="checkbox" {% if value == 1 %}checked{% endif %} class="btn-check" id="{{ trait ~'-' ~ index }}" value="{{ index }}" autocomplete="off" data-dot-target="dot">
<label class="btn dot{% if value == 1 %} dot-locked{% else %} dot-selectable{% endif %}" for="{{ trait ~ '-' ~ index }}"
  data-action="click->dot#activate click->character--edit#pay"
  data-dot-value-param="{{ index }}"
  data-character--edit-id-param="potency"
  data-character--edit-type-param="{{ trait }}"
  data-character--edit-name-param="{{ 'potency.label'|trans }}"
  data-character--edit-value-param="{{ index }}"
  data-character--edit-base-param="{{ current }}"
>
</label>
{% endblock %}