{% trans_default_domain 'vampire' %}

<div>
  {% if is_granted('ROLE_ST') %}
    <a class="btn btn-primary w-100 my-3" href="{{ path('discipline_power_add', {'id': discipline.id}) }}">{{ 'sorcery.power.new'|trans }}</a>
  {% endif %}
  {% for ritual in rituals %}
    {% if loop.first and ritual.level == 0 %}
      <h2 class="pb-2">{{ 'power'|trans({'%count%': 1}, "character") }}{% if is_granted('ROLE_ST') %}<a class="float-end" href="{{ path('discipline_power_edit', {'id': ritual.id}) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} only %}</a>{% endif %}</h2>
      {{ (rituals|first).details|markdown_to_html }}
      {% set level = 0 %}
    {% else %} 
      {% if ritual.level != level %}
        {% set level = ritual.level %}
        <h3 class="pb-2">{{ 'sorcery.powers.level'|trans({'%level%': level|format_number(style='spellout')|capitalize, '%sorcery%': discipline.name}) }}</h3>
      {% endif %}
      <div class="block p-3 my-3">
        {% if is_granted('ROLE_ST') %}<a class="float-end" href="{{ path('discipline_power_edit', {'id': ritual.id}) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} only %}</a>{% endif %}
        <h4>{{ ritual.name }}</h4>
        {{ ritual.details|markdown_to_html }}
      </div>
    {% endif %}
  {% endfor %}
</div>