{% extends "_group_show.html.twig" %}

{% set element = society %}

{% trans_default_domain 'body-thief' %}

{% block name %}
  {{ society.name }}
  {% if society.homebrewFor is not null %}{% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent icon-lg' } only %}{% endif %}
{% endblock %}

{% block subname %}
  <h3>{{ ("talent." ~ society.talentType.name)|trans }}</h3>
{% endblock %}

{% block image %}
  {% if society.definingMerit %}
    <h4>
      {{ "society.merit.defining"|trans}}
      {% include "_icon.html.twig" with {icon: "merit"} %}
    </h4>
    <h3 class="text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
      data-action="click->content#load"
      data-content-name-param="{{ society.definingMerit }}"
      data-content-type-param="{{ "label.single"|trans({}, 'discipline') }}"
      data-content-link-param="{{ path('merit_show', {id: society.definingMerit.id}) }}"
    {% if access_decision('edit', society.definingMerit) %}data-content-edit-param="{{ link|default(path('merit_edit', { id: society.definingMerit.id })) }}"{% endif %}
    >
      {{ society.definingMerit }}
    </h3>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="row g-0">
    <div class="col-12 col-md-6 p-1">
      <div class="block h-100 p-3">
        <h4>{{ "society.advantage.label"|trans}}:</h4>
        <p>{{ society.advantage|markdown_to_html }}</p>
      </div>
    </div>
    <div class="col-12 col-md-6 p-1">
      <div class="block h-100 p-3">
        <h4>{{ "society.weakness.label"|trans}}:</h4>
        <p>{{ society.weakness|markdown_to_html }}</p>
      </div>
    </div>
  </div>
  <p>{{ society.description|markdown_to_html }}</p>
  <hr>
  <h4>{{ "society.creation"|trans}}:</h4>
  <p>{{ society.creation|markdown_to_html }}</p>
{% endblock %}

{% block short %}
  {{ society.short|default("")|markdown_to_html }}
{% endblock %}
