{% trans_default_domain 'app' %}

<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('attribute_index')}}">{{ "attributes"|trans}}</a></div>
<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('skill_index')}}">{{ "skills"|trans}}</a></div>
<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="#">{{ "advantages"|trans}}</a></div>
<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="#">{{ "rules"|trans}}</a></div>
<div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('merit_index')}}">{{ "merits"|trans}}</a></div>