{% trans_default_domain 'app' %}

<div class="row block generic pt-2">
  <h2 class="pe-none"><img src={{ asset('SkullWOD.webp', 'images') }} style="height:2em;" /> World of Darkness <img src={{ asset('SkullWOD.webp', 'images') }} style="height:2em;" /></h2>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('book_index', {'setting': 'human'})}}">{% include "_icon.html.twig" with {'icon': 'book' } only %} {{ "books.label"|trans}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('rule_index')}}">{% include "_icon.html.twig" with {'icon': 'rules' } only %} {{ "rules"|trans}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('attribute_index')}}">{% include "_icon.html.twig" with {'icon': 'general' } only %} {{ "attributes.label"|trans({}, 'character')}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('skill_index')}}">{% include "_icon.html.twig" with {'icon': 'general' } only %} {{ "skills.label"|trans({}, 'character')}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('virtue_index')}}">{% include "_icon.html.twig" with {'icon': 'virtue' } only %} {{ "virtues.label"|trans }}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('vice_index')}}">{% include "_icon.html.twig" with {'icon': 'vice' } only %} {{ "vices.label"|trans }}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('roll_list')}}">{% include "_icon.html.twig" with {'icon': 'dice' } only %} {{ "rolls"|trans }}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('merit_list')}}">{% include "_icon.html.twig" with {'icon': 'merits' } only %} {{ "merits"|trans}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2 disabled" href="#">{% include "_icon.html.twig" with {'icon': 'flaw' } only %} {{ "flaws.label"|trans }}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('derangement_list')}}">{% include "_icon.html.twig" with {'icon': 'derangement' } only %} {{ "derangements.label"|trans }}</a></div>
  {# <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="#">{{ "advantages"|trans}}</a></div> #}
</div>

<div class="row block vampire mt-3 pt-2">
  <h2 class="pe-none"><img src={{ asset('SkullVTR.png', 'images') }} style="height:2em;" /> Vampire: The Requiem <img src={{ asset('SkullVTR.png', 'images') }} style="height:2em;" /></h2>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('book_index', {'setting': 'vampire'})}}">{% include "_icon.html.twig" with {'icon': 'book' } only %}{{ "books.label"|trans}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('rule_index', {'setting': 'vampire'})}}">{% include "_icon.html.twig" with {'icon': 'rules' } only %} {{ "rules"|trans}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('clan_index')}}">{% include "_icon.html.twig" with {'icon': 'clan' } only %}{{ "clans.label"|trans({}, 'vampire')}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('bloodline_index')}}">{% include "_icon.html.twig" with {'icon': 'bloodline' } only %}<span class="d-none d-sm-inline">{{ "clan.bloodlines.label"|trans({}, 'vampire')}}</span></a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('vampire_discipline_index')}}">{% include "_icon.html.twig" with {'icon': 'discipline' } only %}{{ "disciplines.label"|trans({}, 'vampire')}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('vampire_sorcery_index')}}">{% include "_icon.html.twig" with {'icon': 'sorcery' } only %}{{ "sorcery.label"|trans({}, 'vampire')}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('vampire_coils_index')}}">{% include "_icon.html.twig" with {'icon': 'coils' } only %}{{ "coils.label"|trans({}, 'vampire')}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('vampire_thaumaturgy_index')}}">{% include "_icon.html.twig" with {'icon': 'thaumaturgy' } only %}{{ "thaumaturgy.label"|trans({}, 'vampire')}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('vampire_devotion_index')}}">{% include "_icon.html.twig" with {'icon': 'devotion' } only %}{{ "devotions.label"|trans({}, 'vampire')}}</a></div>
  <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('merit_list', {'type': 'type', 'id': 'vampire'})}}">{% include "_icon.html.twig" with {'icon': 'merits' } only %}{{ "merits"|trans}}</a></div>
  <h3>Ghoul</h3>
    <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('ghoul_families_index')}}">{% include "_icon.html.twig" with {'icon': 'ghoul_family' } only %}{{ "ghoul.families.label"|trans({}, 'vampire')}}</a></div>
    <div class="col-6 col-lg-3"><a class="btn btn-primary w-100 m-2" href="{{path('merit_list', {'type': 'type', 'id': 'ghoul'})}}">{% include "_icon.html.twig" with {'icon': 'merits' } only %}{{ "merits"|trans}}</a></div>
</div>

<div class="row block mt-3 pt-2">
  <h2 class="pe-none"><img src={{ asset('SkullWOD.webp', 'images') }} style="height:2em;" /> Tools <img src={{ asset('SkullWOD.webp', 'images') }} style="height:2em;" /></h2>
  <div class="col-12 col-lg-12"><a class="btn btn-primary w-100 m-2" href="{{path('character_premade_index')}}">{% include "_icon.html.twig" with {'icon': 'npc' } only %}{{ "characters.premade"|trans}}</a></div>
</div>