{% trans_default_domain 'app' %}

<h2><span>{{ "wiki"|trans }}</span></h2>
<div class="row block generic">
  <h2>World of Darkness</h2>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="{{path('attribute_index')}}">{{ "attributes.label"|trans({}, 'character')}}</a></div>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="{{path('skill_index')}}">{{ "skills.label"|trans({}, 'character')}}</a></div>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="#">{{ "advantages"|trans}}</a></div>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="#">{{ "rules"|trans}}</a></div>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="{{path('merit_index')}}">{{ "merits"|trans}}</a></div>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="{{path('book_index', {'setting': 'human'})}}">{{ "books"|trans}}</a></div>
</div>

<div class="row vampire mt-5">
  <h2>Vampire: The Requiem</h2>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="{{path('clan_index')}}">{{ "clans.label"|trans({}, 'vampire')}}</a></div>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="{{path('discipline_index')}}">{{ "disciplines.label"|trans({}, 'vampire')}}</a></div>
  <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" target="_blank" href="{{path('book_index', {'setting': 'vampire'})}}">{{ "books"|trans}}</a></div>
</div>