{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block title %}{{ action|default('new')|trans }} {{ entity|trans }}
{% endblock %}

{% block body %}
  <h1>{{ action|default('new')|trans }} {{ entity|trans }}{% include "_icon.html.twig" with {'icon' : entity, 'hasTips': 0, 'class': 'icon-lg' } only %}</h1>

  <div class="container py-3 mt-5 g-0">
    <div class="row block">
      <div class="col p-3">
        {{ include('wiki/_form.html.twig', {'button_label': action|default(null)}) }}
        {{ include('_back.html.twig') }}
      </div>
    </div>
  </div>
{% endblock %}
