{% extends "base.html.twig" %}

{% trans_default_domain 'app' %}

{% if footer is not defined %}
	{% set footer = false %}
{% endif %}


{% block title %}Wiki
{% endblock %}

{% block bodyData %}
	data-controller="search" data-search-type-value="{{ entity }}"
{% endblock %}

{% block body %}
	{% include "_back.html.twig" with {'link': path('wiki_index')} %}
	{% include "_top.html.twig" %}
	<h1 class="py-3">
		{% include "_icon.html.twig" with {icon: entity, class: 'icon-lg' } only %}
		{% if domain is defined %}
			{{ (entity ~".label.multi")|trans({}, domain) }}
			—
			{{ (setting ~ ".label")|trans({}, "setting") }}
		{% else %}
			{{ "label.multi"|trans({}, entity) }}
			—
			{{ (setting ~ ".label")|trans({}, "setting") }}
		{% endif %}
	</h1>
	<div class="container">
		<div class="row py-3">
			<div class="col-12">
				<div class="col-auto">
					<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="true" aria-controls="collapseToc">
						<h4 class="d-inline-block text-start">{{ "toc"|trans({}, 'wiki') }}</h4>
					</a>
					{% if description is defined and description is not null and description.value is not empty %}
						<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="true" aria-controls="collapseDescription">
							<h4 class="d-inline-block text-start">{{ "description"|trans({}, 'wiki') }}</h4>
						</a>
					{% endif %}
				</div>
				<div class="row my-3">
					<div id="collapseToc" class="col-auto collapse">
						<ul class="toc block p-5">
							{% for element in elements %}
								<li>
									<a href="#{{ element.id }}">{{ element.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div id="collapseDescription" class="collapse col">
						<div class="block block-wiki p-2">
							{{ description.value|default("")|markdown_to_html }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				{% for element in elements %}
					{% include entity ~ "/_card.html.twig" with { (entity): element} %}
				{% endfor %}
			</div>
		</div>
	{% endblock %}

	{% block footerContent %}
		<div class="col-12 d-flex align-items-center position-relative">
			<span class="search-icon">
				{% include "_icon.html.twig" with  {icon: 'search'} %}
			</span>
			<input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
			<div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
				<span class="fa-layers fa-fw">
					<i class="fa-solid fa-circle"></i>
					<span class="ok footer-collapse collapse">
						<i class="fa-solid fa-lg fa-circle-chevron-down"></i>
					</span>
					<span class="ok footer-collapse show ">
						<i class="fa-solid fa-lg fa-circle-chevron-up"></i>
					</span>
				</span>
			</div>
			{% if is_granted('ROLE_ST') and isFixed|default(false) != true %}
				<a class="btn btn-primary ms-auto" href="{{ path(entity ~ '_new', {'setting': setting}) }}">{% include "_icon.html.twig" with {'icon' : 'add' } only %}</a>
			{% endif %}
		</div>
		<div class="col-auto py-3 footer-collapse collapse">
			{% for key, elements in search|default(null) %}
				<h5 class="pe-none">{{ (key ~ ".label")|trans({}, 'book') }}</h5>
				{% for element in elements %}
					<a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
						<span class="d-none d-md-inline">{{ (key ~ "." ~ element)|trans({}, entity) }}</span>
						{% include "_icon.html.twig" with {'icon' : element } only %}
					</a>
				{% endfor %}
			{% endfor %}
		</div>
	{% endblock %}
