{% extends "base.html.twig" %}

{% trans_default_domain 'app' %}

{% block title %}Wiki{% endblock %}

{% block bodyData %}
  data-controller="search" data-search-type-value="{{ entity }}"
{% endblock %}

{% block body %}
  <div class="container">
    <h1>{% include "icon.html.twig" with {'icon': entity, 'hasTips': 0 } only %} {{ (entity ~ "s")|trans({}, 'app') }}</h1>
    <div class="row">
      <div class="col-auto block">
        <h4 class="d-inline-block text-start">{{ "toc"|trans }}</h4> [<a data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="false" aria-controls="collapseToc">show</a>]
        <ul id="collapseToc" class="toc collapse pe-3 py-3">
          {% for element in elements %}
            <li>
              <a href="#{{ element.name }}">{{ element.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col flex-grow block ms-5">
        <p>{{ entity ~ ".description" }}</p>
      </div>
    </div>
    <div class="row">
      {% for element in elements %}
        {% include entity ~ "/card.html.twig" with { (entity): element} %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon"><i class="fa-solid fa-magnifying-glass fa-fw"></i></span>
    <input class="search-field" type="text" data-search-target="query" data-action="search#getResults">
    <div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
      <span class="fa-layers fa-fw">
        <i class="fa-solid fa-circle"></i>
        <span class="ok footer-collapse collapse"><i class="fa-solid fa-lg fa-circle-chevron-down"></i></span>
        <span class="ok footer-collapse show "><i class="fa-solid fa-lg fa-circle-chevron-up"></i></span>
      </span>
    </div>
    {% if is_granted('ROLE_ST') and isFixed|default(false) != true %}
      <a class="btn btn-primary ms-auto" href="{{ path(entity ~ '_new') }}">{% include "icon.html.twig" with {'icon' : 'add', 'hasTips': 1 } only %}</a>
    {% endif %}
  </div>
  <div class="col-auto py-3 footer-collapse collapse">
    {% for key, elements in search %}
      <h5 class="text-center pe-none">{{ (key ~ ".label")|trans }}</h5>
      {% for element in elements %}
        <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
          <span class="d-none d-md-inline">{{ (key ~ "." ~ element)|trans }}</span>{% include "icon.html.twig" with {'icon' : element, 'hasTips': 0 } only %}
        </a>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}