{% extends "base.html.twig" %}

{% trans_default_domain 'app' %}

{% if footer is not defined %}
	{% set footer = false %}
{% endif %}

{% block title %}
  {{"label.multi"}}
{% endblock %}

{% block bodyController %}
  {{parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="{{ entity }}"
{% endblock %}

{% block body %}
  {% if chronicle|default(false) == false %}
    {% include "_back.html.twig" %}
  {% else %}
    {% include "_back.html.twig" with {link: path('homebrew_index', {id: chronicle})} %}
  {% endif %}
  {% include "_top.html.twig" %}
  
  {# {% include "_title.html.twig" with {title: "label.multi" , domain: "path", icon: 'path'} %} #}

	<h1 class="py-3">
		{% include "_icon.html.twig" with {icon: entity, class: 'icon-lg' } only %}
		{% if domain is defined %}
			{{ (entity ~".label.multi")|trans({}, domain) }}
			—
			{{ (setting ~ ".label")|trans({}, "setting") }}
		{% else %}
			{{ "label.multi"|trans({}, entity) }}
			—
			{{ (setting ~ ".label")|trans({}, "setting") }}
		{% endif %}
	</h1>
  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>

    <div class="row g-2 pb-2">
      {% for element in elements %}
        {# <div class="col-12 col-lg-6 py-2"> #}
          {% include entity ~ "/_card.html.twig" with { (entity): element} %}
        {# </div> #}
      {% endfor %}
    </div>
  </div>
{% endblock %}

	{% block footerContent %}
		<div class="col-12 d-flex align-items-center position-relative">
			<span class="search-icon">
				{% include "_icon.html.twig" with  {icon: 'search'} %}
			</span>
			<input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
			<div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
				<span class="fa-layers fa-fw">
					<i class="fa-solid fa-circle"></i>
					<span class="ok footer-collapse collapse">
						<i class="fa-solid fa-lg fa-circle-chevron-down"></i>
					</span>
					<span class="ok footer-collapse show ">
						<i class="fa-solid fa-lg fa-circle-chevron-up"></i>
					</span>
				</span>
			</div>
			{% if is_granted('ROLE_ST') and isFixed|default(false) != true %}
				<a class="btn btn-primary ms-auto" href="{{ path(entity ~ '_new', {'setting': setting}) }}">{% include "_icon.html.twig" with {icon : 'add' } only %}</a>
			{% endif %}
		</div>
		<div class="col-auto py-3 footer-collapse collapse">
			{% for key, elements in search|default(null) %}
				<h5 class="pe-none">{{ (key ~ ".label")|trans({}, 'book') }}</h5>
				{% for element in elements %}
					<a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
						<span class="d-none d-md-inline">{{ (key ~ "." ~ element)|trans({}, entity) }}</span>
						{% include "_icon.html.twig" with {icon : element } only %}
					</a>
				{% endfor %}
			{% endfor %}
		</div>
	{% endblock %}
