{% extends "base.html.twig" %}

{% trans_default_domain 'wiki' %}

{% block title %}Wiki{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ (entity ~ "s")|trans({}, 'app') }}</h1>
    <div class="row">
      <div class="col-auto block">
        <h4 class="d-inline-block text-start">{{ "toc"|trans }}</h4> [<a data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="true" aria-controls="collapseToc">hide</a>]
        <ul id="collapseToc" class="toc collapse show pe-3 py-3">
          {% for element in elements %}
            <li>
              <a href="#{{ element.name }}">{{ element.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col flex-grow block ms-5">
        <p>{{ entity ~ ".description" }}</p>
      </div>
    </div>
    <div class="row">
      {% for element in elements %}
        {% include entity ~ "/card.html.twig" with { (entity): element} %}
        {# <div id="{{ element.name }}" class="col-12 col-lg-4 block block-wiki">
          <h3>{{ element.name }}</h3>
          <div class="fluff">{{ element.fluff|default("")|markdown_to_html }}</div>
          <p class="text">{{ element.description|default("")|markdown_to_html }}</p>
          {% if is_granted('ROLE_ST') %}
            <a href="{{ path(entity ~ '_edit', {'id': element.id}) }}">{{ 'edit'|trans }}</a>
          {% endif %}
        </div> #}
      {% endfor %}
    </div>
  </div>
{% endblock %}