{% extends "base.html.twig" %}

{% trans_default_domain 'wiki' %}

{% block title %}Wiki{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ (entity ~ ".title")|trans }}</h1>
    <div class="row">
      <div class="col-auto block">
        <h4 class="d-inline-block text-start">{{ "toc"|trans }}</h4> [<a data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="true" aria-controls="collapseToc">hide</a>]
        <ul id="collapseToc" class="toc collapse show pe-3 py-3">
          {% for element in elements %}
            <li>
              <a href="{{ path(entity ~ '_edit', {'id': element.id}) }}">{{ element.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col flex-grow block ms-5">
        <p>{{ (entity ~ ".description")|trans }}</p>
      </div>
    </div>
    <div class="row block p-2">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">{{ ("name")|trans }}</th>
            <th scope="col">{{ ("actions")|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% for element in elements %}
            <tr>
              <th scope="row">{{ element.name }}</th>
              <td>
                {% if is_granted('ROLE_ST') %}
                  <a href="{{ path(entity ~ '_edit', {'id': element.id}) }}">{{ 'edit'|trans }}</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </div>
  </div>
{% endblock %}