{% trans_default_domain 'vampire' %}

<div class="row vampire justify-content-center pt-2">
  <a {% if isCollapsed %}data-bs-toggle="collapse" href="#collapseVampireWiki" role="button" aria-expanded="false" aria-controls="collapseVampireWiki"{% endif %}>
    <h2 class="pe-none"><img src={{ asset('SkullVTR.png', 'images') }} style="height:1.5em;" /> {{ "vampire.label"|trans({}, 'setting')}}</h2>
  </a>
  <div id="collapseVampireWiki" class="row justify-content-center {% if isCollapsed %}collapse{% endif %}">
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('book_index', {setting: 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'book-pile' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'book') }}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('rule_index', {setting: 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'rule' } only %}
        <span class="d-none d-sm-inline">{{ 'label.multi'|trans({}, 'rule')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('organization_index', {setting: 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'covenant' } only %}
        <span class="d-none d-sm-inline">{{ 'covenant.label.multi'|trans({}, 'organization')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_clan_index')}}">
        {% include "_icon.html.twig" with {icon: 'clan' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'clan')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_bloodline_index')}}">
        {% include "_icon.html.twig" with {icon: 'bloodline' } only %}
        <span class="d-none d-sm-inline">{{ "bloodline.label.multi"|trans({}, 'clan')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_discipline_index')}}">
        {% include "_icon.html.twig" with {icon: 'discipline' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_sorcery_index')}}">
        {% include "_icon.html.twig" with {icon: 'pentacle' } only %}
        <span class="d-none d-sm-inline">{{ "sorcery.label.multi"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_coils_index')}}">
        {% include "_icon.html.twig" with {icon: 'coils' } only %}
        <span class="d-none d-sm-inline">{{ "coil.label.multi"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_thaumaturgy_index')}}">
        {% include "_icon.html.twig" with {icon: 'thaumaturgy' } only %}
        <span class="d-none d-sm-inline">{{ "thaumaturgy.label"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_devotion_index')}}">
        {% include "_icon.html.twig" with {icon: 'devotion' } only %}
        <span class="d-none d-sm-inline">{{ "devotion.label.multi"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('merit_list', {filter: 'type', id: 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'merit' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'merit') }}</span>
      </a>
    </div>
    {# Ghoul #}
    <h3 class="text-strong">{% include "_icon.html.twig" with {icon: 'type/ghoul' } only %}<span>{{ "ghoul"|trans({}, "content-type") }}</span></h3>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('ghoul_families_index')}}">
        {% include "_icon.html.twig" with {icon: 'ghoul_family' } only %}
        <span class="d-none d-sm-inline">{{ "family.label.multi"|trans({}, 'ghoul')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('merit_list', {filter: 'type', id: 'ghoul'})}}">
        {% include "_icon.html.twig" with {icon: 'merit' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'merit') }}</span>
      </a>
    </div>
    {# Vampire Rome #}
    <h3 class="text-strong">{% include "_icon.html.twig" with {icon: 'coliseum' } only %}<span>Rome</span></h3>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('organization_ancient_index', {setting: 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'covenant' } only %}
        <span class="d-none d-sm-inline">{{ "wing.label.multi"|trans({}, 'organization')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_clan_ancient_list')}}">
        {% include "_icon.html.twig" with {icon: 'clan' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'clan')}}</span>
      </a>
    </div>
  </div>
</div>