{% trans_default_domain 'vampire' %}

<div class="row vampire justify-content-center pt-2">
  <a data-bs-toggle="collapse" href="#collapseVampireWiki" role="button" aria-expanded="false" aria-controls="collapseVampireWiki">
    <h2 class="pe-none"><img src={{ asset('SkullVTR.png', 'images') }} style="height:1.5em;" /> {{ "vampire.label"|trans({}, 'setting')}}</h2>
  </a>
  <div id="collapseVampireWiki" class="row justify-content-center collapse">
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('book_index', {setting: 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'book-pile' } only %}
        <span>{{ "label.multi"|trans({}, 'book') }}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('rule_index', {setting: 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'rule' } only %}
        <span>{{ 'label.multi'|trans({}, 'rule')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('organization_index', {setting: 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'covenant' } only %}
        <span>{{ 'covenant.label.multi'|trans({}, 'organization')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('clan_index')}}">
        {% include "_icon.html.twig" with {icon: 'clan' } only %}
        <span>{{ "label.multi"|trans({}, 'clan')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('bloodline_index')}}">
        {% include "_icon.html.twig" with {icon: 'bloodline' } only %}
        <span>{{ "bloodline.label.multi"|trans({}, 'clan')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_discipline_index')}}">
        {% include "_icon.html.twig" with {icon: 'discipline' } only %}
        <span>{{ "label.multi"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_sorcery_index')}}">
        {% include "_icon.html.twig" with {icon: 'pentacle' } only %}
        <span>{{ "sorcery.label.multi"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_coils_index')}}">
        {% include "_icon.html.twig" with {icon: 'coils' } only %}
        <span>{{ "coil.label.multi"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_thaumaturgy_index')}}">
        {% include "_icon.html.twig" with {icon: 'thaumaturgy' } only %}
        <span>{{ "thaumaturgy.label"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('vampire_devotion_index')}}">
        {% include "_icon.html.twig" with {icon: 'devotion' } only %}
        <span>{{ "devotion.label.multi"|trans({}, 'discipline')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('merit_list', {'type': 'type', 'id': 'vampire'})}}">
        {% include "_icon.html.twig" with {icon: 'merit' } only %}
        <span>{{ "label.multi"|trans({}, 'merit') }}</span>
      </a>
    </div>
    {# Ghoul #}
    <h3 class="text-strong">{% include "_icon.html.twig" with {icon: 'type/ghoul' } only %}<span>Ghoul</span></h3>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('ghoul_families_index')}}">
        {% include "_icon.html.twig" with {icon: 'ghoul_family' } only %}
        <span>{{ "family.label.multi"|trans({}, 'ghoul')}}</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('merit_list', {type: 'type', id: 'ghoul'})}}">
        {% include "_icon.html.twig" with {icon: 'merit' } only %}
        <span>{{ "label.multi"|trans({}, 'merit') }}</span>
      </a>
    </div>
  </div>
</div>