{% trans_default_domain 'werewolf' %}

<div class="row werewolf justify-content-center pt-2">
  <a {% if isCollapsed %}data-bs-toggle="collapse" href="#collapsWerewolfWiki" role="button" aria-expanded="false" aria-controls="collapsWerewolfWiki"{% endif %}>
    <h2 class="pe-none"><img src={{ asset('SkullWTF.png', 'images') }} style="height:1.5em;" /> {{ "werewolf.label"|trans({}, 'setting')}}</h2>
  </a>
  <div id="collapsWerewolfWiki" class="row justify-content-center {% if isCollapsed %}collapse{% endif %}">
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('book_index', {setting: 'werewolf'})}}">
        {% include "_icon.html.twig" with {icon: 'book-pile' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'book') }}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('rule_index', {setting: 'werewolf'})}}">
        {% include "_icon.html.twig" with {icon: 'rule' } only %}
        <span class="d-none d-sm-inline">{{ 'label.multi'|trans({}, 'rule')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('werewolf_renown_index', {setting: 'werewolf'})}}">
        {% include "_icon.html.twig" with {icon: 'renown' } only %}
        <span class="d-none d-sm-inline">{{ 'label.single'|trans({}, 'renown')}}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('werewolf_tribe_index')}}">
        {% include "_icon.html.twig" with {icon: 'tribe' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'tribe') }}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('werewolf_auspice_index')}}">
        {% include "_icon.html.twig" with {icon: 'type/werewolf' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'auspice') }}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('werewolf_gift_index')}}">
        {% include "_icon.html.twig" with {icon: 'gift' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'gift') }}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('werewolf_rite_index')}}">
        {% include "_icon.html.twig" with {icon: 'rite' } only %}
        <span class="d-none d-sm-inline">{{ "rite.label.multi"|trans({}, 'gift') }}</span>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <a class="btn btn-primary w-100 mb-2" href="{{path('merit_list', {filter: 'type', id: 'werewolf'})}}">
        {% include "_icon.html.twig" with {icon: 'merit' } only %}
        <span class="d-none d-sm-inline">{{ "label.multi"|trans({}, 'merit') }}</span>
      </a>
    </div>
  </div>
</div>
