{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block shortcuts %}
  {{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid container-lg py-3" data-controller="character--access">
		<div class="row justify-content-center">
			<h1 class="text-center mt-5">{{ ('infos.details.edit')|trans }}</h1>
        <div class="col-auto block p-5 flex-column">
          <button name="heard" class="btn btn-primary d-block w-100 my-3" type="button" data-character--access-target="btn" data-action="click->character--access#update">
            {{ "right.shortcut.heard"|trans }}
          </button>
          <button name="seen" class="btn btn-primary d-block w-100 my-3" type="button" data-character--access-target="btn" data-action="click->character--access#update">
            {{ "right.shortcut.seen"|trans }}
          </button>
          <button name="acquaintance" class="btn btn-primary d-block w-100 my-3" type="button" data-character--access-target="btn" data-action="click->character--access#update
            {{ "right.shortcut.acquaintance"|trans }}
          </button>
          <button name="know" class="btn btn-primary d-block w-100 my-3" type="button" data-character--access-target="btn" data-action="click->character--access#update">
            {{ "right.shortcut.known"|trans }}
          </button>
          <button name="all" class="btn btn-primary d-block w-100 my-3" type="button" data-character--access-target="btn" data-action="click->character--access#update">
            {{ "right.shortcut.intimate"|trans }}
          </button>
        </div>
        <div class="col block p-5">
				{{ form_start(form) }}
        {{ form_row(form.rights)}}
        {{ form_rest(form) }}
      <div class="text-center">
        <button class="btn btn-primary w-100">
          {% include "_icon.html.twig" with {icon: 'save'} %}
          {{ ('action.save')|trans({}, 'app') }}
        </button>
      </div>
  {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
