{% trans_default_domain 'app' %}

<h3 class="text-center pt-1">{% include "_icon.html.twig" with {icon: 'd10', class: 'icon-lg'} %}{{ 'roll.label.multi'|trans }}</h3>
{% for roll in rolls %}
  {% if roll.type == character.type or roll.type == null %}
    <div class="col-auto">
      <h5 class="d-inline-block" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
          data-action="click->content#load"
          data-content-url-param="{{ link|default(path('roll_fetch', {id: roll.id})) }}" 
          data-content-name-param="{{ roll.name }}"
          data-content-link-param="{{ link|default(path('roll_show', {id: roll.id})) }}"
      >{{ roll.name }}</h5>
      {% include "_dice_pool.html.twig" with {
        pool: character.detailedDicePool(roll.attributes, roll.skills), 
        contested: roll.contestedText } %}
    </div>
  {% endif %}
{% endfor %}