{% extends "character_sheet_type/vampire/disciplines/element.html.twig" %}

{% trans_default_domain 'character' %}

{% block controller %}role="group"{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check" id="{{ discipline.name ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" {% if value <= base %}checked{% endif %} disabled>
  <label class="btn dot {% if value <= min %}dot-locked{% endif %}" for="{{ discipline.name ~ '-' ~ value }}"></label>
{% endblock %}


{% block toggle %}
{% set realId = character.sourceCharacter.id|default(character.id) %}

{% if discipline.power.canToggle %}
  {% if character.hasStatus(power: discipline.power) %}
    <a class="float-end me-1" href="{{ path('vampire_discipline_power_toggle', {character: realId, id: discipline.power.id, activate: 0 }) }}">
      {% include "_icon.html.twig" with { icon: 'confirmed' } %}
    </a>  
  {% else %}
    <a class="float-end me-1" href="{{ path('vampire_discipline_power_toggle', {character: realId, id: discipline.power.id, activate: 1 }) }}">
      {% include "_icon.html.twig" with { icon: 'button' } %}
    </a>
  {% endif %}
{% endif %}
{% endblock %}

{% block toggleMulti %}
{% if realId is not defined %}
  {% set realId = character.sourceCharacter.id|default(character.id) %}
{% endif %}
{% if power.canToggle %}
  {% if character.hasStatus(power: power) %}
    <a class="float-end me-1" href="{{ path('vampire_discipline_power_toggle', {character: realId, id: power.id, activate: 0 }) }}">
      {% include "_icon.html.twig" with { icon: 'confirmed' } %}
    </a>  
  {% else %}
    <a class="float-end me-1" href="{{ path('vampire_discipline_power_toggle', {character: realId, id: power.id, activate: 1 }) }}">
      {% include "_icon.html.twig" with { icon: 'button' } %}
    </a>
  {% endif %}
{% endif %}
{% endblock %}