{% extends "character_sheet_type/vampire/disciplines/sorcery.html.twig" %}

{% trans_default_domain 'discipline' %}

{% block controller %}role="group"{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check" id="{{ sorcery.name ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" {% if value <= base %}checked{% endif %} disabled>
  <label class="btn dot {% if value <= min %}dot-locked{% endif %}" for="{{ sorcery.name ~ '-' ~ value }}"></label>
{% endblock %}

{% block pool %}
  {% if sorcery.powers|length > 0 and (sorcery.powers|first).level == 0 %}
    {% set ritual = sorcery.powers|first %}
      <div class="float-end">{% include "_dice_pool.html.twig" with {'pool' : ritual.detailedDicePool(character), 'contested' : ritual.contestedText} %}</div>
  {% endif %}
{% endblock %}

{% block rituals %}
  <div id="ritual-{{ sorcery.id }}" class="row accordion mb-2">
    {% for ritual in sorcery.powers[1:] %}
      {% if ritual in character.rituals %}
        {% if ritual.level != level|default(0) %}
          {% set level = ritual.level %}
          <h3 class="mt-3 py-2 bdr-t" {% block ritual_data %}{% endblock %}>{{ 'sorcery.power.level.multi'|trans({'%level%': level|format_number(style='spellout')|capitalize, '%sorcery%': sorcery.name}) }}</h3>
        {% endif %}
        <div class="col-12 col-md-6 my-2">
          <div class="block d-flex flex-column justify-content-between p-3 my-3 h-100" data-bs-toggle="collapse" data-bs-target=".ritual-text--{{ sorcery.id }}-{{ ritual.id }}" type="button" aria-expanded="false" aria-controls="ritual-text--{{ sorcery.id }}-{{ ritual.id }}">
            <div class="flex-1">
              <h4>{{ ritual.name }}</h4>
              <div class="text-sub fst-italic">{{ ritual.short|markdown_to_html }}</div>
              <div class="ritual-text--{{ sorcery.id }}-{{ ritual.id }} collapse bdr-t" data-bs-parent="#ritual-{{ sorcery.id }}">
                {{ ritual.details|markdown_to_html }}
                <div class="accent text-end">{% include "_source.html.twig" with {'element': ritual } only %}</div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
