{% extends 'base.html.twig' %}

{% set footer = true %}

{% trans_default_domain 'society' %}

{% block title %}{{ "label.single"|trans }}{% endblock %}

{% block body %}
  {% if society.chronicle is defined %}
    {% include "_back.html.twig" with {'link': path('chronicle_society_index', {'id': society.chronicle.id })} %}
  {% else %}
    {% include "_back.html.twig" %}
  {% endif %}

  <h1>
    {% include "_icon.html.twig" with {'icon' : 'group', 'class': 'icon-xl' } only %}
    {{ "label.single"|trans }}
  </h1>
  <div class="container block py-3">
    <h1>{{ society.name }}</h1>
    {% if society.type %}
      <h2>
        <span class="accent">
          {% include "_icon.html.twig" with {'icon' : society.type, 'class': 'icon-lg accent' } only %}
          {{ ('type.' ~ society.type)|trans }}
        </span>
      </h2>
    {% endif %}
    <p>{{ society.description }}</p>
    <div class="row">
      {% for character in society.characters %}
        {% include "character/_card.html.twig" with {'showChronicle': 0} %}
      {% endfor %}
    </div>
  </div>
  {% include "element/_delete.html.twig" with {'element': 'society', 'entity': society} %}
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex justify-content-between position-relative">
    <a class="btn btn-primary" href="{{ path('society_edit', {'id': society.id }) }}">
      {% include "_icon.html.twig" with {icon : 'edit' } only %}
      {% include "_icon.html.twig" with {icon : 'group' } only %}
    </a>
    <a class="btn btn-primary" href="{{ path('society_add_character', {'id': society.id }) }}">
      {% include "_icon.html.twig" with {icon : 'gears' } only %}
      {% include "_icon.html.twig" with {icon : 'character' } only %}
    </a>
    <button type="button" class="float-end btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModal-society-{{ society.id }}">{% include "_icon.html.twig" with {icon: 'delete'} only %}</button>
  </div>
{% endblock %}