{% trans_default_domain 'app' %}

{% set character = chronicle.character(app.user) %}
{% if character is not null %}
  <div class="col-12">
    <div class="w-50 m-auto h-100 py-1">
      <a class="{{ character.type }} btn btn-primary w-100 h-100 back-img" {% include 'character/_back.html.twig' %} href="{{path('character_show', {'id': character.id })}}">
        <div class="character-frame character-frame-list position-relative text-center mb-2">
          <img class="p-1" src="{{ asset(character.avatar, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="50">
        </div>
        {{ character.name }}
      </a>
    </div>
  </div>
{% else %}
  <div class="col-12">
    <a class="btn btn-primary w-100 m-2" href="{{path('character_new', {'chronicle': chronicle.id })}}">
      {% include "_icon.html.twig" with {'icon': 'add' } only %}
      {{ "create"|trans }}
    </a>
  </div>
{% endif %}
<div class="col-6">
  <a class="btn btn-primary w-100 m-2" href="{{path('chronicle_notes', {'id': chronicle.id })}}">
    {% include "_icon.html.twig" with {'icon': 'notes' } only %}
    {{ "notes"|trans }}
  </a>
</div>
<div class="col-6">
  <a class="btn btn-primary w-100 m-2" href="{{path('chronicle_party_index', {'id': chronicle.id })}}">
    {% include "_icon.html.twig" with {'icon': 'party' } only %}
    {{ "party.name"|trans }}
  </a>
</div>
<div class="col-6">
  <a class="btn btn-primary w-100 m-2" href="{{ path('chronicle_infos_index', {'id': chronicle.id}) }}">
    {% include "_icon.html.twig" with {'icon': 'details' } only %}
    {{ "infos"|trans }}
  </a>
</div>
<div class="col-6">
  <a class="btn btn-primary w-100 m-2 text-truncate" href="{{ path('homebrew_index', {'id': chronicle.id}) }}">
    {% include "_icon.html.twig" with {'icon': 'homebrew' } only %}
    {{ "homebrew"|trans }}
  </a>
</div>