{% trans_default_domain 'character' %}

{% block header %}
<h1 class="text-center text">{{ character.name }} ({{ character.player }})</h1>
<div class="row g-1">
  <div class="col-12 col-sm">
    <div class="row text-center">
      <div class="col-12 d-flex justify-content-center my-2">
        <div class="character-avatar position-relative">
          <img class="p-1" src="{{ asset(character.id ~ '.jpg', 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" width="100" height="100">
        </div>
      </div>
      <div class="col-12">
        {% trans %}Age{% endtrans %}: {{ character.age }}
      </div>
    </div>
  </div>
  <div class="col-6 col-sm">
    <div class="row">
      <div class="col-12">
        {% trans %}Concept{% endtrans %}: {{ character.concept }}
      </div>
      <div class="col-12">
        {% trans %}Virtue{% endtrans %}: {{ character.virtue }}
      </div>
      <div class="col-12">
        {% trans %}Vice{% endtrans %}: {{ character.vice }}
      </div>
      <div class="col-12">
        <a href="{{ path('character_edit', {'id': character.id}) }}" class="btn btn-sm btn-primary position-relative">Evolution</a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm">
    <div class="row">
      <div class="col-12">
        {% trans %}Chronicle{% endtrans %}: {{ character.chronicle }}
      </div>
      <div class="col-12">
        {% trans %}Faction{% endtrans %}: {{ character.faction }}
      </div>
      <div class="col-12">
        {% trans %}Group name{% endtrans %}: {{ character.groupName }}
      </div>
    </div>
  </div>
</div>
{% endblock %}