{% trans_default_domain 'character' %}

{% block header %}
<div class="modal fade" id="avatarModal" aria-labelledby="avatarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content block-solid">
      <form data-action="character--avatar#update" name="avatar" data-character--avatar-target="form" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="avatarModalLabel">{{'avatar.change'|trans }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input class="form-control" type="file" name="avatar[upload]"/>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            {{ 'avatar.save'|trans }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row g-1 back-picture" {% include character.type ~ '/back.html.twig' %}>
  <h1 class="text-center text">{{ character.name }} {% if app.user != character.player %}({{ character.player }}){% endif %}</h1>
  <div class="order-2 order-md-1 col-6 col-md text-center">
    <div class="row">
      <div class="col-12">
        {% if character.apparentAge is defined %}
          {{ "age.less"|trans({"%age%": character.age, "%looks%": character.apparentAge}) }}
        {% else %}
          {{ "age.normal"|trans({"%age%": character.age}) }}
        {% endif %}
      </div>
      <div class="col-12">
        {% trans %}virtue.name{% endtrans %}: {{ character.virtue }}  {% if character.virtueDetail %}({{ character.virtueDetail }}){% endif %}
      </div>
      <div class="col-12">
        {% trans %}vice.name{% endtrans %}: {{ character.vice }} {% if character.viceDetail %}({{ character.viceDetail }}){% endif %}
      </div>
    </div>
  </div>
  <div class="order-1 order-md-2 col-12 col-md">
    <div class="row text-center">
      <div class="col-12 d-flex my-2" data-bs-toggle="tooltip" title="{{ 'avatar.change'|trans }}">
        <div role="button" data-bs-toggle="modal" data-bs-target="#avatarModal" class="character-frame character-frame-avatar position-relative">
          <img class="p-1" data-character--avatar-target="avatar" src="{{ asset(character.id , 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;" height="100">
        </div>
      </div>
      {% include (type ~ "/sheet/details.html.twig") %}
    </div>
  </div>
  <div class="order-3 order-md-3 col-6 col-md text-center">
    <div class="row">
      <div class="col-12">
        {% trans %}Concept{% endtrans %}: {{ character.concept }}
      </div>
      <div class="col-12">
        {% trans %}Chronicle{% endtrans %}: {{ character.chronicle }}
      </div>
      <div class="col-12">
        {% trans %}Faction{% endtrans %}: {{ character.faction }}
      </div>
      <div class="col-12">
        {% trans %}Group name{% endtrans %}: {{ character.groupName }}
      </div>
    </div>
  </div>
</div>
{% endblock %}