{% trans_default_domain 'character' %}

<div class="container py-3 mt-5" data-controller="character--avatar" data-character--avatar-id-value="{{ character.id }}">
  {% include "character/show/menu.html.twig" %}
  {% include "character/show/header.html.twig" %}
  <div class="row block" data-controller="tabs" data-tabs-initial-value="general">
    <ul class="nav tabs row g-0 mb-2">
      {% include "tab.html.twig" with {'name': 'general', 'domain': 'character'} only %}
      {% include "tab.html.twig" with {'name': 'merits', 'domain': 'character'} only %}
      {% if character.type != "human" %}
        {% include "tab.html.twig" with {'name': character.type, 'domain': 'character'} only %}
      {% endif %}
      {# {% include "tab.html.twig" with {'name': 'relations', 'domain': 'character'} only %} #}
      {% include "tab.html.twig" with {'name': 'inventory', 'domain': 'character'} only %}
      {% include "tab.html.twig" with {'name': 'background', 'domain': 'character'} only %}
      {% if app.user == character.player %}
        {% include "tab.html.twig" with {'name': 'notes', 'domain': 'character'} only %}
      {% endif %}
    </ul>
    <div id="general" data-tabs-target="page">
      <div class="row pb-3">
        <div class="col-12 col-md-6">
          {%include "character/show/health.html.twig" %}
        </div>
        <div class="col-12 col-md-6">
          {% include "character/show/willpower.html.twig" %}
        </div>
      </div>
      {% if character.type != "human" %}
        {% include character.type ~ "/show/trait.html.twig" %}
      {% else %}
        <div class="row pb-3 justify-content-center">
          <div class="col-12 col-md-6">
            {% include "character/show/morality.html.twig" with { 'morality': character.moral } %}
          </div>
        </div>
      {% endif %}
      {% include "character/show/attributes.html.twig" %}
      {% include "character/show/skills.html.twig" %}
      {% include "character/show/advantages.html.twig" %}
    </div>
    <div id="merits" data-tabs-target="page">
      {% include "character/show/merits.html.twig" %}
    </div>
    {% if character.type != "human" %}
      <div id="{{ character.type }}" data-tabs-target="page">
        {% include character.type ~ "/show/powers.html.twig" %}
      </div>
    {% endif %}
    <div id="inventory" data-tabs-target="page">
      {% include "character/show/inventory.html.twig" %}
    </div>
    <div id="background" data-tabs-target="page">
      <div class="col-12 my-2 text-center">
        <img class="col-12 col-lg-6" src="{{ asset(character.id, 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;">
          <div class="block mt-1">
            {% if character.background != "" %}
              {{ character.background|markdown_to_html }}
            {% else %}
              <p>{{ "background.none"|trans }}</p>
            {% endif %}
            <a href="{{ path('character_background', {'id': character.id}) }}">{{ "background.edit"|trans }}</a>
          </div>
      </div>
    </div>
    {% if app.user == character.player %}
      <div id="notes" data-tabs-target="page">
        {% include "character/show/notes.html.twig" %}
      </div>
    {% endif %}
  </div>
  {% include "character/show/rolls.html.twig" %}
</div>