{% trans_default_domain 'character' %}

<div class="container block py-3 mt-5" data-controller="character--avatar" data-character--avatar-id-value="{{ character.id }}">
  {{ include('character/show/header.html.twig') }}
  {{ include('character/show/menu.html.twig') }}
  <div class="row" data-controller="tabs" data-tabs-initial-value="general">
    <ul class="nav tabs row g-0 my-2">
      {% include "tab.html.twig" with {'name': 'general', 'domain': 'character'} only %}
      {% include "tab.html.twig" with {'name': 'merits', 'domain': 'character'} only %}
      {% if character.type != "human" %}
        {% include "tab.html.twig" with {'name': character.type, 'domain': 'character'} only %}
      {% endif %}
      {% include "tab.html.twig" with {'name': 'relations', 'domain': 'character'} only %}
      {% include "tab.html.twig" with {'name': 'background', 'domain': 'character'} only %}
      {% include "tab.html.twig" with {'name': 'notes', 'domain': 'character'} only %}
    </ul>
    <div id="general" data-tabs-target="page">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4">
          {{ include('character/show/health.html.twig') }}
        </div>
        <div class="col-12 col-lg-6 col-xl-4">
          {{ include('character/show/willpower.html.twig') }}
        </div>
        {% if character.type != "human" %}
          <div class="col-12 col-lg-12 col-xl-4">
            {{ include(character.type ~ '/show/trait.html.twig') }}
          </div>
        {% endif %}
      </div>
      {{ include('character/show/advantages.html.twig') }}
      {{ include('character/show/attributes.html.twig') }}
      {{ include('character/show/skills.html.twig') }}
    </div>
    <div id="merits" data-tabs-target="page">
      {{ include('character/show/merits.html.twig') }}
    </div>
    {% if character.type != "human" %}
      <div id="{{ character.type }}" data-tabs-target="page">
        {{ include(character.type ~ '/show/powers.html.twig') }}
      </div>
    {% endif %}
    <div id="background" data-tabs-target="page">
      <div class="col-12 d-flex justify-content-center my-2">
        <div>
          <img class="p-1 w-100" src="{{ asset(character.id ~ '.jpg', 'characters') }}" onerror="this.src='{{ asset('default.jpg', 'characters') }}';this.onerror=null;">
        </div>
      </div>
    </div>
  </div>
</div>
