<div class="container block py-3 mt-5">
  {{ include('character/show/header.html.twig') }}
  {{ include('character/show/attributes.html.twig') }}
  {{ include('character/show/skills.html.twig') }}
  {# {{ include('character/sheet/advantages.html.twig') }} #}
  {# {{ include('character/sheet/merits.html.twig') }} #}
</div>
