{% trans_default_domain 'character' %}
{% set specialties = attribute(character, 'skillSpecialties', [skill]) %}

<div {% if specialties|length > 0 %}role="button" data-bs-toggle="collapse" data-bs-target="#{{ skill ~ "specialties" }}"{% endif %} class="row align-items-center px-2">
  <div class="col">
    {% include "icon.html.twig" with {'icon': skill, 'hasTips': 0 } only %}
    <span class="user-select-none">{{ ("skill." ~ skill)|trans }}</span>
  </div>
  <div class="col-auto">
    <div class="my-1" role="group">
      {% if specialties|length > 0 %}
        {% include "icon.html.twig" with {'icon': 'specialties' } only %}
      {% endif %}
      <div class="dots" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ ('skill' ~ '.' ~ base)|trans }}">
        {% for value in 1..max %}
          {% if value > 1 and value % 5 == 1 %}
            <span class="ms-1"></span>
          {% endif %}
          <input type="checkbox" class="btn-check" id="{{ skill ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" {% if value <= base %}checked{% endif %} disabled>
          <label class="btn dot" for="{{ skill ~ '-' ~ value }}"></label>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div id="{{ skill ~ "specialties" }}" class="row align-items-center px-2 collapse">
  <div class="col">
    {% for specialty in specialties %}
      {{ specialty.name }}
    {% endfor %}
  </div>
</div>
