{% extends "character/sheet/skill.html.twig" %}

{% trans_default_domain 'character' %}

{% block wrapper%}
  {% if specialties|length > 0 %}role="button" data-bs-toggle="collapse" data-bs-target="#{{ skill ~ "specialties" }}"{% endif %}
{% endblock %}

{% block data %}data-bs-toggle="tooltip" data-bs-placement="top" title="{{ ('skill' ~ '.' ~ base)|trans }}"{% endblock %}

{% block specialty %}
  {% if specialties|length > 0 %}
    {% include "icon.html.twig" with {'icon': 'specialties' } only %}
  {% endif %}
{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check" id="{{ skill ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" {% if value <= base %}checked{% endif %} disabled>
  <label class="btn dot" for="{{ skill ~ '-' ~ value }}"></label>
{% endblock %}

{% block specialties %}
  <div id="{{ skill ~ "specialties" }}" class="collapse ps-5">
    {% for specialty in specialties %}
      <li><span>{{ specialty.name }}</span></li>
    {% endfor %}
  </div>
{% endblock %}
