{% trans_default_domain 'character' %}
{% extends "_modal.html.twig" %}

{% set isLarge = false %}
{% set hasFooter = false %}
{% set id = "abilityRemovalModal" %}

{% block title %}{{'ability.removal'|trans }}{% endblock %}

{% block body %}
  <form action="{{ path('character_ability_removal', { 'id' : character.id }) }}" method="POST" data-controller="character--ability-removal">
    <input type="hidden" data-character--ability-removal-target="character" value="{{ character.id }}">
    <input type="hidden" data-character--ability-removal-target="locale" value="{{ app.request.locale }}">
    <div class="row">
      <div class="col-6 mb-3">
        <select class="form-control" name="type" data-character--ability-removal-target="type" data-action="change->character--ability-removal#load">
          <option value=""></option>
          {% for removable, options in removables %}
            <option value="{{removable}}">{{ options['label']|default('label.single')|trans({}, options['domain']|default(removable)) }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-6 mb-3">
        <select class="form-control" name="method" data-character--ability-removal-target="method">
          <option value=""></option>
          <option value="reduce">Reduce 1 from</option>
          <option value="remove">Remove</option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <select class="form-control" name="element" data-character--ability-removal-target="elements" data-action="change->character--ability-removal#unlock">
          <option value=""></option>
        </select>
      </div>
    </div>
    <label class="form-check form-switch text-start user-select-none">
      <input class="form-check-input" type="checkbox" name="refund"/>{{ "xp.refund"|trans }}
    </label>
    <div class="col-12">
      <button class="btn btn-warning btn-lg w-100 disabled" data-character--ability-removal-target="submit">
        {% include "_icon.html.twig" with {icon: 'destroy'} %}
        {{ 'action.confirm'|trans([], 'app') }}
      </button>
    </div>
  </form>
{% endblock %}
