{% trans_default_domain 'character' %}
{% extends "_modal.html.twig" %}

{% set icons = [
  'mental',
  'physical',
  'social',
  'power',
  'finesse',
  'resistance',
  'strong',
  'defense',
  'armor',
  'speed',
  'health',
  'willpower',
  'reroll-8',
  'reroll-9',
  'd10',
  'd10-1',
  'time',
  'info',
  'question',
  'death',
  'wound',
  'downed',
  'knockout',
  'weak-point'
] %}

{% set isLarge = false %}
{% set hasFooter = true %}
{% set id = "addStatusModal" %}

{% block title %}{{'status.effect.add'|trans }}{% endblock %}

{% block body %}
  <form action="{{ path('character_status_effect_add', { 'id' : character.id }) }}" method="POST" data-controller="character--status">
    <input type="hidden" data-character--status-target="character" value="{{ character.id }}">
    <input type="hidden" data-character--status-target="locale" value="{{ app.request.locale }}">
    <div class="row">
      <div class="col mb-3">
        <select class="form-control" name="type" data-character--status-target="type" data-action="change->character--status#load">
          {% for label, value in statusList %}
            <option value="{{value}}">{{ ('status.type.' ~ label)|trans({}, 'app') }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-6 mb-3">
        <select class="form-control" name="elements" data-character--status-target="elements">
          <option value=""></option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <label class="col-form-label">{{ "status.effect.value.label"|trans }}</label>
        <input type="number" class="form-control" name="value" placeholder="{{ "status.effect.value.placeholder"|trans }}" data-character--status-target="value" data-action="change->character--status#isBuff change->character--status#load"/>
        <p>{{ "status.effect.value.example"|trans }}</p>
      </div>
      <div class="col-12 mb-3">
        <label class="col-form-label">{{ "status.effect.name"|trans }}</label>
        <input class="form-control" name="name" placeholder="{{ "status.effect.name"|trans }}" data-character--status-target="name"/>
      </div>
      <div class="col-12 mb-3">
        <label class="col-form-label">{{ "status.effect.description.label"|trans }}</label>
        <input class="form-control" name="description" placeholder="{{ "status.effect.description.placeholder"|trans }}" data-character--status-target="description"/>
      </div>
    </div>
    <div class="row mb-1">
      <h5>{{'status.effect.icon'|trans }}</h5>
      {% for key, icon in icons %}
        <div class="col-2 mb-1">
          <input type="radio" id="icon_{{ key }}" name="icon" value="{{ icon }}" class="d-inline-block"/>
          <label role="button" for="icon_{{ key }}" class="d-inline-block position-relative icon status-wrapper" data-character--status-target="icon">
            {% include "_icon.html.twig" with {class: "position-absolute translate-middle"} %}
          </label>
        </div>
      {% endfor %}
    </div>
    <div class="col-12">
      <button class="btn btn-primary btn-lg w-100" data-character--status-target="submit">
        {% include "_icon.html.twig" with {icon: 'add'} %}
        {{ 'action.add'|trans([], 'app') }}
      </button>
    </div>
  </form>
{% endblock %}

{% block footer %}
  <div>{% include "_icon.html.twig" with { icon: 'info'} %} {{ 'status.effect.info'|trans }}</div>
{% endblock %}
