{% extends "character_sheet/morality/element.html.twig" %}

{% trans_default_domain 'derangement' %}

{% block morality %}
  <div class="block user-select-none p-1">
    <h4 class="pt-1">{% include "_icon.html.twig" with {'icon' : 'morality', 'class': 'icon-lg'} only %}
      {{ 'morality.label'|trans([], setting|default('human')) }}</h4>
    <div class="col-12 text-center">
      <div class="morality">
        {% if is_granted('edit', character) %}
          <span role="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newDerangementModal">
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ "add"|trans }}">
              {% include "_icon.html.twig" with {icon: 'add'} only %}
              {% include "_icon.html.twig" with {icon: 'derangement'} only %}
            </span>
          </span>
        {% endif %}
        <div class="row">
          {% for charDerangement in character.standardDerangements %}
            <div class="col-6 px-1 px-md-3 py-2">
              <span class="btn btn-sm btn-warning w-100" data-bs-toggle="collapse" data-bs-target="#{{ "character-derangement-" ~ charDerangement.id }}">
                {% if charDerangement.derangement.isExtreme %}{% include "_icon.html.twig" with {icon: 'extreme', class: 'icon-sm', label: 'extreme'|trans } %}{% endif %}
                {{ charDerangement }}
                {% if charDerangement.details %}
                  ({{ charDerangement.details }})
                {% endif %}
                {% if charDerangement.derangement.type is not null %}
                  {% include "_icon.html.twig" with {icon: "type/" ~ charDerangement.derangement.type, class: 'icon-sm'} %}
                {% endif %}
              </span>
            </div>
          {% endfor %}
        </div>
        <div class="accordion mt-2 row" id="accordionCharacterDerangements">
          {% for characterDerangement in character.derangements %}
            <div class="col-12">
              <div id="character-derangement-{{ characterDerangement.id }}" class="bdr-b px-5 collapse" data-bs-parent="#accordionCharacterDerangements">
                <h4>
                  {% if characterDerangement.derangement.isExtreme %}{% include "_icon.html.twig" with {icon: 'extreme', class: 'accent', label: 'extreme'|trans } %}{% endif %}
                  {{ characterDerangement.derangement.name }}{% if not characterDerangement.derangement.isMild %} ({{ characterDerangement.derangement.previousAilment.name }} - {{ "severe"|trans([], 'derangement') }}){% endif %}
                  {% if characterDerangement.derangement.type is not null %}
                    {% include "_icon.html.twig" with {icon: "type/" ~ characterDerangement.derangement.type} %}
                  {% endif %}
                </h4>
                {{ characterDerangement.derangement.details|markdown_to_html }}
              </div>
            </div>
          {% endfor %}
        </div>
        {% for i in 10..0 %}
          {% set charDerangement = character.moralityDerangement(i)|default(null) %}
          <div class="row g-0 {% if i == morality %}accent{% endif %}">
            <div class="col-1 text-strong">{{ i }}</div>
            <div class="col-10 morality-derangement{% if i == morality and i > character.maxMorality %} bg-danger{% endif %}">
              {% if (i == morality and i < character.maxMorality) and is_granted('edit', character) %}
                <span class="text-strong" role="button" data-bs-toggle="modal" data-bs-target="#moralityIncreaseModal">{% include "_icon.html.twig" with {icon: 'up', class: 'accent', label: 'morality.up'|trans({}, 'character') } only %}</span>
              {% endif %}
              {% if charDerangement is not null %}
                <span role="button" class="{% if i >= morality %}warning{% else %}text-muted fst-italic{% endif %} text-strong" {% if charDerangement is not null %} role="button" data-bs-toggle="collapse" data-bs-target="#{{ "character-derangement-" ~ charDerangement.id }}" {% endif %}>
                  {{charDerangement}}
                  {% if charDerangement.details %}
                    ({{ charDerangement.details }})
                  {% endif %}
                </span>
              {% endif %}
              {% if (i == morality and i > 0) and is_granted('edit', character) %}
                <span class="text-strong" role="button" data-bs-toggle="modal" data-bs-target="#moralityDecreaseModal">{% include "_icon.html.twig" with {icon: 'down', class: 'warning', label: 'morality.down'|trans({}, 'character') } only %}</span>
              {% endif %}
            </div>
            <div class="col-1">
              <input type="checkbox" id="{{ morality ~ '-' ~ i }}" class="btn-check" autocomplete="off" {% if i == morality %} checked {% endif %} disabled>
              <label class="btn dot" for="{{ morality ~ '-' ~ i }}"></label>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
