{{ form_start(form, {'attr': {'data-controller': 'character--creation'}}) }}
  <div class="container block py-3">
    {{ include('character/edit/header.html.twig') }}
    {{ include('character/new/attributes.html.twig') }}
    {{ include('character/new/skills.html.twig') }}
    {{ include('character/new/specialties.html.twig') }}
    {{ include('character/sheet/advantages.html.twig') }}
    {{ include('character/sheet/merits.html.twig') }}
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
    </div>
  </div>
{{ form_end(form) }}
