{% extends "character/sheet/skill.html.twig" %}

{% trans_default_domain 'character' %}

{% block controller %}data-controller="dot"{% endblock %}

{% block data %}data-dot-base-value="{{ base }}" data-dot-min-value="{{ min }}"{% endblock %}

{% block input %}
  {{ form_row(attribute(form.skills, skill), {'attr': {'value': base, 'data-dot-target': 'input', 'data-character--creation-target': category ~ "Skill"}}) }}
{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check {{ 'dots-' ~ skill }}" id="{{ skill ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
  <label class="btn dot {% if value <= min %}dot-locked{% endif %}" for="{{ skill ~ '-' ~ value }}" 
    data-action="click->dot#activate click->character--creation#skillUpdate"
    data-dot-value-param="{{ value }}">
  </label>
{% endblock %}
