{% extends "vampire/sheet/potency.html.twig" %}

{% trans_default_domain 'character' %}

{% block feeding %}
<div>
    <div class="d-inline-block text-center">
      <div>
        {% if character.potency < 3 %}
          <div role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'vampire.feeding.animal'|trans }}">
            <i class="fa-solid fa-xs fa-paw"></i>
            <i class="fa-solid fa-person"></i>
            {% include "icon.html.twig" with {'icon' : 'vampire', 'hasTips': 0 } only %}
          </div>
        {% elseif character.potency < 7 %}
          <div role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'vampire.feeding.human'|trans }}">
            <i class="fa-solid fa-person"></i>
            {% include "icon.html.twig" with {'icon' : 'vampire', 'hasTips': 0 } only %}
          </div>
        {% else %}
          <div role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'vampire.feeding.vampire'|trans }}">
            <span class="ko">{% include "icon.html.twig" with {'icon' : 'vampire', 'hasTips': 0 } only %}</span>
          </div>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}

{% block dot %}
<input type="checkbox" class="btn-check" id="{{ trait ~ '-' ~ index }}" value="{{ index }}" autocomplete="off" {% if index <= current %}checked{% endif %} disabled>
<label class="btn dot" for="{{ trait ~ '-' ~ index }}"></label>
{% endblock %}
