{% trans_default_domain 'character' %}

{% extends "vampire/sheet/potency.html.twig" %}

{% block feeding %}
<div>
    <div class="d-inline-block text-center">
      <div>
        {% if character.potency < 3 %}
          <div style="width:14px;" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'vampire.feeding.animal'|trans }}">
            <i class="fa-solid fa-xs fa-paw"></i>
          </div>
        {% elseif character.potency < 7 %}
          <div style="width:14px;" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'vampire.feeding.human'|trans }}">
            <i class="fa-solid fa-person"></i>
          </div>
        {% else %}
          <div style="width:14px;" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'vampire.feeding.vampire'|trans }}">
            <i class="fa-solid fa-triangle-exclamation"></i>
          </div>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}

{% block dot %}
<input type="checkbox" class="btn-check" id="{{ trait ~ '-' ~ index }}" value="{{ index }}" autocomplete="off" {% if index <= current %}checked{% endif %} disabled>
<label class="btn dot" for="{{ trait ~ '-' ~ index }}"></label>
{% endblock %}

{% block vitae %}
{% set vitae = character.vitae %}
<div class="text-start ps-3">
  {% for index in 1..10 %}
  <span class="d-inline-block malus-box text-center text-sub">
    <div role="button" data-bs-toggle="tooltip" data-bs-placement="top" {% if index <= 2 %}title="{{ 'vampire.starved'|trans }}">-2{% elseif index <= 5 %}title="{{ 'vampire.hungry'|trans }}">-1{% else %}>&nbsp;
    {% endif %}
    </div>
  </span>
  {% endfor %}
</div>
<div class="text-start ps-3">
  {% for index in 1..character.maxVitae %}
    {% if index <= character.vitae %}
      {% set value = 1 %}
    {% else %}
      {% set value = 0 %}
    {% endif %}
    <svg class="trait-box" viewBox="0 0 100 100" role="button" data-controller="trait" data-trait-target="input" data-trait-id-value="{{ character.id }}" data-trait-type-value="vitae" data-trait-current-value="{{ value }}" data-action="click->trait#switch" class="text-center">
      <line class="trait-fill d-none on" x1="10" y1="90" x2="90" y2="10"/>
      <line class="trait-fill d-none on" x1="10" y1="10" x2="90" y2="90"/>
    </svg>
  {% endfor %}
</div>
{% endblock %}