{% trans_default_domain 'character' %}

<div class="col py-2">
  <div class="card devotion-card block">
    <div class="card-header">
      <h4>{{ devotion.name }}</h4>
    </div>
    <div class="card-body d-flex flex-column">
      <div class="card-text flex-grow-1">{{ devotion.short }}</div>
      {% if devotion.prerequisites %}
        <div class="d-flex flex-row justify-content-evenly">
          {% for prerequisite in devotion.prerequisites %}
            <div class="d-inline-block">{{ prerequisite.entity.name }} {{ prerequisite.value }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="card-footer">
      <div class="btn btn-primary w-100" data-bs-toggle="button" aria-pressed="true">
        {{ devotion.cost }} {% include "icon.html.twig" with {'icon': 'xp'} %}
      </div>
    </div>
  </div>
</div>