{% trans_default_domain 'vampire' %}

{% set powerPool = character.detailedDicePool(devotion.attributes, devotion.skills, devotion.disciplines) %}

<div class="col py-2">
  <div class="card devotion-card block">
    <div class="card-header">
      <span class="float-start">
        <span {% if devotion.attributes is empty and devotion.skills is empty %}class="d-hide"{% endif %}>{% include "_dicePool.html.twig" with {'pool' : powerPool, 'contested' : devotion.contestedText} %}</span>
      </span>
      <h4>{{ devotion.name }}{% if devotion.homebrewFor is not null %}{% include "_icon.html.twig" with {'icon' : 'homebrew', 'class': 'accent' } only %}{% endif %}</h4>
      <span class="float-end">{% if devotion.bloodline is not null %}<span class="accent">{{ devotion.bloodline.name }}</span>{% endif %}</span>
    </div>
    <div class="card-body d-flex flex-column">
      <div class="card-text flex-grow-1" data-bs-toggle="collapse" data-bs-target=".devotion-{{ devotion.id }}-text" type="button" aria-expanded="false" aria-controls="devotion-{{ devotion.id }}-text">
        {% block text %}
          <div class="devotion-{{ devotion.id }}-text show">
            <p>{{ devotion.short }}</p>
            <div class="w-100 text-center"><i class="fas fa-caret-down"></i></div>
          </div>
          <div class="devotion-{{ devotion.id }}-text collapse">
            {{ devotion.description|default("")|markdown_to_html }}
            <div class="w-100 text-center"><i class="fas fa-caret-up"></i></div>
          </div>
        {% endblock %}
      </div>
      {% block prerequisites %}{% endblock %}
      <div class="devotion-{{ devotion.id }}-text collapse text-end py-2">
        {% include "_source.html.twig" with {'element': devotion } only %}
      </div>
    </div>
    {% block input %}
    {% endblock %}
  </div>
</div>