{% trans_default_domain 'organization' %}

{% if isShown|default(false) == true %}
  {% set collapse = "" %}
{% else %}
  {% set collapse = "collapse" %}
{% endif %}

<div id="{{ organization.name }}" class="col-12" data-search-target="item" data-name="{{ organization.name }}">
  <div class="block position-relative">
  {% if is_granted('ROLE_ST') %}
    <a class="position-absolute end-0" href="{{ path('organization_edit', {id: organization.id, setting: 'human'}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
  {% endif %}
  <blockquote class="text-center mb-2 clan-card-header">
    <h1>{{ organization.name }}</h1>
  </blockquote>
  {% if organization.emblem is not null %}
    <img class="mx-auto d-block mw-100" src="{{ asset(organization.emblem, 'organizations_emblems') }}" alt="{{ organization.name}}" height="400"/>
  {% endif %}
  <div class="text-center mb-2 fst-italic">
    {% block bonus %}{% endblock %}
  </div>
  <div class="organization-{{ organization.id }} clan-card-body {{ collapse }} p-2" type="button" data-bs-toggle="{{ collapse   }}" data-bs-target=".organization-{{ organization.id }}" aria-expanded="false" aria-controls="{{ organization.id }}">
      <div class="text">{{ organization.description|default("")|markdown_to_html }}</div>
      <h2 class="text-stylized-alt">{{ "overview"|trans }}</h2>
      {{ organization.overview|default("")|markdown_to_html }}
      <h2 class="text-stylized-alt">{{ "members"|trans }}</h2>
      {{ organization.members|default("")|markdown_to_html }}
      <h2 class="text-stylized-alt">{{ "philosophy"|trans }}</h2>
      {{ organization.philosophy|default("")|markdown_to_html }}
      <h2 class="text-stylized-alt">{{ "observances"|trans }}</h2>
      {{ organization.observances|default("")|markdown_to_html }}
      <h2 class="text-stylized-alt">{{ "titles"|trans }}</h2>
      {{ organization.titles|default("")|markdown_to_html }}
    </div>
    {% if isShown|default(false) != true %}
      <div id="expand_btn" class="position-absolute top-100 start-50 translate-middle" data-bs-toggle="{{ collapse  }}" data-bs-target=".organization-{{ organization.id }}" aria-expanded="false" aria-controls="{{ organization.id }}">
        <span class="fa-layers fa-fw">
          <i class="fa-solid fa-circle"></i>
          <span class="ok organization-{{ organization.id }} {{ collapse  }} show"><i class="fa-solid fa-lg fa-circle-chevron-down"></i></span>
          <span class="ok organization-{{ organization.id }} {{ collapse  }}"><i class="fa-solid fa-lg fa-circle-chevron-up"></i></span>
        </span>
      </div>
    {% endif %}
    <div class="organization-{{ organization.id }} {{ collapse  }} show" type="button" data-bs-toggle="{{ collapse   }}" data-bs-target=".organization-{{ organization.id }}" aria-expanded="false" aria-controls="{{ organization.id }}">
      <div class="fluff organization-card-footer">{{ organization.short|default("")|markdown_to_html }}
        {% include "_source_block.html.twig" with {element: organization, class: 'text-end fst-italic' } only %}
      </div>
    </div>
  </div>
</div>