
<div id="{{ skill.identifier }}" class="col-12 col-lg-4 block block-wiki">
  {% if is_granted('ROLE_ST') %}
    <a class="float-end" href="{{ path(entity ~ '_edit', {'id': skill.id}) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} only %}</a>
  {% endif %}
  <h3>{{ skill.name }}</h3>
  <p>{{ skill.description }}</p>
  <p class="fluff">{{ skill.fluff }}</p>
</div>
