{% extends "base.html.twig" %}

{% trans_default_domain 'skill' %}

{% set footer = false %}

{% block title %}
  {{ "label.multi"|trans }}
{% endblock %}

{% block bodyController %}
  {{parent() }}
{% endblock %}

{% block body %}
  

  {% include "_title.html.twig" with {title: "label.multi" , domain: "skill", icon: 'skill'} %}

  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>

    <div class="row g-2 pb-2">
      {% set category = skills|first.category %}
      <h1>
        {% include "_icon.html.twig" with {icon: category } only %}
        {{ "category.#{category}"|trans({}, "app") }}
      </h1>
      {% for skill in skills %}
        {% if skill.category != category %}
          {% set category = skill.category %}
          <h1>
            {% include "_icon.html.twig" with {icon: category } only %}
            {{ "category.#{category}"|trans({}, "app") }}
          </h1>
        {% endif %}
        <div class="col-6 col-md-3">
          {% include "skill/_card.html.twig" %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
