{% if prerequisite.entity is not null %}
  {% if prerequisite.type == "App\\Entity\\Devotion" %}
    {% include "_icon.html.twig" with {icon: 'devotion'} %}
    <a href="{{ path('vampire_devotion_show', {'id': prerequisite.entity.id }) }}" class="text-strong accent">{{ prerequisite.entity.name }}</a>
  {% elseif prerequisite.type == 'App\\Entity\\Discipline' %}
    {% include "_icon.html.twig" with {icon: 'discipline'} %}
    <a href="{{ path('discipline_show', {'id': prerequisite.entityId}) }}">
      {{ prerequisite.entity.name }}
    </a>
  {% else %}
    <span class="text-strong accent">{{ prerequisite.entity.name }}</span>
  {% endif %}
{% else %}
  {% if prerequisite.type == "special" %}
    {{ prerequisite.special }}
  {% else %}
    {{ prerequisite.type }}
  {% endif %}
{% endif %}
{% include "merit/_prerequisite_value.html.twig" %}