{% extends 'vampire/form.html.twig' %}

{% trans_default_domain 'discipline' %}

{% block title %}{{ "devotion.new"|trans }}{% endblock %}
{% block header %}{{ "devotion.new"|trans }}{% endblock %}

{% block form %}
{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.bloodline) }}
  {{ form_row(form.source) }}
  {{ form_row(form.short) }}
  {{ form_row(form.description) }}
  {{ form_row(form.usePotency) }}
  {{ form_row(form.contestedText) }}
  {{ form_row(form.cost) }}
  {% include "forms/_prerequisite_field.html.twig" %}
  <h5>Roll</h5>
  {{ form_row(form.attributes) }}
  {{ form_row(form.skills) }}
  {{ form_row(form.disciplines) }}
  <div class="text-center fixed-bottom">
    <button class="btn btn-primary btn-lg w-100 rounded-0 rounded-top" type="submit">
      {% include "_icon.html.twig" with {icon: 'save'} %}
      {{ ('action.save')|trans({}, 'app') }}
    </button>
  </div>
{{ form_end(form) }}
{% endblock %}
