{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block title %}Wiki{% endblock %}

{% block body %}
  {% include "back.html.twig" with {'link': path('wiki_index')} %}
  <div class="container">
    <h1>{{ (entity ~ "s.label")|trans }}</h1>
    <div class="row mt-5 mb-2">
      {% if is_granted('ROLE_ST') %}
        <a class="btn btn-primary w-100" href="{{ path('vampire_devotion_new') }}">{% include "icon.html.twig" with {'icon': 'new', 'hasTips': 0} %} {{ 'devotion.new'|trans }}</a>
      {% endif %}
    </div>
    {% for devotion in elements %}
      <div class="row block p-2">
        <div class="col">
          {{ devotion.name }}
        </div>
        <div class="col">
          {{ devotion.short }}
        </div>
        <div class="col">
          {{ devotion.cost }} xp
        </div>
        <div class="col">
          <a class="btn btn-primary" href="{{ path('vampire_devotion_show', {'id': devotion.id }) }}">{% include "icon.html.twig" with {'icon': 'show', 'hasTips': 0} %}</a>
          <a class="btn btn-primary" href="{{ path('vampire_devotion_edit', {'id': devotion.id }) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} %}</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}