{% extends "base.html.twig" %}

{% trans_default_domain 'discipline' %}

{% set setting = "vampire" %}
{% set footer = true %}

{% block title %}
  {{ "devotion.label.multi"|trans }}
{% endblock %}

{% block bodyData %}
  data-controller="search" data-search-type-value="devotion"
{% endblock %}

{% block body %}
  {% include "_back.html.twig" %}
  <div class="container block py-3">

    <div class="row mb-3">
      <div class="col-12">
        <div class="p-2">
          <h1 class="user-select-none">
            {% include "_icon.html.twig" with {icon : entity, 'class' : "icon-lg" } only %}
            {{ "devotion.label.multi"|trans }}
          </h1>
          <div class="col-auto">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="true" aria-controls="collapseDescription">
              <h4 class="d-inline-block text-start">{{ "description"|trans({}, 'wiki') }}</h4>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row mb-3">
      <div id="collapseDescription" class="collapse col">
        <div class="block block-wiki p-2">
          {{ description.value|default("")|markdown_to_html }}
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row g-0 block text-center sticky-top d-none d-md-flex" style="top:65px;">
        <div class="col-12 col-md col-lg-3">
          <h4>{{ "name"|trans({}, 'app') }}</h4>
        </div>
        <div class="col-12 col-md col-lg-4">
          <h4>{{ "effect"|trans }}</h4>
        </div>
        <div class="col col-lg-3">
          <h4>{{ "devotion.prerequisite"|trans }}</h4>
        </div>
        <div class="col col-lg-1">
          <h4>{{ "cost"|trans({}, 'app') }}</h4>
        </div>
        <div class="col col-lg-1">
          <h4>{{ "action.label.multi"|trans({}, 'app') }}</h4>
        </div>
      </div>

      {% for devotion in devotions|sort((a, b) => a.name|lower <=> b.name|lower) %}
        <div class="row g-0 text-center py-2 bdr-b" data-search-target="item" data-name="{{ devotion.name }}" data-discipline="{{ devotion.prerequisiteDisciplines }}" data-clan="{{ devotion.bloodline }}">
          <div class="col-12 col-md col-lg-3">
            <h4 class="text-strong">{{ devotion.name }}
              {% if devotion.homebrewFor is not null %}
                {% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent' } only %}
              {% endif %}
            </h4>
          </div>
          <div class="col-12 col-md col-lg-4 pb-2 pb-md-0">
            <span>{{ devotion.short }}</span>
          </div>
          <div class="col col-lg-3">
            {% for prerequisite in devotion.prerequisites %}
              {% include "_prerequisite.html.twig" with { group: group|default(null) } %}
              {% set group = prerequisite.choiceGroup %}
            {% endfor %}
          </div>
          <div class="col col-lg-1">
            <span class="text-strong">{{ devotion.cost }}
              xp</span>
          </div>
          <div class="col col-lg-1 bdr-s">
            <a class="btn btn-primary" href="{{ path('vampire_devotion_show', {'id': devotion.id }) }}">{% include "_icon.html.twig" with {icon: 'show'} %}</a>
            {% if is_granted('ROLE_ST') %}
              <a class="btn btn-primary" href="{{ path('vampire_devotion_edit', {'id': devotion.id }) }}">{% include "_icon.html.twig" with {icon: 'edit'} %}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon">
      {% include "_icon.html.twig" with  {icon: 'search'} %}
    </span>
    <input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
    <div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
      <span class="fa-layers fa-fw">
        <i class="fa-solid fa-circle"></i>
        <span class="ok footer-collapse collapse"><i class="fa-solid fa-lg fa-circle-chevron-down"></i></span>
        <span class="ok footer-collapse collapse show "><i class="fa-solid fa-lg fa-circle-chevron-up"></i></span>
      </span>
    </div>
    {% if is_granted('ROLE_ST') %}
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('vampire_devotion_new') }}">
          <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'add' } only %}</span>
          {% include "_icon.html.twig" with {icon : 'devotion' } only %}
        </a>
      </div>
    {% endif %}
  </div>
  <div
    class="col-auto py-3 footer-collapse collapse">
    {% for key, elements in search %}
            {% if key != 'parent' %}
              <h5 class="pe-none">{{ ("label.single")|trans([], key) }}</h5>
            {% else %}
              <h5 class="pe-none">{{ ('label.single')|trans([], key) }}</h5>
            {% endif %}
            {% for element in elements %}
              <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
                <span class="d-none d-md-inline">{{ element }}</span>
              </a>
            {% endfor %}
          {% endfor %}
  </div>
{% endblock %}
