{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% set setting = "vampire" %}
{% set footer = true %}

{% block title %}
  {{ "devotions.label"|trans }}
{% endblock %}

{% block bodyData %}
  data-controller="search" data-search-type-value="devotion"
{% endblock %}

{% block body %}
  {% include "_back.html.twig" with {'link': path('wiki_index')} %}
  <div class="container block py-3">

    <div class="row mb-3">
      <div class="col-12">
        <div class="p-2">
          <h1 class="user-select-none">
            {% include "_icon.html.twig" with {'icon' : entity, 'hasTips': 0, 'class' : "icon-xl" } only %}
            {{ "devotions.label"|trans }}
          </h1>
          <div class="col-auto">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="true" aria-controls="collapseDescription">
              <h4 class="d-inline-block text-start">{{ "description"|trans({}, 'wiki') }}</h4>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row mb-3">
      <div id="collapseDescription" class="collapse col">
        <div class="block block-wiki p-2">
          {{ description.value|default("")|markdown_to_html }}
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row g-0 block text-center sticky-top d-none d-md-flex" style="top:65px;">
        <div class="col-12 col-md col-lg-3">
          <h4>{{ "name"|trans({}, 'app') }}</h4>
        </div>
        <div class="col-12 col-md col-lg-4">
          <h4>{{ "effect"|trans({}, 'app') }}</h4>
        </div>
        <div class="col col-lg-2">
          <h4>{{ "prerequisite.label"|trans({}, 'app') }}</h4>
        </div>
        <div class="col col-lg-1">
          <h4>{{ "cost"|trans({}, 'app') }}</h4>
        </div>
        <div class="col col-lg-2">
          <h4>{{ "actions"|trans({}, 'app') }}</h4>
        </div>
      </div>

      {% for devotion in devotions|sort((a, b) => a.name|lower <=> b.name|lower) %}
        <div class="row g-0 text-center py-2 bdr-b" data-search-target="item" data-name="{{ devotion.name }}">
          <div class="col-12 col-md col-lg-3">
            <h4 class="text-strong">{{ devotion.name }}
              {% if devotion.homebrewFor is not null %}
                {% include "_icon.html.twig" with {'icon' : 'homebrew', 'class': 'accent' } only %}
              {% endif %}
            </h4>
          </div>
          <div class="col-12 col-md col-lg-4 pb-2 pb-md-0">
            <span>{{ devotion.short }}</span>
          </div>
          <div class="col col-lg-2">
            {% for prerequisite in devotion.prerequisites %}
              {% if prerequisite.value != 0 %}
                {{ prerequisite.entity.name|default("") }}
                {{ prerequisite.value }}
              {% else %}
                <span class="strong">{{ prerequisite.entity.name|default("") }}</span>
              {% endif %}
            {% endfor %}
          </div>
          <div class="col col-lg-1">
            <span class="text-strong">{{ devotion.cost }}
              xp</span>
          </div>
          <div class="col col-lg-2 bdr-s">
            <a class="btn btn-primary" href="{{ path('vampire_devotion_show', {'id': devotion.id }) }}">{% include "_icon.html.twig" with {'icon': 'show', 'hasTips': 0} %}</a>
            {% if is_granted('ROLE_ST') %}
              <a class="btn btn-primary" href="{{ path('vampire_devotion_edit', {'id': devotion.id }) }}">{% include "_icon.html.twig" with {'icon': 'edit', 'hasTips': 0} %}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon">
      <i class="fa-solid fa-magnifying-glass fa-fw"></i>
    </span>
    <input
    class="search-field" type="text" data-search-target="query" data-action="search#getResults">
    {# <div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
          <span class="fa-layers fa-fw">
            <i class="fa-solid fa-circle"></i>
            <span class="ok footer-collapse collapse"><i class="fa-solid fa-lg fa-circle-chevron-down"></i></span>
            <span class="ok footer-collapse collapse show "><i class="fa-solid fa-lg fa-circle-chevron-up"></i></span>
          </span>
        </div> #}
    {% if is_granted('ROLE_ST') %}
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('vampire_devotion_new') }}">
          <span class="d-none d-md-inline">{% include "_icon.html.twig" with {'icon' : 'add', 'hasTips': 0 } only %}</span>
          {% include "_icon.html.twig" with {'icon' : 'devotion', 'hasTips': 0 } only %}
        </a>
      </div>
    {% endif %}
  </div>
  <div
    class="col-auto py-3 footer-collapse collapse">{# {% for key, devotions in search %}
            {% if key != 'parent' %}
              <h5 class="pe-none">{{ (key ~ ".label")|trans }}</h5>
            {% else %}
              <h5 class="pe-none">{{ ('clan.parent.label')|trans }}</h5>
            {% endif %}
            {% for element in devotions %}
              <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
                <span class="d-none d-md-inline">{% if key != 'parent' %}{{ (key ~ "." ~ element)|trans }}{% else %}{{ element }}{% endif %}</span>
                {% include "_icon.html.twig" with {'icon' : element, 'hasTips': 0 } only %}
              </a>
            {% endfor %}
          {% endfor %} #}
  </div>
{% endblock %}
