{% extends "base.html.twig" %}

{% trans_default_domain 'discipline' %}

{% set setting = "vampire" %}
{% set footer = true %}
{% set hasExtraContent = true %}

{% block title %}
  {{ "devotion.label.multi"|trans }}
{% endblock %}

{% block bodyController %}
  {{parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="devotion"
{% endblock %}

{% block body %}
  {% if chronicle|default(false) == false %}
    {% include "_back.html.twig" %}
  {% else %}
    {% include "_back.html.twig" with {link: path('homebrew_index', {id: chronicle})} %}
  {% endif %}

  {% include "_title.html.twig" with {icon: "devotion", title: "devotion.label.multi", domain: "discipline"} %}

  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>
    <div class="row g-2 pb-2">
      {% for devotion in devotions|sort((a, b) => a.name|lower <=> b.name|lower) %}
        {% include "vampire/devotion/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon">
      {% include "_icon.html.twig" with  {icon: 'search'} %}
    </span>
    <input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
    {% if is_granted('ROLE_ST') %}
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('vampire_devotion_new') }}">
          <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'add' } only %}</span>
          {% include "_icon.html.twig" with {icon : 'devotion' } only %}
        </a>
      </div>
    {% endif %}
  </div>
  <div
    class="col-auto py-3 footer-collapse collapse">
    {% for key, elements in search %}
            {% if key != 'parent' %}
              <h5 class="pe-none">{{ ("label.single")|trans([], key) }}</h5>
            {% else %}
              <h5 class="pe-none">{{ ('label.single')|trans([], key) }}</h5>
            {% endif %}
            {% for element in elements %}
              <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
                <span class="d-none d-md-inline">{{ element }}</span>
              </a>
            {% endfor %}
          {% endfor %}
  </div>
{% endblock %}
