{% extends 'vampire/form.html.twig' %}

{% trans_default_domain 'vampire' %}

{% block title %}{{ "devotion.new"|trans }}{% endblock %}
{% block header %}{{ "devotion.new"|trans }}{% endblock %}

{% block form %}

{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.bloodline) }}
  {{ form_row(form.book) }}
  {{ form_row(form.page) }}
  {{ form_row(form.short) }}
  {{ form_row(form.description) }}
  {{ form_row(form.contestedText) }}
  {{ form_row(form.cost) }}
  {% include "forms/_prerequisite_field.html.twig" %}
  <h5>Roll</h5>
  {{ form_row(form.attributes) }}
  {{ form_row(form.skills) }}
  {{ form_row(form.disciplines) }}
  {{ form_row(form.homebrewFor) }}
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <button class="btn btn-primary w-100">
        {{ ("action." ~ action|default('save'))|trans({}, 'app') }}
        {% include "_icon.html.twig" with {'icon' : action} only %}
      </button>
    </div>
  </div>
{{ form_end(form) }}
{% endblock %}
