{% extends 'vampire/form.html.twig' %}

{% trans_default_domain 'vampire' %}

{% block title %}{{ "devotion.new"|trans }}{% endblock %}
{% block header %}{{ "devotion.new"|trans }}{% endblock %}

{% block form %}

{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.homebrewFor) }}
  {{ form_row(form.short) }}
  {{ form_row(form.cost) }}
  {{ form_row(form.description) }}
  <div {{ stimulus_controller('form-collection') }}
    data-form-collection-index-value="{{ form.prerequisites|length > 0 ? form.prerequisites|last.vars.name + 1 : 0 }}"
    data-form-collection-prototype-value="{{ form_widget(form.prerequisites.vars.prototype)|e('html_attr') }}"
  >
  <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
    {% for prerequisite in form.prerequisites %}
      {{ form_row(prerequisite)}}
    {% endfor %}
  </ul>
  <button type="button" class="btn btn-primary btn-sm mb-1" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Add prerequisite</button>
  {{ form_row(form.book) }}
  {{ form_row(form.page) }}
  <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}