{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block title %}{{ devotion.name }}{% endblock %}

{% block body %}
<div class="container block py-3 mt-5">
  <h1 class="pb-4">{{ devotion.name }}<a href="{{ path('vampire_devotion_edit', {'id': devotion.id }) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} %}</a></h1>
    {% if devotion.bloodline %}
    <p class="text-center fs-5 accent">
      {{ "clan.bloodline.devotion"|trans({'bloodline': devotion.bloodline.name}) }}
    </p>
    {% endif %}
    <p class="text-center fs-5">
      {# {% include "icon.html.twig" with {'icon': 'xp', 'hasTips': 0} %} #}
      {{ devotion.cost }} {{ "xp.label"|trans([], 'character') }}
    </p>
  <div class="row">
    <div class="col">
      {{ devotion.description|markdown_to_html }}
    </div>
  </div>
  <div class="row justify-content-center">
    <h2>{{ "prerequisites"|trans([], 'app') }}</h2>
    {% for prerequisite in devotion.prerequisites %}
      <div class="col-4 text-center text-bold fs-5">
        {% if prerequisite.value != 0 %}
          {{ prerequisite.entity.name }}
          <span class="strong">{{ prerequisite.value }}</span>
        {% else %}
          <span class="strong">{{ prerequisite.entity.name }}</span>
        {% endif %}
        
      </div>
    {% endfor %}
  </div>
</div>

{% include "back.html.twig" %}
{% endblock %}