{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% set setting = "vampire" %}

{% block title %}
  {{ devotion.name }}
{% endblock %}

{% block body %}
  <div class="container block py-3 mt-5">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('vampire_devotion_edit', {'id': devotion.id }) }}">{% include "_icon.html.twig" with {icon: 'edit'} %}</a>
    {% endif %}
    <h1 class="pb-4 user-select-none">{{ devotion.name }}
      {% if devotion.homebrewFor is not null %}
        {% include "_icon.html.twig" with {'icon' : 'homebrew', 'class': 'accent icon-lg' } only %}
      {% endif %}
    </h1>
    {% if devotion.bloodline %}
      <p class="text-center fs-5 text-strong accent">
        {{ "bloodline.devotion.single"|trans({'bloodline': devotion.bloodline.name}, 'clan') }}
      </p>
    {% endif %}
    <div
      class="row justify-content-center">
      {% for prerequisite in devotion.prerequisites %}
        <div class="col-4 text-center text-bold fs-5">
          {% if prerequisite.value != 0 %}
            <span class="text-strong">{{ prerequisite.entity.name }}</span>
            <span class="text-strong strong">{{ prerequisite.value }}</span>
          {% else %}
            {% if prerequisite.type == "App\\Entity\\Devotion" %}
              <a href="{{ path('vampire_devotion_show', {'id': prerequisite.entity.id }) }}" class="text-strong accent">{{ prerequisite.entity.name }}</a>
            {% else %}
              <span class="text-strong accent">{{ prerequisite.entity.name }}</span>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <p
      class="text-center fs-5">
      <span class="text-strong">{{ devotion.cost }}
        {{ "xp.label"|trans([], 'character') }}</span>
    </p>
    <div class="row justify-content-center">
      <div class="col col-lg-6 block">
        {{ devotion.description|default('???')|markdown_to_html }}
      </div>
    </div>
    <div class="row justify-content-end pe-2 mt-2">
        {% include "_source_block.html.twig" with { 'element': devotion, class: 'text-strong text-end' } only %}
    </div>
  </div>

  {% include "_back.html.twig" with {'link': path('vampire_devotion_index')} %} %}
{% endblock %}
