{% trans_default_domain 'ghoul' %}

{% extends "character_sheet/header/show.html.twig" %}

{% block name %}
<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1 class="py-2 text-stylized">
        {% include "_icon.html.twig" with {icon: 'type/' ~ character.type, class: 'icon-lg' } only %}
        <span class="text-strong">{{ character.name }}</span>
      </h1>
      <h2>
        {% if character.player is not null and app.user != character.player %}
          ({{ character.player }})
        {% elseif character.isPremade == true %}
          {% include "_icon.html.twig" with {icon: 'premade', class: 'ms-5', label: "premade.label.single"|trans({}, 'character')} %}
        {% endif %}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block leftCol %}
  <div class="row">
    <div class="col-12">
        {% if ghoulCharacter.family|default(null) %}
        <a href="{{ path("clan_show", {'id': ghoulCharacter.family.id}) }}">
            <span class="icon link-icon"><img src="{{ asset(ghoulCharacter.family.emblem, 'ghoul_family_emblems') }}"></span>
            {{ ghoulCharacter.family.name }}
        </a>
        {% endif %}
    </div>
    <div class="col-12">
        {{ "regent.info"|trans({'regent': ghoulCharacter.regent|default("?"), 'clan': ghoulCharacter.clan.name }) }}
    </div>
    <div class="col-12">
      {% block age %}{{ parent() }}{% endblock %}
    </div>
    <div class="col-12">
      {% block virtue %}{{ parent() }}{% endblock %}
    </div>
    <div class="col-12">
      {% block vice %}{{ parent() }}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block organization %}
  {% if ghoulCharacter.covenant %}
    {{ "covenant.label.single"|trans([], 'organization') }}:
    <a href="{{ path("organization_show", {'id': ghoulCharacter.covenant.id}) }}">
      {{ ghoulCharacter.covenant }}
      <span class="icon link-icon"><img src="{{ asset(ghoulCharacter.covenant.emblem, 'organizations_emblems') }}"></span>
    </a>
  {% endif %}
{% endblock %}