{% trans_default_domain 'ghoul' %}

{% extends "character_sheet/header/show.html.twig" %}

{% block leftCol %}
  <div class="row">
    <div class="col-12">
        {% if ghoulCharacter.family|default(null) %}
        <a href="{{ path("ghoul_family_show", {'id': ghoulCharacter.family.id}) }}">
            {% if ghoulCharacter.family.emblem %}
              <span class="icon link-icon"><img src="{{ asset(ghoulCharacter.family.emblem, 'ghoul_family_emblems') }}"></span>
            {% else %}
              {% include "_icon.html.twig" with {icon: 'ghoul_family', class: 'icon-lg' } only %}
            {% endif %}
            {{ ghoulCharacter.family.name }}
        </a>
        {% endif %}
    </div>
    <div class="col-12">
        {{ "regent.info"|trans({'regent': ghoulCharacter.regent|default("?"), 'clan': ghoulCharacter.clan.name }) }}
    </div>
    <div class="col-12">
      {% block age %}{{ parent() }}{% endblock %}
    </div>
    <div class="col-12">
      {% block virtue %}{{ parent() }}{% endblock %}
    </div>
    <div class="col-12">
      {% block vice %}{{ parent() }}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block organization %}
  {% if ghoulCharacter.covenant %}
    {{ "covenant.label.single"|trans([], 'organization') }}:
    <a href="{{ path("organization_show", {'id': ghoulCharacter.covenant.id}) }}">
      {{ ghoulCharacter.covenant }}
      <span class="icon link-icon"><img src="{{ asset(ghoulCharacter.covenant.emblem, 'organizations_emblems') }}"></span>
    </a>
  {% endif %}
{% endblock %}