{% trans_default_domain domain|default('icon') %}

<span class="icon {{ class|default("")}}"{% if label is defined %} data-bs-toggle="tooltip" data-bs-placement="top" title="{{ label }}"{% endif %} data-icon-ref="{{ icon }}">
  {# health #}
  {% if icon == 'health' %}
    {% if setting == 'vampire' %}
      {% set icon = 'health-vampire' %}
    {% else %}
      {% set icon = 'health-normal' %}
    {% endif %}
  {# morality #}
  {% elseif icon == 'morality' %}
    {% if setting|default('human') == 'vampire' %}
      {% set icon = 'heart-wings' %}
    {% else %}
      {% set icon = 'heart-wings' %}
    {% endif %}
  {# minions #}
  {% elseif icon == 'ghoul_family' or icon == 'npc' or icon == 'group' %}
    {% set icon = 'minions' %}
  {# skills #}
  {% elseif icon == 'general' or icon == 'skill' or icon == "traits" %}
    {% set icon = 'skills' %}
  {# id-card #}
  {% elseif icon == 'description' or icon == 'infos' %}
    {% set icon = 'id-card' %}
  {# human #}
  {% elseif icon == 'mortal' %}
    {% set icon = 'person' %}
  {# portal #}
  {% elseif icon == 'alternate_setting' %}
    {% set icon = 'portal' %}
  {% endif %}


  {# {{ source('@icons/' ~ icon ~ '.svg') }} #}
  {% if source('@icons/' ~ icon|default('missing') ~ '.svg', ignore_missing = true) == null %}
    <span class="warning text-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ icon }}">{{ source('@icons/missing.svg', ignore_missing = true) }}</span>
  {% else %}
    {{ source('@icons/' ~ icon|default('missing') ~ '.svg', ignore_missing = true) }}
  {% endif %}
</span>