{% trans_default_domain 'app' %}

{% if short is not defined %}
  {% set short = false %}
{% endif %}

{% if tip is not defined %}
  {% set tip = false %}
{% endif %}

<span class="">
  {% if element.book is not null %}
    {# <a href="{{path('book_show', {'id': element.book.id }) }}"> #}
    {% if short == true %}
      <span {% if tip == true %}data-bs-toggle="tooltip" data-bs-placement="top" title="{{ element.book.name }}"{% endif %}>
        {{ "src"|trans({'%book%': element.book.short, '%page%': element.page|default("?")}, "app") }}
      </span>
    {% else %}
      {{ "source"|trans({'%book%': element.book.name, '%page%': element.page|default("?")}, "app") }}
    {% endif %}
    {# </a> #}
  {% elseif element.homebrewFor is not null %}
    <a href="{{path('chronicle_show', {'id': element.homebrewFor.id }) }}">{{ element.homebrewFor.name }}</a>
  {% else %}
    <span class="warning">{{ "source.not.found"|trans }}</span>
  {% endif %}
</span>
