{% trans_default_domain 'book' %}

{% if element.book is not null %}
  {% if isShort|default(false) == true %}
    <span {% if hasTooltip|default(false) == true %}data-bs-toggle="tooltip" data-bs-placement="top" title="{{ element.book.name }}"{% endif %}>
      {{ "source.short"|trans({'%book%': element.book.short, '%page%': element.page|default("?")}) }}
    </span>
  {% else %}
    <span>{{ "source.long"|trans({'%book%': element.book.name, '%page%': element.page|default("?")}) }}</span>
  {% endif %}
{% elseif element.homebrewFor|default(null) is not null %}
  {% if hasLink|default(true) == true %}
    <a href="{{path('chronicle_show', {'id': element.homebrewFor.id }) }}">{{ element.homebrewFor.name }}</a>
  {% else %}
    <span>{{ element.homebrewFor.name }}</span>
  {% endif %}
{% else %}
  <span class="warning">{{ "source.not.found"|trans }}</span>
{% endif %}
