{% trans_default_domain domain|default('app') %}

<li class="nav-item col text-center g-0">
  <a id="{{ name }}Tab" type="button" class="tab nav-link h-100 user-select-none p-0" data-tabs-target="tab" data-action="click->tabs#show" data-tabs-target-param="{{ name }}">
    <div class="pe-none d-flex justify-content-center text-strong p-2">
        {% if img is defined and img is not null and imgType is defined %}
          <img class="nav-icon" src="{{ asset(img, imgType) }}"/>
        {% elseif (icon is defined and icon is not same as ('')) or icon is not defined %}
          {% include "_icon.html.twig" with {icon: icon|default(name)} only %}
        {% endif %}
      {% if img is not defined and (icon is defined and icon is same as ('')) %}
        {# we want to keep some content in the tab #}
        <span class="flex-grow-1 d-inline-block text-truncate px-1">{{ label|default(name) }}</span>
      {% else %}
        {# we mask the text on small display #}
        <span class="flex-grow-1 d-none d-md-inline-block text-truncate px-1">{{ label|default(name) }}</span>
      {% endif %}
    </div>
  </a>
</li>