    <div class="toast-container fixed-bottom pe-3 pb-3">
      {# <div class="toast toast-{{ label|default('notice') }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
          <img src={{ asset('rabbit_move.gif', 'images') }} height="20" class="rounded me-2" alt="...">
          <strong class="me-auto fw-bold">{{ label|default('label')|trans }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {% if message|default(false) is iterable %}
            {{ message[0]|trans(message[1]) }}
          {% else %}
            {{ message|default('message')|trans }}
          {% endif %}
        </div>
      </div>
      <div class="toast toast-{{ label|default('notice') }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
          <img src={{ asset('rabbit_move.gif', 'images') }} height="20" class="rounded me-2" alt="...">
          <strong class="me-auto fw-bold">{{ label|default('label')|trans }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {% if message|default(false) is iterable %}
            {{ message[0]|trans(message[1]) }}
          {% else %}
            {{ message|default('message')|trans }}
          {% endif %}
        </div>
      </div> #}
      {% for label, messages in app.flashes(['notice', 'success','warning', 'error']) %}
        {% for message in messages %}
          <div class="toast toast-{{ label }}" role="alert" aria-live="assertive" aria-atomic="true" {#data-bs-autohide="false"#}>
            <div class="toast-header">
              <img src={{ asset('rabbit_move.gif', 'images') }} height="20" class="rounded me-2" alt="...">
              <strong class="me-auto fw-bold">{{ label|trans }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              {% if message is iterable %}
                {{ message[0]|trans(message[1]) }}
              {% else %}
                {{ message|trans }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>