<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}Billie Archive{% endblock %}
    </title>
    <link rel="icon" href="{{ asset('rabbit_move_slow.gif?v=' ~ date().timestamp, 'images') }}">
    {% if setting is not defined %}
      {% set setting = "human" %}
    {% endif %}

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
        {% if setting == "vampire" %}
          {{ importmap('vampire') }}
        {% elseif setting == "mage" %}
          {{ importmap('mage') }}
        {# {% else %}
          {{ importmap('human') }} #}
        {% endif %}
      {% endblock %}
    {% endblock %}
  </head>
  <body data-controller="{% block bodyController %}content{% endblock %}"{% block bodyData %}class="position-relative"{% endblock %}>
    {% include "modals/content.html.twig" %}
    {% if app.user %}
      {% include "header.html.twig" %}
    {% endif %}
    {% include "_toast.html.twig" %}

    <div id="shortcuts" class="position-fixed sticky-bottom end-0 d-flex flex-column" style="bottom:3em">
      {% block shortcuts %}
        {% include "_back.html.twig" %}
        {% include "_top.html.twig" with {} only %}
      {% endblock %}
    </div>

    {% block body %}{% endblock %}

    {% if footer|default(false) %}
      {% block footer %}
        <footer class="footer w-100">
          <div class="container">
          <div class="row mb-0">
            {% if hasExtraContent|default(false) %}
              <div class="col-12">
                <div id="expand_btn" class="w-100 collapsed" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
                  <div class="btn btn-primary position-absolute">
                    <span class="footer-collapse collapse">
                      {# ▼ #}
                      ▾
                    </span>
                    <span class="footer-collapse show ">
                      {# ▲ #}
                      ▴
                    </span>
                  </div>
                </div>
              </div>
            {% endif %}
            {% block footerContent %}
              <div class="col-12 d-flex align-items-center position-relative justify-content-center">
                <span class="search-icon">
                  {% include "_icon.html.twig" with  {icon: 'search'} %}
                </span>
                <input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
              </div>
            {% endblock %}
          </div>
          </div>
        </footer>
      {% endblock %}
    {% endif %}

    <div id="rabbitBurrow">
      <div id="rabbit" class="rabbit"></div>
    </div>
  </body>
</html>
