<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}Billie Archive
      {% endblock %}
    </title>
    <link rel="icon" href="{{ asset('rabbit_move_slow.gif', 'images') }}">
    {% if setting is not defined %}
      {% set setting = "human" %}
    {% endif %}
    {% block stylesheets %}
      {{ encore_entry_link_tags(setting) }}
      {{ encore_entry_link_tags('main') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags(setting) }}
    {{ encore_entry_script_tags('main') }}
    {% endblock %}
  </head>
  <body {% block bodyData %}class="position-relative"{% endblock %}>
    {% if app.user %}
      {% include "header.html.twig" %}
    {% endif %}
    <div class="toast-container top-0 end-0 p-3">
      {% for label, messages in app.flashes(['notice', 'success','warning', 'error']) %}
        {% for message in messages %}
          <div class="toast toast-{{ label }}" role="alert" aria-live="assertive" aria-atomic="true" {#data-bs-autohide="false"#}>
            <div class="toast-header">
              <img src={{ asset('rabbit_move.gif', 'images') }} height="20" class="rounded me-2" alt="...">
              <strong class="me-auto fw-bold">{{ label|trans }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              {% if message is iterable %}
                {{ message[0]|trans(message[1]) }}
              {% else %}
                {{ message|trans }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    {% block body %}{% endblock %}
    {% if footer|default(false) == true %}
      {% block footer %}
        <footer class="container footer translate-middle-x">
          <div class="row mb-0">
            {% block footerContent %}{% endblock %}
          </div>
        </footer>
      {% endblock %}
    {% endif %}
    <div id="rabbitBurrow">
      <div id="rabbit" class="rabbit"></div>
    </div>
  </body>
</html>
