<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}Billie Archive{% endblock %}
    </title>
    <link rel="icon" href="{{ asset('rabbit_move_slow.gif?v=' ~ date().timestamp, 'images') }}">
    {% if setting is not defined %}
      {% set setting = "human" %}
    {% endif %}
    {% block stylesheets %}
      {{ encore_entry_link_tags(setting) }}
      {{ encore_entry_link_tags('main') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags(setting) }}
      {{ encore_entry_script_tags('main') }}
    {% endblock %}
  </head>
  <body data-controller="{% block bodyController %}content{% endblock %}"{% block bodyData %}class="position-relative"{% endblock %}>
    {% include "modals/content.html.twig" %}
    {% if app.user %}
      {% include "header.html.twig" %}
    {% endif %}
    <div class="toast-container fixed-bottom pe-3 pb-3">
      {# <div class="toast toast-{{ label|default('notice') }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
          <img src={{ asset('rabbit_move.gif', 'images') }} height="20" class="rounded me-2" alt="...">
          <strong class="me-auto fw-bold">{{ label|default('label')|trans }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {% if message|default(false) is iterable %}
            {{ message[0]|trans(message[1]) }}
          {% else %}
            {{ message|default('message')|trans }}
          {% endif %}
        </div>
      </div>
      <div class="toast toast-{{ label|default('notice') }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
          <img src={{ asset('rabbit_move.gif', 'images') }} height="20" class="rounded me-2" alt="...">
          <strong class="me-auto fw-bold">{{ label|default('label')|trans }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {% if message|default(false) is iterable %}
            {{ message[0]|trans(message[1]) }}
          {% else %}
            {{ message|default('message')|trans }}
          {% endif %}
        </div>
      </div> #}
      {% for label, messages in app.flashes(['notice', 'success','warning', 'error']) %}
        {% for message in messages %}
          <div class="toast toast-{{ label }}" role="alert" aria-live="assertive" aria-atomic="true" {#data-bs-autohide="false"#}>
            <div class="toast-header">
              <img src={{ asset('rabbit_move.gif', 'images') }} height="20" class="rounded me-2" alt="...">
              <strong class="me-auto fw-bold">{{ label|trans }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              {% if message is iterable %}
                {{ message[0]|trans(message[1]) }}
              {% else %}
                {{ message|trans }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    {% block body %}{% endblock %}
    {% if footer|default(false) == true %}
      {% block footer %}
        <footer class="container footer translate-middle-x">
          <div class="row mb-0">
            {% block footerContent %}
              <div class="col-12 d-flex align-items-center position-relative justify-content-center">
                <span class="search-icon">
                  {% include "_icon.html.twig" with  {icon: 'search'} %}
                </span>
                <input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
              </div>
            {% endblock %}
          </div>
        </footer>
      {% endblock %}
    {% endif %}
    <div id="rabbitBurrow">
      <div id="rabbit" class="rabbit"></div>
    </div>
  </body>
</html>
