<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark block">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('index') }}">Billie's Archive <img height="20" src="{{ asset('rabbit_idle.gif', 'images') }}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenuContent" aria-controls="navbarMenuContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenuContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('character_index') }}">Wiki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('character_index') }}">{{ "characters"|trans }}</a>
        </li>
        {% if app.user.stories is not empty %}
        <li class="nav-item dropstart">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stories
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            {% for story in app.user.stories %}
              <li><a class="dropdown-item" href="#">{{ story.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if app.user.chronicles is not empty %}
        <li class="nav-item dropstart">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chronicles
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            {% for chronicle in app.user.chronicles %}
              <li><a class="dropdown-item" href="#">{{ chronicle.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        <li class="nav-item dropstart">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ app.request.locale }}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: 'fr'}) )}}">fr</a></li>
            <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: 'en'}) )}}">en</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('logout') }}">{{ "logout"|trans }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>