{% extends "base.html.twig" %}

{% trans_default_domain 'app' %}

{% block title %}{{ "dashboard"|trans }}{% endblock %}

{% block body %}
<div class="container">
  <h1>{{ "dashboard"|trans }}</h1>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2><span>{{ "personal"|trans }}</span></h2>
      <div class="row block mx-1">
        <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('character_index')}}">{% include "_icon.html.twig" with {'icon': 'characters', 'hasTips': 0 } only %}{{ "characters.label"|trans }}</a></div>
        <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2 disabled" href="#">{% include "_icon.html.twig" with {'icon': 'notes', 'hasTips': 0 } only %} {{ "notes"|trans }}</a></div>
        <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2 disabled" href="#">{% include "_icon.html.twig" with {'icon': 'options', 'hasTips': 0 } only %} {{ "options"|trans }}</a></div>
        {% if is_granted('ROLE_GM') %}
          <div class="col-6 col-lg"><a class="btn btn-primary w-100 m-2" href="{{path('users')}}">{% include "_icon.html.twig" with {'icon': 'users', 'hasTips': 0 } only %} {{ "users"|trans }}</a></div>
        {% endif %}
        
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h2>&nbsp;</h2>
      <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target=".collapseWiki" aria-expanded="false" aria-controls="collapseExample">
        <h2>{% include "_icon.html.twig" with {'icon': 'wiki', 'hasTips': 0 , 'class': 'icon-lg pe-2'} only %}{{ "wiki"|trans }}</h2>
      </button>
    </div>
    <div class="col-12 container collapseWiki collapse mb-3">
        {% include "wiki/base.html.twig" %}
    </div>
    <div class="col-12 col-lg-6">
      <h2>{{ "chronicles.title"|trans }}</h2>
      {% if app.user.chronicles is not empty %}
        {% for chronicle in app.user.chronicles %}
          <div class="row block {{ chronicle.type }} mx-1 mb-3">
            <h3>{{ chronicle.name }}</h3>
            {% include "chronicle/_base.html.twig" %}
          </div>
        {% endfor %}
      {% else %}
        <div class="row justify-content-center">
          <div class="col-12">
            <h3 class="text-center block p-3">{{ "chronicles.none"|trans }}</h3>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-12 col-lg-6">
      <h2>{{ "stories.title"|trans }}</h2>
      {% for chronicle in app.user.stories %}
        <div class="row block {{ chronicle.type }} mx-1 mb-3">
          <h3>{{ chronicle.name }}</h3>
          <div class="row">
            {% include "chronicle/story/_base.html.twig" %}
          </div>
        </div>
      {% endfor %}
      <div class="row mx-1">
        <div class="col-12"><a class="btn btn-primary w-100 m-2" href="{{path('chronicle_new')}}">{{ "stories.new"|trans }}</a></div>
      </div>
    </div>
  </div>
{% endblock %}