{% extends "base.html.twig" %}

{% trans_default_domain 'app' %}

{% block title %}
  {{ "dashboard"|trans }}
{% endblock %}

{% block shortcuts %}{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-stylized my-2">{{ "dashboard"|trans }}</h1>
    <div
      class="row block rounded align-items-center m-1">
      <div class="col-12 col-lg-8 my-2">
        <div class="row text-truncate g-2">
          <div class="col-6 col-lg">
            <a class="btn btn-primary w-100" href="{{path('character_index')}}">{% include "_icon.html.twig" with {icon: 'characters' } only %}
              <span class="d-inline d-lg-none d-xl-inline">{{ "label.multi"|trans({}, 'character') }}</span>
            </a>
          </div>
          <div class="col-6 col-lg">
            <a class="btn btn-primary w-100 disabled" href="#">{% include "_icon.html.twig" with {icon: 'note' } only %}
              <span class="d-inline d-lg-none d-xl-inline">{{ "label.multi"|trans({}, 'note') }}</span>
            </a>
          </div>
          <div class="col-6 col-lg">
            <a class="btn btn-primary w-100" href="{{path('user_preferences')}}">{% include "_icon.html.twig" with {icon: 'gears' } only %}
              <span class="d-inline d-lg-none d-xl-inline">{{ "options"|trans }}</span>
            </a>
          </div>
          {% if is_granted('ROLE_GM') %}
            <div class="col-6 col-lg">
              <a class="btn btn-primary w-100" href="{{path('users')}}">{% include "_icon.html.twig" with {icon: 'users' } only %}
                <span class="d-inline d-lg-none d-xl-inline">{{ "user.label.multi"|trans }}</span>
              </a>
            </div>
            <div class="col-6 col-lg">
              <a class="btn btn-primary w-100" href="{{path('character_refresh_power_rating')}}">
                {% include "_icon.html.twig" with {icon: 'refresh' } only %}
                {% include "_icon.html.twig" with {icon: 'characters' } only %}
              </a>
            </div>
            <div class="col-6 col-lg">
              <a class="btn btn-primary w-100" href="{{path('description_new')}}">
                {% include "_icon.html.twig" with {icon: 'edit' } only %}
                {% include "_icon.html.twig" with {icon: 'info' } only %}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-lg-4 px-0 mb-2">
        <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target=".collapseWiki" aria-expanded="false" aria-controls="collapseWiki">
          <h3 class="text-strong">
            {% include "_icon.html.twig" with {icon: 'wiki' , class: 'icon-lg pe-2'} only %}
            {{ 'label'|trans({}, 'wiki') }}
          </h3>
        </button>
      </div>
      <div class="col-12 collapseWiki collapse">
        <hr>
        {% include "wiki/base.html.twig" with {isCollapsed: true} %}
      </div>
    </div>
    <div class="row g-0">
      <div class="col-12 col-lg-6">
        <h2>{{ "owned.multi"|trans({}, 'chronicle') }}</h2>
        {% for chronicle in app.user.chronicles %}
          <div class="row m-1">
            <div class="block {{ chronicle.type }} mb-3 rounded">
              {% include "chronicle/_base.html.twig" %}
            </div>
          </div>
        {% endfor %}
        {% if app.user.chronicles is empty %}
          <div class="row justify-content-center">
            <div class="col-12">
              <h3 class="text-center block p-3">{{ "none"|trans({}, 'chronicle') }}</h3>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-12 col-lg-6">
        <h2>{{ "story.owned.multi"|trans({}, 'chronicle') }}</h2>
        {% for chronicle in app.user.stories %}
          <div class="row m-1">
            <div class="block {{ chronicle.type }} mb-3 rounded">
              {% include "chronicle/story/_base.html.twig" %}
            </div>
          </div>
        {% endfor %}
        <a class="btn btn-primary w-100" href="{{path('chronicle_new')}}">
          {% include "_icon.html.twig" with {icon: 'chronicle'} only %}
          {{ 'story.new'|trans({}, 'chronicle') }}
        </a>
      </div>
    </div>
  </div>
{% endblock %}
