{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block body %}
<div class="d-flex align-items-center vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-5 block text-center pt-2">
        {% if error %}
          <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="user-select-none">
          <img src={{ asset('SkullWOD.webp', 'images') }} style="height:2em;" />
            Billie's Archive
          <img src={{ asset('SkullVTR.png', 'images') }} style="height:2em;" />
        </h1>

        <form action="{{ path('login') }}" method="post">
          <div class="mb-1 row">
            <label class="col-form-label col-xs-auto required user-select-none" for="username">{% include "_icon.html.twig" with {'icon': 'user'} %}</label>
            <div class="col-xs">
              <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-form-label col-xs-auto required user-select-none" for="password">{% include "_icon.html.twig" with {'icon': 'password'} %}</label>
            <div class="col-xs">
              <input type="password" id="password" name="_password" class="form-control"/>
              <label class="form-check form-switch text-start user-select-none"><input class="form-check-input" type="checkbox" name="_remember_me"/>{{ "remember"|trans }}</label>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col text-start">
              {% if app.request.locale != 'fr' %}
                <a class="btn btn-primary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: 'fr'}) )}}">Fr</a>
              {% else %}
                <a class="btn btn-primary" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: 'en'}) )}}">En</a>
              {% endif %}
              
            </div>
            <div class="col text-center">
              <a href="{{path('wiki_index')}}">
                {{ "wiki"|trans }}
                {% include "_icon.html.twig" with {'icon': 'wiki'} %}
              </a>
            </div>
            <div class="col text-end">
              <a href="{{path('app_register')}}">
                {{ "register"|trans }}
                <img class="float-end ps-2" height="22" src="{{ asset('rabbit_idle.gif', 'images') }}">
              </a>
            </div>
          </div>
          {# If you want to control the URL the user is redirected to on success
          <input type="hidden" name="_target_path" value="/account"/> #}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <button class="btn btn-primary w-100 mb-2" type="submit">
            {% include "_icon.html.twig" with {'icon': 'login'} %}
            {{ "login"|trans }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
