{% extends "character/sheet/discipline.html.twig" %}

{% trans_default_domain 'character' %}

{% block controller %}data-controller="dot"{% endblock %}

{% block data %}data-dot-base-value="{{ base }}" data-dot-min-value="{{ min }}" data-character--embrace-target="clanDiscipline" data-restricted="{{ discipline.isRestricted|number_format }}" data-id="{{ discipline.id }}"{% endblock %}

{% block class %}my-1{% endblock %}

{% block input %}
  <input class="discipline-value" value="0" type="hidden" name="embrace[disciplines][{{ discipline.id }}]" data-dot-target="input" data-action="change->dot#checkDots" data-character--embrace-target="disciplineValue">
{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check" id="{{ discipline.name ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
  <label class="btn dot {{ discipline.name }}" for="{{ discipline.name ~ '-' ~ value }}" 
    data-action="click->dot#activate click->character--embrace#disciplineUpdate"
    data-dot-value-param="{{ value }}">
  </label>
{% endblock %}
