<div class="d-flex flex-column block m-1 p-2 rounded position-relative h-100">
  {% if is_granted('ROLE_ST') %}
    <a class="position-absolute end-0" href="{{ path('possessed_vestment_edit', {id: vestment.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
  {% endif %}
  <h4>{{ vestment.name }}</h4>
  <hr>
  <div class="flex-fill">{{ vestment.effect|markdown_to_html }}</div>
  {# {% if vestment.statusEffects is not empty %} #}
    <div class="d-flex justify-content-between bdr-t pt-1">
      <div>
        {% for status in vestment.statusEffects %}
          {% include "_status_icon.html.twig" %}
          {# {% include "_icon.html.twig" with { icon: "#{status.type}s/#{status.choice}" } %}
          {{ status.choice }}
          {% if status.isLevelDependant %}
          {{ status.value }} / dot of {{ vice }}
          {% else %}
            {{ status.value }}
          {% endif %} #}
        {% endfor %}
      </div>
      <div class="d-flex flex-column justify-content-end">{% include "_source_block.html.twig" with {element: vestment,} %}</div>
    </div>
  {# {% endif %} #}
</div>