{% trans_default_domain 'arcanum' %}

  <div class="bdr bdr-accent p-1 my-2">
    <div {{ stimulus_controller('form-collection') }}
      data-form-collection-index-value="{{ form.arcana|length > 0 ? form.arcana|last.vars.name + 1 : 0 }}"
      data-form-collection-prototype-value="{{ form_widget(form.arcana.vars.prototype)|e('html_attr') }}"
    >
      <ul class="row g-1" {{ stimulus_target('form-collection', 'collectionContainer') }}>
        <h3 class="text-start">{{ "label.multi"|trans([]) }}</h3>
          {% for arcanum in form.arcana %}
            {{ form_row(arcanum)}}
          {% endfor %}
      </ul>
      <button type="button" class="btn btn-primary btn-lg m-2" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
        {{ "add"|trans }}
        {% include "_icon.html.twig" with {icon: 'add' } %}
      </button>
    </div>
  </div>
