{% trans_default_domain 'vampire' %}

{% extends "character_sheet/show/header.html.twig" %}

{% block name %}
<div class="col-12">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>
        <img class="invert" src="{{ asset(character.clan.emblem, 'clans_emblems') }}" style="height:1.5em;"/>
        {{ character.name }}
        <img class="invert" src="{% if character.clan.isBloodline %}{{ asset(character.clan.parentClan.emblem, 'clans_emblems') }}{% else %}{{ asset(character.clan.emblem, 'clans_emblems') }}{% endif %}" style="height:1.5em;"/>
        {% if character.player is not null and app.user != character.player %}
          ({{ character.player }})
        {% elseif character.isTemplate == true %}
          {% include "_icon.html.twig" with {'icon': 'generated', 'class': 'icon-xl ms-5'} %}
        {% endif %}
      </h1>
    </div>
  </div>
</div>
{% endblock %}

{% block leftCol %}
  <div class="row">
    <div class="col-12">
      <a href="{{ path("clan_show", {'id': character.clan.id}) }}">
        <span class="icon link-icon"><img src="{{ asset(character.clan.emblem, 'clans_emblems') }}"></span>
        {% if character.clan.isBloodline %}
          {{ character.clan.name }}
          ({{ character.clan.parentClan.name }})</a>
        {% else %}
          {{ character.clan.name }}
        {% endif %}
      </a>
    </div>
    <div class="col-12">
      {% block age %}{{ parent() }}{% endblock %}
    </div>
    <div class="col-12">
      {{ "death.age"|trans({"%gender%": "male", "%death%": character.deathAge|default(0) }) }}
      {{ "death.sire"|trans({"%sire%": character.sire|default('unknown') }) }}
    </div>
    <div class="col-12">
      {% block virtue %}{{ parent() }}{% endblock %}
    </div>
    <div class="col-12">
      {% block vice %}{{ parent() }}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block details2 %}
<div class="col-12">
  <a href="{{ path("clan_show", {'id': character.clan.id}) }}">
    {% if character.clan.isBloodline %}
      {% include "_icon.html.twig" with {'icon': 'bloodline'} %}
      {{ character.clan.name }}
      ({{ character.clan.parentClan.name }})</a>
    {% else %}
      {% include "_icon.html.twig" with {'icon': 'clan'} %}
      {{ character.clan.name }}
    {% endif %}
  </a>
</div>
{% endblock %}
