{% extends 'base.html.twig' %}

{% trans_default_domain 'clan' %}

{% set setting = "vampire" %}

{% block title %}
  {{ "bloodline.join"|trans }}
{% endblock %}

{% block body %}
  <div class="container block py-5">
    <h1>{{ vampire.name }}</h1>
    <h2>Your blood thicken...</h2>
    <form method="post">
      <div class="row">
        {% for bloodline in bloodlines %}
          <div class="col-12 col-md-6 col-lg-4 py-2" data-bs-toggle="collapse" data-bs-target=".description-{{ bloodline.id }}" aria-expanded="false" aria-controls="description-{{ bloodline.id }}">
            <input type="radio" class="btn-check" name="bloodline" id="{{ bloodline.id }}" autocomplete="off" value="{{ bloodline.id }}">
            <label class="btn btn-primary h-100" for="{{ bloodline.id }}">
              {% if bloodline.emblem is not null %}
                <img class="mx-auto d-block" src="{{ asset(bloodline.emblem, 'clans_emblems') }}" alt="{{ bloodline.name}}" height="200"/>
              {% endif %}
              {{ bloodline.name }}
              <div class="text p-3">{{ bloodline.short|markdown_to_html }}</div>
            </label>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <h2 class="py-3">{{ "description"|trans({}, 'app')}}</h2>
        <div id="accordionBloodlines" class="accordion">
          {% for bloodline in bloodlines %}
            <div class="description-{{ bloodline.id }} collapse" data-bs-parent="#accordionBloodlines">
              {% include "vampire/clan/_card.html.twig" with {clan : bloodline, 'isShown': false} %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-submit" type="submit">{{ "bloodline.join"|trans }}</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
