{% extends 'form.html.twig' %}

{% trans_default_domain 'app' %}

{% set setting = 'mage' %}
{% set organization = form.vars.data %}

{% block title %}{% endblock %}

{% block content_start %}
  <div class="row">
    <div class="col">
      {% if organization.emblem is not null %}
        <img class="mx-auto d-block" src="{{ asset(organization.emblem, 'organizations_emblems') }}" alt="{{ organization.name}}" height="200"/>
      {% endif %}
    </div>
    <div class="col">
      {% if organization.rune is not null %}
        <img class="mx-auto d-block" src="{{ asset(organization.rune, 'organizations_emblems') }}" alt="{{ organization.name}}" height="200"/>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>{{ "emblem"|trans }}</h5>
    </div>
    <div class="col">
      <h5>{{ "rune"|trans }}</h5>
    </div>
  </div>
{% endblock %}

{% block form %}
{{ form_row(form.name) }}
{{ form_row(form.emblem) }}
{{ form_row(form.rune) }}
{% if form.source|default(null) %}
  {{ form_row(form.source) }}
{% endif %}
{{ form_row(form.short) }}
<div class="row">
  <div class="col-12 col-lg-6">{{ form_row(form.description) }}</div>
  <div class="col-12 col-lg-6">{{ form_row(form.overview) }}</div>
  <div class="col-12 col-lg-6">{{ form_row(form.members) }}</div>
  <div class="col-12 col-lg-6">{{ form_row(form.philosophy) }}</div>
  <div class="col-12 col-lg-6">{{ form_row(form.observances) }}</div>
  <div class="col-12 col-lg-6">{{ form_row(form.titles) }}</div>
</div>
<div class="block">
  <div class="accordion block" id="accordionCovenant">

    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ form_label(form.RoteSpecialties) }}
        {{ form_help(form.RoteSpecialties) }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionCovenant">
      <div class="accordion-body">
        {{ form_widget(form.RoteSpecialties) }}
      </div>
    </div>
  </div>
</div>
{{ parent() }}
{% endblock %}