{% extends "_group_card.html.twig" %}

{% set element = clan %}
{% set route = "vampire_clan" %}

{% trans_default_domain 'clan' %}

{% block col_class %}col-12 col-lg{% endblock %}

{% block data %}
  data-name="{{ clan.name }}"
  data-parent="{{ clan.parentClan }}"
{% endblock %}

{% block name %}
  {{ clan.name }}
  {% if clan.homebrewFor is not null %}{% include "_icon.html.twig" with {icon : 'homebrew', class: 'accent' } only %}{% endif %}
{% endblock %}

{% block subname %}
  {% if clan.isBloodline is same as(true) %}
    {% if clan.parentClan %}
      <img data-bs-toggle="tooltip" data-bs-placement="top" title="{{ clan.parentClan }}" class="no-filter pe-2" src="{{ asset(clan.parentClan.symbol|default(clan.parentClan.emblem), 'clans_emblems') }}" style="height:2em;"/>
    {% else %}
      {{ "bloodline.parent.any"|trans }}
    {% endif %}
  {% elseif clan.symbol %}
    <img class="no-filter pe-2" src="{{ asset(clan.symbol, 'clans_emblems') }}" style="height:2em;"/>
  {% endif %}
  <h5>{{ clan.nickname }}</h5>
{% endblock %}

{% block image %}
  {# <blockquote class="m-2">{{ clan.quote }}</blockquote> #}
  {% if clan.emblem is not null %}
    <img class="logo" src="{{ asset(clan.emblem, 'clans_emblems') }}" alt="{{ clan.name}}" height="400"/>
  {% endif %}
{% endblock %}

{% block bonus %}
  {# <span class="text-dark">{{ clan.keywords }}</span> #}
  {% if clan.parentClan is null %}
    {% for attribute in clan.attributes %}
      {% if not loop.first %}
        <span class="text-strong">|</span>
      {% endif %}
      <span class="text-strong">
        {{ attribute.name }}
      </span>
    {% endfor %}
  {% endif %}

  <div class="col-12">{% include "_icon.html.twig" with {icon: 'discipline' } %}</div>
  {% for discipline in clan.disciplines %}
    {% if loop.last %}
      <span class="text-strong">&</span>
    {% elseif not loop.first %}
      <span class="text-strong">,</span>
    {% endif %}
    <div class="d-inline-block text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
      data-action="click->content#load"
      data-content-name-param="{{ discipline.name }}"
      data-content-type-param="{{ "label.single"|trans({}, 'discipline') }}"
      data-content-link-param="{{ path('vampire_discipline_show', {id: discipline.id}) }}"
    >
      {{ discipline.name }}
    </div>
  {% endfor %}
  {% if clan.devotions is not empty %}
    <div class="col-12">{% include "_icon.html.twig" with {icon: 'devotion' } %}</div>
    {% for devotion in clan.devotions %}
      {% if loop.last and not loop.first %}
        <span class="text-strong">&</span>
      {% elseif not loop.first %}
        <span class="text-strong">,</span>
      {% endif %}
      <div class="d-inline-block text-strong link" role="button" data-bs-toggle="modal" data-bs-target="#contentModal"
        data-action="click->content#load"
        data-content-name-param="{{ devotion.name }}"
        data-content-type-param="{{ "devotion.label.single"|trans({}, 'discipline') }}"
        data-content-link-param="{{ path('vampire_devotion_show', {id: devotion.id}) }}"
      >
        {{ devotion.name }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block action %}
  data-bs-toggle="modal" data-bs-target="#contentModal"
  data-action="click->content#load"
  data-content-name-param="{{ clan.name }}"
  data-content-type-param="{{ "label.single"|trans }}"
  data-content-link-param="{{ path('vampire_clan_show', {id: clan.id}) }}"
{% endblock %}

{% block short %}
  {{ clan.short|default("")|markdown_to_html }}
{% endblock %}
