        <div id="{{ clan.name }}" class="col-12 block block-wiki">
            {% if is_granted('ROLE_ST') %}
              <a class="float-end" href="{{ path(entity ~ '_edit', {'id': clan.id}) }}">{% include "icon.html.twig" with {'icon': 'edit', 'hasTips': 0} only %}</a>
            {% endif %}
            <div type="button" data-bs-toggle="collapse" data-bs-target="#clan-{{ clan.id }}" aria-expanded="false" aria-controls="{{ clan.id }}">
              <h3>{{ clan.name }} {% if clan.parentClan is not null %}({{ clan.parentClan.name }}){% endif %}</h3>
              {% if clan.emblem is not null %}
                <img class="mx-auto d-block" src="{{ asset(clan.emblem, 'clans_emblems') }}" alt="{{ clan.name}}" height="200"/>
              {% endif %}
              <div id="clan-{{ clan.id }}" class="collapse">
                <div class="fluff">{{ clan.short|default("")|markdown_to_html }}</div>
                <p class="text">{{ clan.description|default("")|markdown_to_html }}</p>
              </div>
              <div id="clan-{{ clan.id }}" class="collapse show fluff text-center mb-2">{{ clan.keywords }}</div>
            </div>
            <div id="clan-{{ clan.id }}" class="collapse show text-sub text-center mb-2">
              {% for discipline in clan.disciplines %}
                <a href="{{ path('discipline_show', {'id': discipline.id}) }}">{{ discipline.name }}</a>
              {% endfor %}
            </div>
        </div>