{% extends 'vampire/form.html.twig' %}

{% trans_default_domain 'clan' %}

{% block title %}{% if entity == "bloodline" %}{{ ("bloodline." ~ action)|trans }}{% else %}{{ action|trans }}{% endif %}{% endblock %}
{% block header %}{% include "_icon.html.twig" with {icon : entity, class: 'icon-lg'} only %}{% if entity == "bloodline" %}{{ ("bloodline." ~ action)|trans }}{% else %}{{ (action)|trans }}{% endif %}{% endblock %}

{% block form %}
{% set clan = form.vars.data %}
{% if clan.id %}
  <div class="row">
    <div class="col">
      {% if clan.emblem is not null %}
        <img class="mx-auto d-block" src="{{ asset(clan.emblem, 'clans_emblems') }}" alt="{{ clan.name}}" height="200"/>
      {% endif %}
    </div>
    <div class="col">
      {% if clan.symbol is not null %}
        <img class="mx-auto d-block" src="{{ asset(clan.symbol, 'clans_emblems') }}" alt="{{ clan.name}}" height="200"/>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>{{ "emblem"|trans(domain: "app") }}</h5>
    </div>
    <div class="col">
      <h5>{{ "symbol.label"|trans(domain: "mage") }}</h5>
    </div>
  </div>
{% endif %}
{{ parent() }}
{% endblock %}