{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block title %}Wiki{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ "clans.label"|trans }}</h1>
    <div class="row">
      <div class="col-auto block">
        <h4 class="d-inline-block text-start">{{ "toc"|trans({}, 'wiki') }}</h4> [<a data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="true" aria-controls="collapseToc">hide</a>]
        <ul id="collapseToc" class="toc collapse show pe-3 py-3">
          <p>Clans</p>
          {% for clan in clans %}
            <li>
              <a href="#{{ clan.name }}">{{ clan.name }}</a>
            </li>
          {% endfor %}
          <p>Bloodlines</p>
          {% for bloodline in bloodlines %}
            <li>
              <a href="#{{ bloodline.name }}">{{ bloodline.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col flex-grow block ms-5">
        <p>{{ description.value|default("")|markdown_to_html }}</p>
      </div>
    </div>
    <div class="row">
      <h2>Clans</h2>
      {% for clan in clans %}
        {% include "vampire/clan/card.html.twig" with {'clan' : clan} %}
      {% endfor %}
    </div>
    <div class="row">
      <h2>Bloodlines</h2>
      {% for bloodline in bloodlines %}
        {% include "vampire/clan/card.html.twig" with {'clan' : bloodline} %}
      {% endfor %}
    </div>
  </div>
{% endblock %}