{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% set footer = true %}

{% block title %}{{ "clans.label"|trans([], 'vampire') }}{% endblock %}

{% block bodyData %}
  data-controller="search" data-search-type-value="merit"
{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ "clans.label"|trans }}{% include "icon.html.twig" with {'icon' : entity, 'hasTips': 0 } only %}</h1>
    <div class="row">
      <div class="col-auto block">
        <h4 class="d-inline-block text-start">{{ "toc"|trans({}, 'wiki') }}</h4> [<a data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="true" aria-controls="collapseToc">hide</a>]
        <ul id="collapseToc" class="toc collapse pe-3 py-3">
          {% for clan in clans %}
            <li>
              <a href="#{{ clan.name }}">{{ clan.name }}</a>
            </li>
          {% endfor %}
          {% if bloodlines is defined %}
            <p class="mt-2">{{ "clan.bloodlines.label"|trans([], 'vampire') }}</p>
            {% for bloodline in bloodlines %}
              <li>
                <a href="#{{ bloodline.name }}">{{ bloodline.name }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col flex-grow block ms-5">
        <p>{{ description.value|default("")|markdown_to_html }}</p>
      </div>
      {% for clan in clans %}
        {% include "vampire/clan/card.html.twig" with {'clan' : clan} %}
      {% endfor %}
    </div>
    {% if bloodlines is defined %}
      <div class="row">
        <h1 class="mb-5 border-top pt-3">{{ "clan.bloodlines.label"|trans([], 'vampire') }}</h1>
        {% for bloodline in bloodlines %}
          {% include "vampire/clan/card.html.twig" with {'clan' : bloodline} %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon"><i class="fa-solid fa-magnifying-glass fa-fw"></i></span>
    <input class="search-field" type="text" data-search-target="query" data-action="search#getResults">
    <div id="expand_btn" class="position-absolute top-0 start-50 translate-middle" data-bs-toggle="collapse" data-bs-target=".footer-collapse" aria-expanded="false" aria-controls="footer-collapse">
      <span class="footer-collapse show"><i class="fa-solid fa-lg fa-circle-chevron-up"></i></span>
      <span class="footer-collapse collapse"><i class="fa-solid fa-lg fa-circle-chevron-down"></i></span>
    </div>
    {% if is_granted('ROLE_ST') %}
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('clan_new') }}">
          {% include "icon.html.twig" with {'icon' : 'add', 'hasTips': 0 } only %}
          {% include "icon.html.twig" with {'icon' : 'clan', 'hasTips': 1 } only %}
        </a>
        <a class="btn btn-primary" href="{{ path('bloodline_new') }}">
          {% include "icon.html.twig" with {'icon' : 'add', 'hasTips': 0 } only %}
          {% include "icon.html.twig" with {'icon' : 'bloodline', 'hasTips': 1 } only %}
        </a>
      </div>
    {% endif %}
  </div>
  <div class="col-auto py-3 footer-collapse collapse">
    {% for key, elements in search %}
      {% if key != 'parent' %}
        <h5 class="text-center pe-none">{{ (key ~ ".label")|trans }}</h5>
      {% else %}
        <h5 class="text-center pe-none">{{ ('clan.parent.label')|trans }}</h5>
      {% endif %}
      {% for element in elements %}
        <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
          <span class="d-none d-md-inline">{% if key != 'parent' %}{{ (key ~ "." ~ element)|trans }}{% else %}{{ element }}{% endif %}</span>
          {% include "icon.html.twig" with {'icon' : element, 'hasTips': 0 } only %}
        </a>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}