{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block title %}Wiki{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ "clans.label"|trans }}</h1>
    <div class="row">
      <div class="col-auto block">
        <h4 class="d-inline-block text-start">{{ "toc"|trans({}, 'wiki') }}</h4> [<a data-bs-toggle="collapse" href="#collapseToc" role="button" aria-expanded="true" aria-controls="collapseToc">hide</a>]
        <ul id="collapseToc" class="toc collapse show pe-3 py-3">
          <p>Clans</p>
          {% for clan in clans %}
            <li>
              <a href="#{{ clan.name }}">{{ clan.name }}</a>
            </li>
          {% endfor %}
          <p>Bloodlines</p>
          {% for bloodline in bloodlines %}
            <li>
              <a href="#{{ bloodline.name }}">{{ bloodline.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col flex-grow block ms-5">
        <p>{{ description.value|default("")|markdown_to_html }}</p>
      </div>
    </div>
    <div class="row">
      <h2>Clans</h2>
      {% for clan in clans %}
        <div id="{{ clan.name }}" class="col-12 block block-wiki">
          <div type="button" data-bs-toggle="collapse" data-bs-target="#clan-{{ clan.id }}" aria-expanded="false" aria-controls="{{ clan.id }}">
            <h3>{{ clan.name }}</h3>
            {% if clan.emblem is not null %}
              <img class="mx-auto d-block" src="{{ asset(clan.emblem, 'clans_emblems') }}" alt="{{ clan.name}}" height="200"/>
            {% endif %}
            <div id="clan-{{ clan.id }}" class="collapse show fluff text-center mb-2">{{ clan.keywords }}</div>
            <div id="clan-{{ clan.id }}" class="collapse">
              <div class="fluff">{{ clan.short|default("")|markdown_to_html }}</div>
              <p class="text">{{ clan.description|default("")|markdown_to_html }}</p>
            </div>
          </div>
        </div>
        {% if is_granted('ROLE_ST') %}
          <a href="{{ path(entity ~ '_edit', {'id': clan.id}) }}">{{ 'edit'|trans({}, 'app') }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <h2>Bloodlines</h2>
      {% for bloodline in bloodlines %}
        <div id="{{ bloodline.name }}" class="col-12 block block-wiki">
          <h3>{{ bloodline.name }}</h3>
          <div class="fluff">{{ bloodline.fluff|default("")|markdown_to_html }}</div>
          <p class="text">{{ bloodline.description|default("")|markdown_to_html }}</p>
          {% if is_granted('ROLE_ST') %}
            <a href="{{ path(entity ~ '_edit', {'id': bloodline.id}) }}">{{ 'edit'|trans({}, 'app') }}</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}