{% extends "base.html.twig" %}

{% trans_default_domain 'clan' %}

{% set setting = "vampire" %}
{% if bloodlines is defined %}
  {% set footer = true %}
  {% set hasExtraContent = true %}
{% endif %}
{% if bloodlines is defined and bloodlines is not empty %}
  {% set label = "bloodline.label.multi" %}
{% endif %}

{% block title %}
  {{ label|default("label.multi")|trans }}
{% endblock %}

{% block shortcuts %}
  {% if chronicle|default(false) == false %}
    {{ parent() }}
  {% else %}
    {% include "_back.html.twig" with {link: path('homebrew_index', {id: chronicle})} %}
    {% include "_top.html.twig" %}
  {% endif %}
  {% if is_granted('ROLE_ST') %}
    <a class="btn btn-primary mt-1" href="{{ path('vampire_clan_new', {filter: filter|default(null), id: id|default(null)}) }}">
      <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'add' } only %}</span>
      {% include "_icon.html.twig" with {icon : 'clan' } only %}
    </a>
    <a class="btn btn-primary mt-1" href="{{ path('vampire_clan_new', {'bloodline': true, filter: filter|default(null), id: id|default(null)}) }}">
      <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'add' } only %}</span>
      {% include "_icon.html.twig" with {icon : 'bloodline' } only %}
    </a>
  {% endif %}
{% endblock %}

{% block bodyController %}
  {{parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="path"
{% endblock %}

{% block body %}
  {% include "_title.html.twig" with {title: label|default("label.multi") , domain: "clan"} %}

  <div class="container-fluid block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>

    <div class="row g-2 py-2">
      {% if clans is defined and clans is not empty %}
        {% for clan in clans|sort((a, b) => a.name|lower <=> b.name|lower) %}
          {% if clans|length <= 5 %}
            {% include "vampire/clan/_card.html.twig" with { hasFew : true} %}
          {% else %}
            {% include "vampire/clan/_card.html.twig" %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if bloodlines is defined %}
        {% if clans is defined and clans is not empty %}
          <h1 class="mb-5 pt-3">
            {% include "_icon.html.twig" with {icon : 'bloodline', 'class' : "icon-lg" } only %}
            {{ "bloodline.label.multi"|trans }}
          </h1>
        {% endif %}
        {% for bloodline in bloodlines %}
          {% if bloodlines|length <= 5 %}
            {% include "vampire/clan/_card.html.twig" with { clan : bloodline, hasFew : true } %}
          {% else %}
            {% include "vampire/clan/_card.html.twig" with { clan : bloodline } %}
          {% endif %}
        {% endfor %}
      {% endif %}
  </div>
{% endblock %}

{% block footerContent %}
  {% include "_search.html.twig" with { type: "bloodline" } %}

  {% if bloodlines is defined %}
    <div class="col col-md text-center pt-3">
      <div class="text-center footer-collapse collapse">
        <h5 class="pe-none">
          {{ ("label.single")|trans }}
          {% include "_icon.html.twig" with {icon: "path"} %}
        </h5>
        {% for clan in search['parents'] %}
          {% if clan %}
            <a class="btn btn-primary btn-sm my-1" role="button" data-action="click->search#switchFilter" data-search-type-param="parent" data-search-filter-param="{{ clan }}">
              <span class="d-none d-lg-inline">
                {{ clan }}
              </span>
              <span class="icon px-3">
                <img src="{{ asset(clan.symbol|default(clan.emblem), 'clans_emblems') }}" style="height:2em;"/>
              </span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
