{% trans_default_domain 'gift' %}

<div class="col-12 col-md-6 my-3">
  <div id="rite-{{ rite.id }}" class="block p-3 my-3 h-100" data-bs-toggle="collapse" data-bs-target=".rite-text--{{ rite.id }}-{{ rite.id }}" type="button" aria-expanded="false" aria-controls="rite-text--{{ rite.id }}-{{ rite.id }}">
    {% if is_granted('ROLE_ST') and isNotModal|default(1) %}
      <a class="float-end" href="{{ path('werewolf_rite_edit', {'id': rite.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    <h4>{{ rite.name }}</h4>
      <div class="col text-center">
    {% if rite.costs is not empty %}
      {% include "werewolf/gift/_cost.html.twig" with { gift: rite, size: 'icon-sm' } %}
    {% endif %}
  </div>
    <div class="text-sub fst-italic">{{ rite.short|markdown_to_html }}</div>
    <div class="rite-text--{{ rite.id }}-{{ rite.id }} collapse bdr-t" data-bs-parent="#rite-{{ rite.id }}">
      {{ rite.details|markdown_to_html }}
    </div>
    {% include "_source_block.html.twig" with {element: rite, class: 'text-end fst-italic' } only %}
  </div>
</div>
