{% extends "base.html.twig" %}

{% set footer = true %}

{% trans_default_domain 'society' %}

{% block title %}{{ "label.multi"|trans }}{% endblock %}

{% block body %}
{% include "_back.html.twig" with {'link': path('chronicle_show', {'id': chronicle.id })} %}
<div class="container">
  <div class="row justify-content-center">
    <div class="block py-3">
      <h1 class="">{% include "_icon.html.twig" with {icon : "society", class: 'icon-lg' } only %}{{ "label.multi"|trans }}</h1>
      <h2 class="">{{ chronicle.name }}</h2>
      <div class="row">
        {% for society in chronicle.societies %}
          <div class="col-12 col-sm-6 col-lg-4 g-2">
            <a class="btn {{ society.setting|default("btn-secondary") }} w-100" href="{{ path('society_show', {'id': society.id }) }}">
              <h4 class="">
                {{ society.name }}
              </h4>
              {% if society.type %}
                <span class="">
                  {% include "_icon.html.twig" with {'icon' : society.type, class: 'accent' } only %}
                  {{ ('type.' ~ society.type)|trans }}
                  —
                </span>
              {% endif %}
              {% include "_icon.html.twig" with {'icon' : 'person', class: 'icon-sm' } only %}
              {# {% include "_icon_setting.html.twig" with {'setting' : society.setting, 'size': 1 } only %} #}
              <span class="accent">{{ society.characters|length }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center justify-content-center position-relative">
    <a class="btn btn-primary " href="{{ path('society_chronicle_new', {'chronicle': chronicle.id }) }}">
      {% include "_icon.html.twig" with {icon : 'add' } only %}
      {% include "_icon.html.twig" with {icon : 'group' } only %}
    </a>
  </div>
{% endblock %}