{% trans_default_domain 'vampire' %}

<div class="row block m-2 align-items-center justify-content-center px-2">
  <div class="col-auto text-center text-strong">
    {% include "_icon.html.twig" with { icon: 'arcana/' ~ arcanum.identifier } %}
    {{ arcanum.name }}
  </div>
  <div class="col-auto">
    <div class="my-1" role="group" data-controller="dot" data-dot-base-value="{{ base }}" data-dot-min-value="{{ min }}" data-character--awakening-target="arcana" data-id="{{ arcanum.id }}">
      <input class="arcanum-value" value="0" type="hidden" name="awakening[arcana][{{ arcanum.id }}]" data-dot-target="input" data-action="change->dot#checkDots" data-character--awakening-target="arcanumValue">
      <div class="dots">
        {% for value in 1..max %}
          {% if value >= 5 and value % 5 == 1 %}
            </div>
            <div class="dots">
          {% endif %}
          <input type="checkbox" class="btn-check" id="{{ "#{arcanum.name}-#{value}" }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
          <label class="btn dot {{ arcanum.name }}" for="{{ "#{arcanum.name}-#{value}" }}" 
            data-action="click->dot#activate click->character--awakening#arcanaUpdate"
            data-dot-value-param="{{ value }}">
          </label>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-12">
    {{ arcanum.short }}
  </div>
</div>