{% trans_default_domain 'organization' %}

<h2>{{ 'order.label.single'|trans }}</h2>
{{form_row(form.order)}}
{% for order in orders %}
  <div class="block-light mage-order-{{ order.id }} d-none mb-3 text-center p-2" data-character--awakening-target="orderDescription">
    <btn class="float-end" role="button" data-action="click->character--awakening#orderUnpicked">
      {% include "_icon.html.twig" with {icon: 'cancel', class: 'p-1'} only %}
    </btn>
    {% if order.emblem is not null %}
      <img class="mx-auto d-block" src="{{ asset(order.emblem, 'organizations_emblems') }}" alt="{{ order.name}}" height="200"/>
    {% endif %}
    {{ order.description|markdown_to_html }}
    <h4>{{ "rote.specialities"|trans({}, 'order') }}</h4>
    <span class="text-strong">
      {% for rote in order.RoteSpecialties %}
        <span class="mx-2">
          {% include "_icon.html.twig" with { icon: "skills/#{rote.identifier}" } %}
          {{ rote.name }}
        </span>
      {% endfor %}
    </span>
  </div>
{% endfor %}