{% trans_default_domain 'mage' %}

<div class="row">
  <div class="col-6">
    <div class="row">
      <label class="col-form-label col-sm-auto">{{ "gnosis.label"|trans }}</label>
      <div class="col-form-label col-sm text-center">
        <label>{{ "mana.max"|trans }}</label>
      </div>
    </div>
    {{ form_row(form.maxMana) }}
  </div>
  <div class="col-6">
    <div class="row">
      <label class="col-form-label col-sm-auto">{{ "gnosis.label"|trans }}</label>
      <div class="col-form-label col-sm text-center">
        <label>{{ "mana.max.turn"|trans }}</label>
      </div>
    </div>
    {{ form_row(form.maxManaPerTurn) }}
  </div>
</div>
