{% trans_default_domain 'item' %}

{% extends "_simple_card.html.twig" %}

{% block data %}
  data-search-target="item"
  data-name="{{ item.name }}"
  data-content-name-param="{{ item.name }}"
  data-content-type-param="{{ "label.single"|trans }}"
  data-content-link-param="{{ link|default(path('item_show', {id: item.id})) }}"
  {% if access_decision('edit', item) %}data-content-edit-param="{{ link|default(path('item_edit', { id: item.id })) }}"{% endif %}
{% endblock %}

{% block content %}
  <div class="row flex-grow-1 g-0">
    <div class="col-auto">
      {% if item.isContainer %}
        {% include "_icon.html.twig" with {icon: 'container', class: 'accent'} only %}
      {% endif %}
    </div>
    <div class="col text-strong text-center">
      {{ item.name }}
    </div>
    <div class="col-auto text-end">
      {% include "_icon.html.twig" with {icon: item.typeName} only %}
      {% if item.homebrewFor is not null %}
        {% include "_icon.html.twig" with {icon: 'homebrew', class: 'accent'} only %}
      {% endif %}
    </div>
  </div>
  <div class="row flex-column text-center">
    <div class="col">
      {% if item.img is not null %}
        <img class="mx-auto my-1 rounded" src="{{ asset(item.img, 'items') }}" alt="{{ item.name}}" height="40"/>
      {% endif %}
    </div>
    <div class="col-auto">
      {% if item.container is not null %}
        <span class="text-sub">
          {% include "_icon.html.twig" with {icon: 'container', class: ''} only %}
          {{ item.container }}
        </span>
      {% endif %}
    </div>
  </div>
{% endblock %}
