{% extends "character_sheet/skills/element.html.twig" %}

{% trans_default_domain 'skill' %}

{% block controller %}data-controller="dot"{% endblock %}

{% block data %}data-dot-base-value="{{ base }}" data-dot-min-value="{{ min }}"  data-id="{{ "skill." ~ skill }}" data-type="skill" data-name="{{ name }}"{% endblock %}

{# {% block specialty %}
{% endblock %} #}

{% block input %}
  {{ form_row(attribute(form.skills, skill), {'attr': {'value': base, 'data-dot-target': 'input', 'data-character--edit-target': 'dot' }}) }}
{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check {{ 'dots-' ~ skill }}" id="{{ skill ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" data-dot-target="dot">
  <label class="btn dot{% if value <= min %} dot-locked{% else %} dot-selectable{% endif %}" for="{{ skill ~ '-' ~ value }}"
    data-action="click->dot#activate click->character--edit#pay"
    data-dot-value-param="{{ value }}"
    data-character--edit-id-param="{{ skill }}"
    data-character--edit-type-param="skill"
    data-character--edit-name-param="{{ name }}"
    data-character--edit-value-param="{{ value }}"
    data-character--edit-base-param="{{ min }}"
  >
  </label>
{% endblock %}

{% block specialties %}
  <div id="{{ skill ~ "specialties" }}" class="row align-items-center px-2">
    <div class="col ps-5">
      <ul class="list-unstyled mb-1 text-strong">
        {% for specialty in specialties %}
          <li>
            {% include "_icon.html.twig" with {icon: 'specialty-item', class: 'icon-sm'} only %}
            {{ specialty.name }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="ps-5" role="button" data-action="click->character--edit#newSpecialty" data-character--edit-skill-param="{{ skill }}" data-character--edit-trans-param="{{ name }}">
      {% include "_icon.html.twig" with { icon: "add", class: "icon-sm valid" } %}
    </div>
  </div>
{% endblock %}