{% extends 'base.html.twig' %}

{% trans_default_domain 'user' %}

{% block body %}
	<div class="container block py-3 mt-5 text-center">
		<div class="row">
			<div class="col-1">Id</div>
			<div class="col-2 text-end">Username</div>
			<div class="col-1 text-start">Active?</div>
			<div class="col-3">Email</div>
			<div class="col-4">Actions</div>
		</div>
		{% for user in users %}
			{% set role = user.role|replace({'ROLE_': ''})|lower %}
			<div class="row pb-5">
				<div class="col-1">
					{% include "_icon.html.twig" with {icon: role, domain: 'user', label: user.role|trans } %}
					{{ user.id }}
				</div>
				<div class="col-2 text-end">
					{{ user.username }}
				</div>
				<div class="col-1 text-start">
					{% if user != "Ciol" %}
						<a href="{{path('user_activate', {'id' : user.id})}}">
							{% if not user.isVerified %}
								<span class="warning">N</span>o
							{% else %}
								<span class="accent">Y</span>es
							{% endif %}
						</a>
					{% endif %}
				</div>
				<div class="col-3 text-truncate">
					{{ user.email }}
				</div>
				<div class="col-4">
					<div class="d-flex flex-column text-start">
						{% if user.role != "ROLE_GM" and user != "Ciol" %}
							<a href="{{path('user_switch_role', {'id' : user.id, 'role': 'ROLE_GM'})}}">
								{% include "_icon.html.twig" with {icon: role} %}
								→
								{% include "_icon.html.twig" with {icon: 'gm'} %}
								<span class="d-none d-md-inline">{{ "switch.gm"|trans }}</span>
							</a>
						{% endif %}
						{% if user.role != "ROLE_ST" and user != "Ciol"  %}
							<a href="{{path('user_switch_role', {'id' : user.id, 'role': 'ROLE_ST'})}}">
								{% include "_icon.html.twig" with {icon: role} %}
								→
								{% include "_icon.html.twig" with {icon: 'st'} %}
								<span class="d-none d-md-inline">{{ "switch.st"|trans }}</span>
							</a>
						{% endif %}
						{% if user.role != "ROLE_PLAYER" and user != "Ciol" %}
							<a href="{{path('user_switch_role', {'id' : user.id, 'role': 'ROLE_PLAYER'})}}">
								{% include "_icon.html.twig" with {icon: role} %}
								→
								{% include "_icon.html.twig" with {icon: 'player'} %}
								<span class="d-none d-md-inline">{{ "switch.player"|trans }}</span>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% include "_back.html.twig" with {'link': path('index')} %}
</div>{% endblock %}
