
{% trans_default_domain 'blood-bather' %}


{% set bath = bloodbather.bath %}

<div class="row justify-content-center">
  <h1>{{ "bath.label"|trans }} {{ "bath.facet.label.multi"|trans }}</h1>
  <p class="text-sub fluff">{{ "bath.facet.help"|trans }}</p class="text-sub fluff">
  <div class="col-12">
    <h2>{{ "effects.label"|trans }}</h2>
    <p class="text-sub fluff">{{ "effects.help"|trans }}</p class="text-sub fluff">
    <div class="row justify-content-center">
      {% for facet in bath.effects %}
      <div class="col-12 col-md-6">
        <div class="block vampire m-1 p-2 rounded">
          <h3>{{ facet.title }} ({{ facet.modifier }})</h3>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="col-12 col-md-6">
    <h2>{{ "bath.label"|trans }}</h2>
    <p class="text-sub fluff">{{ "bath.help"|trans }}</p>
    <div class="row justify-content-center">
      {% for facet in bath.bath %}
      <div class="col-12">
        <div class="block vampire m-1 p-2 rounded">
          <h3>{{ facet.title }} ({{ facet.modifier }})</h3>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h2>{{ "blood.label"|trans }}</h2>
    <p class="text-sub fluff">{{ "blood.help"|trans }}</p>
    <div class="row justify-content-center">
      {% for facet in bath.blood %}
      <div class="col-12">
        <div class="block vampire m-1 p-2 rounded">
          <h3>{{ facet.title }} ({{ facet.modifier }})</h3>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h2>{{ "frequency.label"|trans }}</h2>
    <p class="text-sub fluff">{{ "frequency.help"|trans }}</p>
    <div class="row justify-content-center">
      {% for facet in bath.frequency %}
      <div class="col-12">
        <div class="block vampire m-1 p-2 rounded">
          <h3>{{ facet.title }} ({{ facet.modifier }})</h3>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h2>{{ "preparation.label"|trans }}</h2>
    <p class="text-sub fluff">{{ "preparation.help"|trans }}</p>
    <div class="row justify-content-center">
      {% for facet in bath.preparation %}
      <div class="col-12">
        <div class="block vampire m-1 p-2 rounded">
          <h3>{{ facet.title }} ({{ facet.modifier }})</h3>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<hr>
<a class="btn btn-primary w-100" href="{{ path('bloodbather_bath_setup', {id: bloodbather.id}) }}">Setup Bath</a>