
{% trans_default_domain 'blood-bather' %}


{% set bath = bloodbather.bath %}

<div class="row justify-content-center">
  <div class="col-12">
    <h1>{{ "bath.label"|trans }}</h1>
    {{ bath.description|markdown_to_html }}
    <h2>{{ "bath.facet.label.multi"|trans }}</h2>
    <p class="text-sub fluff">{{ "bath.facet.help"|trans }}</p class="text-sub fluff">
  </div>
  <div class="col-12">
    <h3><span class="accent">{{ "effects.label"|trans }}</span></h3>
    <p class="text-sub fluff">{{ "effects.help"|trans }}</p class="text-sub fluff">
    <div class="row justify-content-center">
      {% for facet in bath.effects|sort((a, b) => a.title <=> b.title) %}
      <div class="col-12 col-md-6">
        <div class="block vampire m-1 p-2 rounded">
          <h4>{{ facet.title }} ({{ facet.modifier }})</h4>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="col-12 col-md-6">
    <h3>{{ "bath.label"|trans }}</h3>
    <p class="text-sub fluff">{{ "bath.help"|trans }}</p>
    <div class="row justify-content-center">
      {% for facet in bath.bath|sort((a, b) => a.title <=> b.title) %}
      <div class="col-12">
        <div class="block vampire m-1 p-2 rounded">
          <h4>{{ facet.title }} ({{ facet.modifier }})</h4>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h3>{{ "blood.label"|trans }}</h3>
    <p class="text-sub fluff">{{ "blood.help"|trans }}</p>
    <div class="row justify-content-center">
      {% for facet in bath.blood|sort((a, b) => a.title <=> b.title) %}
      <div class="col-12">
        <div class="block vampire m-1 p-2 rounded">
          <h4>{{ facet.title }} ({{ facet.modifier }})</h4>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h3>{{ "frequency.label"|trans }}</h3>
    <p class="text-sub fluff">{{ "frequency.help"|trans }}</p>
    <div class="row justify-content-center">
      {% for facet in bath.frequency|sort((a, b) => a.title <=> b.title) %}
      <div class="col-12">
        <div class="block vampire m-1 p-2 rounded">
          <h4>{{ facet.title }} ({{ facet.modifier }})</h4>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h3>{{ "preparation.label"|trans }}</h3>
    <p class="text-sub fluff">{{ "preparation.help"|trans }}</p>
    <div class="row justify-content-center">
      {% for facet in bath.preparation|sort((a, b) => a.title <=> b.title) %}
      <div class="col-12">
        <div class="block vampire m-1 p-2 rounded">
          <h4>{{ facet.title }} ({{ facet.modifier }})</h4>
          <hr>
          {{ facet.description|markdown_to_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<hr>
<a class="btn btn-primary w-100" href="{{ path('bloodbather_bath_setup', {id: bloodbather.id}) }}">Setup Bath</a>