{% trans_default_domain 'spell' %}

<div class="col-12" data-name="{{ spell.name }}" data-level="{{ spell.level }}" data-arcana="{% for key, arcanum in spell.arcanaList %}{{ arcanum }} {% endfor %}" 
  role="button" data-bs-toggle="modal" data-bs-target="#contentModal" data-search-target="item" data-action="click->content#load"
  data-content-url-param="{{ link|default(path('mage_spell_fetch', {id: spell.id})) }}" 
  data-content-name-param="{{ spell.name }}"
  data-content-link-param="{{ link|default(path('mage_spell_show', {id: spell.id})) }}"
>
  <div class="row bdr-b py-1">
    <div class="col-6 col-lg-2 text-center text-md-end text-lg-start text-strong">
      {% include "_icon.html.twig" with { icon: "skills/#{spell.skill.identifier}" } %}
      {{ spell.name }}
    </div>
    <div class="col-6 col-lg-2">
      {% include "mage/spell/_short_arcana.html.twig" with { arcana : spell.arcana } %}
    </div>
    <div class="col-2">
      {% for rote in spell.rotes %}
        {% if rote.mageOrder %}
          <span class="icon">
            <img data-bs-toggle="tooltip" data-bs-placement="top" title="{{ rote.mageOrder }}" src="{{ asset(rote.mageOrder.rune|default(rote.mageOrder.emblem), 'organizations_emblems') }}"/>
          </span>
        {% else %}
          {% include "_icon.html.twig" with {icon: 'universal', label: 'universal'|trans({}, 'app')} %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-10 col-lg-4">
      {{ spell.short }}
    </div>
    <div class="col-12 col-lg-2 text-end">
      {% include "_source.html.twig" with { element: spell, isShort: true } %}
    </div>
  </div>
</div>
