{% if rote.isAvailable(chronicle|default(null)) %}
  <div class="col-12 my-1">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('mage_spell_rote_edit', {'id': rote.id}) }}">{% include "_icon.html.twig" with {icon: 'edit', class: 'p-1'} only %}</a>
    {% endif %}
    <div class="block p-2">
      <h4>
        {% if rote.mageOrder %}
          <span class="icon">
            <img src="{{ asset(rote.mageOrder.rune|default(rote.mageOrder.emblem), 'organizations_emblems') }}"/>
            {# <img src="{{ asset(rote.mageOrder.rune|default(rote.mageOrder.emblem), 'organizations_emblems') }}"/> #}
          </span>
        {% endif %}
        {{ rote.name }}
        
      </h4>
      <h5>
        {% include "_icon.html.twig" with { icon: rote.attribute.type} %}
        {{ rote.attribute }}
        {% include "_icon.html.twig" with { icon: rote.attribute.category} %}
      </h5>
      <div>{{ rote.description }}</div>

      {% include "_source_child.html.twig" with { element: rote, parent: spell } %}
    </div>
  </div>
{% endif %}
