{% extends 'base.html.twig' %}

{% trans_default_domain 'spell' %}
{% set setting = 'mage' %}
{% set footer = true %}
{% set hasExtraContent = true %}

{% block title %}
	{{ "label.multi"|trans }}
{% endblock %}

{% block shortcuts %}
  {% if chronicle|default(false) == false %}
    {{ parent() }}
  {% else %}
    {% include "_back.html.twig" with {link: path('homebrew_index', {id: chronicle})} %}
    {% include "_top.html.twig" %}
  {% endif %}
  {% if is_granted('ROLE_ST') %}
    <a class="btn btn-primary btn-sm mt-1" href="{{ path('mage_spell_new', {filter: filter|default(null), id: id|default(null)}) }}">
      {% include "_icon.html.twig" with {icon: 'add' } only %}
      <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon: 'spell' } only %}</span>
    </a>
  {% endif %}
{% endblock %}

{% block bodyController %}
  {{ parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="spell"
{% endblock %}

{% block body %}
  {% include "_title.html.twig" with { domain: "spell" } %}
  <div class="container block">
    <div class="row g-2 pb-2">
      {% for spell in spells %}
        {% include "mage/spell/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  {% include "_search.html.twig" with { type: "spell" } %}
  {# Search Block #}
  <div class="col col-md text-center pt-3">
    <div class="text-center footer-collapse collapse">
      {# Orders #}
      {% for order in mageOrders|default({}) %}
        <a class="btn btn-primary btn-sm my-1" role="button" data-action="click->search#switchFilter" data-search-type-param="order" data-search-filter-param="{{ order.name }}">
          <span class="icon">
            <img src="{{ asset(order.rune|default(order.emblem), 'organizations_emblems') }}"/>
            {# <img src="{{ asset(rote.mageOrder.rune|default(rote.mageOrder.emblem), 'organizations_emblems') }}"/> #}
          </span>
          <span class="d-none d-lg-inline">
            {{ order.name }}
          </span>
        </a>
      {% endfor %}
    </div>
    {# Arcana #}
    {% for arcanum in arcana|default({}) %}
      <a class="btn btn-primary btn-sm my-1" role="button" data-action="click->search#switchFilter" data-search-type-param="arcana" data-search-filter-param="{{ arcanum.name }}">
          {% include "_icon.html.twig" with { icon: "arcana/#{arcanum.identifier}"} %}
        <span class="d-none d-lg-inline">
          {{ arcanum.name }}
        </span>
      </a>
    {% endfor %}
    {# Level #}
    <div>
      {% for level in 1..5 %}
        <a class="btn btn-primary btn-sm my-1" role="button" data-action="click->search#switchFilter" data-search-type-param="level" data-search-filter-param="{{ level }}">
          {{ level }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
