{% extends 'base.html.twig' %}

{% trans_default_domain 'spell' %}
{% set setting = 'mage' %}
{% set footer = true %}
{% set hasExtraContent = true %}

{% block title %}
	{{ "label.multi"|trans }}
{% endblock %}

{% block bodyController %}{{ parent() }} search {% endblock %}

{% block bodyData %}
  data-search-type-value="spell"
{% endblock %}

{% block body %}
  {% include "_back.html.twig" %}
  {% include "_top.html.twig" %}
  {% include "_title.html.twig" with {domain: "spell"} %}
  <div class="container block">
    <div class="row g-2 pb-2">
      {% for spell in spells %}
        {% include "mage/spell/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    {% include "_search.html.twig" %}
    
    {# sorting options, for later TODO #}
    {# <h5 class="pe-none text-strong">{{ ("sort")|trans({}, 'app') }}</h5>
    <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="style" data-search-filter-param="1">
      <span class="d-none d-md-inline">{{ "level"|trans([], 'app') }}</span>
    </a>
    <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="style" data-search-filter-param="1">
      <span class="d-none d-md-inline">{{ "name"|trans([], 'app') }}</span>
    </a> #}
    {% if is_granted('ROLE_ST') %}
      <div class="ms-auto">
        <a class="btn btn-primary" href="{{ path('mage_spell_new', {filter: filter|default(null), id: id|default(null)}) }}">
          <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon: 'add' } only %}</span>
          {% include "_icon.html.twig" with {icon: 'spell' } only %}
        </a>
      </div>
    {% endif %}
  </div>
  {# search block #}
  {# {% set search = search|merge([{ title: item.title, ... }]) %} #}
  <div class="col-12 align-content-center py-3 footer-collapse collapse">
    <div class="text-center">
      {% for order in mageOrders|default({}) %}
        <a class="btn btn-primary btn-sm" role="button" data-action="click->search#switchFilter" data-search-type-param="order" data-search-filter-param="{{ order.name }}">
          <span class="icon">
            <img src="{{ asset(order.rune|default(order.emblem), 'organizations_emblems') }}"/>
            {# <img src="{{ asset(rote.mageOrder.rune|default(rote.mageOrder.emblem), 'organizations_emblems') }}"/> #}
          </span>
          <span class="d-none d-lg-inline">
            {{ order.name }}
          </span>
        </a>
      {% endfor %}
    </div>
    {# {% for key, elements in arcana %}
      {% if key == 'type' %}
        <h5 class="pe-none text-strong">{{ ("label.multi")|trans({}, 'content-type') }}</h5>
      {% else %}
        <h5 class="pe-none text-strong">{{ (key ~ ".label.multi")|trans }}</h5>
      {% endif %}
      {% for element in elements %}
        <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="{{ key }}" data-search-filter-param="{{ element }}">
          {% if key == 'type' %}
            <span class="d-none d-md-inline">{{ (element)|trans({}, 'content-type') }}</span>
            {% include "_icon.html.twig" with {icon : "type/" ~ element, label: element|trans({}, 'content-type') } only %}
          {% else %}
            <span class="d-none d-md-inline">{{ (key ~ "." ~ element)|trans }}</span>
            {% include "_icon.html.twig" with {icon : element } only %}
          {% endif %}
        </a>
      {% endfor %}
    {% endfor %} #}
  </div>
  {# <h5 class="text-strong">{{ ("label.multi")|trans({}, 'arcanum') }}</h5> #}
  <div class="text-center">
    {% for arcanum in arcana|default({}) %}
      <a class="btn btn-primary btn-sm" role="button" data-action="click->search#switchFilter" data-search-type-param="arcana" data-search-filter-param="{{ arcanum.name }}">
          {% include "_icon.html.twig" with { icon: "arcana/#{arcanum.identifier}"} %}
        <span class="d-none d-lg-inline">
          {{ arcanum.name }}
        </span>
      </a>
    {% endfor %}
  </div>
{% endblock %}
